<script type="text/javascript">
    $(document).ready(function () 
    {
	addAutoCompleteListCurrentCity('location-form');
    });
</script>
<div class="row no-margin">
    <div class="col-xs-12 nopad">
        <div class="row no-margin">
	    <div class="col-xs-12 nopad">
		<div id="location-form" class="row small_row_margin">
		    <div class="col-sm-6 col-xs-12 small_col_padding form-group channel_input_commun popup_input">
			<label class="form-check-label">{{'Country'|trans}}*</label>
			<select id="country" name="country" class="channel_input_commun" required>
			    <option value="">{{'Country'|trans}}*</option>
			    {% for item in countries_list %}
				<option value="{{item.code|raw}}">{{item.name|raw}}</option>
			    {% endfor %}
			</select>
		    </div>
		    <div class="col-sm-6 col-xs-12 small_col_padding form-group channel_input_commun popup_input">
			<label class="form-check-label">{{'City'|trans}}*</label>
			<input class="form-control" type="text" name="city" placeholder="{{'City'|trans}}*" data-id="" required>
		    </div>
		    <div class="col-sm-6 col-xs-12 small_col_padding form-group channel_input_commun popup_input">
			<label class="form-check-label">{{'Category'|trans}}*</label>
			<select name="category" class="channel_input_commun" required>
			    <option value="">{{'Category'|trans}}*</option>
			    {% for item in cat_array %}
				<option value="{{item.id|raw}}">{{item.name|raw}}</option>
			    {% endfor %}
			</select>
		    </div>
		    <div class="col-sm-6 col-xs-12 small_col_padding form-group channel_input_commun popup_input">
			<label class="form-check-label">{{'Title'|trans}}*</label>
			<input class="form-control" type="text" name="name" placeholder="{{'Album name'|trans}}*" maxlength="100" required>
		    </div>                        
		    <div class="col-xs-12 small_col_padding form-group channel_input_commun popup_input">
			<label class="form-check-label">{{'Description'|trans}}</label>
			<textarea name="description" class="col-xs-12" placeholder="{{'Description'|trans}}"></textarea>
		    </div>
		    <div class="col-xs-12 small_col_padding form-group channel_input_commun popup_input">
			<p class="error_hints"></p>
		    </div>
		</div>
		<div class="row small_row_margin">
		    <div class="col-sm-6 col-xs-12 small_col_padding">
			<button type="button" class="col-xs-12 btn create_but create_album_but">{{'save'|trans}}</button>
		    </div>
		</div>
	    </div>
        </div>
    </div>

</div>