{{ paging|raw }}
{#<ul>
    <li><a class="first_pg" href="#" title="{{ ' page'|trans }}"></a></li>
    <li><a class="prev_pg" href="#" title="{{ ' page'|trans }}"></a></li>
    <li><a href="#" title="{{ ' page'|trans }}">1</a> <span>.</span></li>
    <li><a href="#" title="{{ ' page'|trans }}">2</a> <span>.</span></li>
    <li><a href="#" title="{{ ' page'|trans }}">3</a> <span>.</span></li>
    <li class="active"><a href="#" title="{{ ' page'|trans }}">4</a> <span>.</span></li>
    <li><a href="#" title="{{ ' page'|trans }}">5</a> <span>.</span></li>
    <li><a href="#" title="{{ ' page'|trans }}">6</a> <span>.</span></li>
    <li><a href="#" title="{{ ' page'|trans }}">7</a> <span>.</span></li>
    <li><a href="#" title="{{ ' page'|trans }}">8</a> <span>.</span></li>
    <li><a href="#" title="{{ ' page'|trans }}">9</a> <span>.</span></li>
    <li><a href="#" title="{{ ' page'|trans }}">10</a> </li>
    <li><a class="next_pg" href="#" title="{{ ' page'|trans }}"></a></li>
    <li><a class="last_pg" href="#" title="{{ ' page'|trans }}"></a></li>
</ul>#}