<body>
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="padding-left: 17px; padding-right: 17px; width:600px;">
	<tbody>
	    {% include 'emails/header.twig' %}
	    <tr>
		<td style="font-size: 0; line-height: 0;" height="6" bgcolor="#ffffff">
		    &nbsp;
		</td>
	    </tr>
	    <tr>
		<td style="font-size: 0; line-height: 0;" height="2" bgcolor="#eac31a">
		    &nbsp;
		</td>
	    </tr>
	    <tr>
		<td bgcolor="#ffffff">
		    <p style="font-size: 22px; font-family: Arial; color: black; margin-top: 19px; line-height: 22px; font-weight: bold; margin-bottom: 0;">{{dealName|raw}} - {{departureTime|raw}}</p>
		</td>
	    </tr>
	    <tr>
		<td style="font-size: 0; line-height: 0;" height="41" bgcolor="#ffffff">
		    &nbsp;
		</td>
	    </tr>
	    <tr>
		<td>
		    <table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
			    <td width="219" height="35" style="text-align: left; font-size: 16px; background-color: #eac31a;font-family: Arial;">
				<p style="color:#fffffe; padding-left: 8px; margin-bottom: 0;margin-top: 0; font-weight: bold;">{{'Name of passenger'|trans}}</p>
			    </td>
			    <td style="font-size: 0; line-height: 0;" width="10">
				&nbsp;
			    </td>
			    <td width="351" height="35" style="text-align: left; font-size: 17px; background-color: #000000;font-family: Arial;">
				<p style="color: #ffffff;text-align: left; margin-bottom: 0; padding-left: 8px; margin-top: 0;">{{fullName|raw}}</p>
			    </td>
			</tr>
		    </table>
		</td>
	    </tr>
	    <tr>
		<td style="font-size: 0; line-height: 0;" height="10">
		    &nbsp;
		</td>
	    </tr>
	    <tr>
		<td>
		    <table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
			    <td width="219" height="35" style="text-align: left; font-size: 16px; background-color: #eac31a;font-family: Arial;">
				<p style="color:#fffffe; padding-left: 8px; margin-bottom: 0;margin-top: 0; font-weight: bold;">{{'Number of adults'|trans}}</p>
			    </td>
			    <td style="font-size: 0; line-height: 0;" width="10">
				&nbsp;
			    </td>
			    <td width="351" height="35" style="text-align: left; font-size: 17px; background-color: #000000;font-family: Arial;">
				<p style="color: #ffffff;text-align: left; margin-bottom: 0; padding-left: 8px; margin-top: 0;">{{numOfAdults|raw}}</p>
			    </td>
			</tr>
		    </table>
		</td>
	    </tr>
	    <tr>
		<td style="font-size: 0; line-height: 0;" height="10">
		    &nbsp;
		</td>
	    </tr>
	    <tr>
		<td>
		    <table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
			    <td width="219" height="35" style="text-align: left; font-size: 16px; background-color: #eac31a;font-family: Arial;">
				<p style="color:#fffffe; padding-left: 8px; margin-bottom: 0;margin-top: 0; font-weight: bold;">{{'Nuber of children'|trans}}</p>
			    </td>
			    <td style="font-size: 0; line-height: 0;" width="10">
				&nbsp;
			    </td>
			    <td width="351" height="35" style="text-align: left; font-size: 17px; background-color: #000000;font-family: Arial;">
				<p style="color: #ffffff;text-align: left; margin-bottom: 0; padding-left: 8px; margin-top: 0;">{{numOfChildren|raw}}</p>
			    </td>
			</tr>
		    </table>
		</td>
	    </tr>
	    <tr>
		<td style="font-size: 0; line-height: 0;" height="10">
		    &nbsp;
		</td>
	    </tr>
	    <tr>
		<td>
		    <table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
			    <td width="219" height="35" style="text-align: left; font-size: 16px; background-color: #eac31a;font-family: Arial;">
				<p style="color:#fffffe; padding-left: 8px; margin-bottom: 0;margin-top: 0; font-weight: bold;">{{'Booking price'|trans}}</p>
			    </td>
			    <td style="font-size: 0; line-height: 0;" width="10">
				&nbsp;
			    </td>
			    <td width="351" height="35" style="text-align: left; font-size: 17px; background-color: #000000;font-family: Arial;">
				<p style="color: #ffffff;text-align: left; margin-bottom: 0; padding-left: 8px; margin-top: 0;">{{totalPrice|raw}}</p>
			    </td>
			</tr>
		    </table>
		</td>
	    </tr>
	    <tr>
		<td style="font-size: 0; line-height: 0;" height="10">
		    &nbsp;
		</td>
	    </tr>
	    <tr>
		<td>
		    <table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
			    <td width="219" height="35" style="text-align: left; font-size: 16px; background-color: #eac31a;font-family: Arial;">
				<p style="color:#fffffe; padding-left: 8px; margin-bottom: 0;margin-top: 0; font-weight: bold;">{{'Date and time of activity'|trans}}</p>
			    </td>
			    <td style="font-size: 0; line-height: 0;" width="10">
				&nbsp;
			    </td>
			    <td width="351" height="35" style="text-align: left; font-size: 17px; background-color: #000000;font-family: Arial;">
				<p style="color: #ffffff;text-align: left; margin-bottom: 0; padding-left: 8px; margin-top: 0;">{{bookingDate|raw}} {{'at'|trans}} {{departureTime|raw}}</p>
			    </td>
			</tr>
		    </table>
		</td>
	    </tr>
	    <tr>
		<td style="font-size: 0; line-height: 0;" height="10">
		    &nbsp;
		</td>
	    </tr>
	    <tr>
		<td>
		    <table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
			    <td width="219" height="35" style="text-align: left; font-size: 16px; background-color: #eac31a;font-family: Arial;">
				<p style="color:#fffffe; padding-left: 8px; margin-bottom: 0;margin-top: 0; font-weight: bold;">{{'TouristTube Reference'|trans}}</p>
			    </td>
			    <td style="font-size: 0; line-height: 0;" width="10">
				&nbsp;
			    </td>
			    <td width="351" height="35" style="text-align: left; font-size: 17px; background-color: #000000;font-family: Arial;">
				<p style="color: #ffffff;text-align: left; margin-bottom: 0; padding-left: 8px; margin-top: 0;">{{bookingReference|raw}}</p>
			    </td>
			</tr>
		    </table>
		</td>
	    </tr>

	    <tr>
		<td style="font-size: 0; line-height: 0;" height="10">
		    &nbsp;
		</td>
	    </tr>
	    <tr>
		<td>
		    <table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
			    <td width="219" height="35" style="text-align: left; font-size: 16px; background-color: #eac31a;font-family: Arial;">
				<p style="color:#fffffe; padding-left: 8px; margin-bottom: 0;margin-top: 0; font-weight: bold;">{{'Booking Status'|trans}}</p>
			    </td>
			    <td style="font-size: 0; line-height: 0;" width="10">
				&nbsp;
			    </td>
			    <td width="351" height="35" style="text-align: left; font-size: 17px; background-color: #000000;font-family: Arial;">
				<p style="color: #ffffff;text-align: left; margin-bottom: 0; padding-left: 8px; margin-top: 0;">{{bookingStatus|raw}}</p>
			    </td>
			</tr>
		    </table>
		</td>
	    </tr>

	    <tr>
		<td style="font-size: 0; line-height: 0;" height="43">
		    &nbsp;
		</td>
	    </tr>
	    <tr>
		<td style="font-size: 0; line-height: 0;" height="2" bgcolor="#dfdfdf">
		    &nbsp;
		</td>
	    </tr>
	    <tr>
		<td style="font-size: 0; line-height: 0;" height="12">
		    &nbsp;
		</td>
	    </tr>
	    <tr>
		<td bgcolor="#ffffff">
		    <p style="font-size: 27px; font-family: Arial; color: black; margin-top: 0px; line-height: 27px; margin-bottom: 0;">{{'This is your voucher. Please print it'|trans}}</p>
		</td>
	    </tr>
	    <tr>
		<td style="font-size: 0; line-height: 0;" height="12">
		    &nbsp;
		</td>
	    </tr>
	    <tr>
		<td style="font-size: 0; line-height: 0;" height="2" bgcolor="#dfdfdf">
		    &nbsp;
		</td>
	    </tr>
	    <tr>
		<td style="font-size: 0; line-height: 0;" height="37">
		    &nbsp;
		</td>
	    </tr>
	    <tr>
		<td bgcolor="#ffffff">
		    <p style="font-size: 17px; font-family: Arial; color: black; margin-top: 0px; line-height: 17px; margin-bottom: 0;font-weight: bold;">{{'Important information:'|trans}}</p>
		</td>
	    </tr>
	    <tr>
		<td bgcolor="#ffffff">
		    <p style="font-size: 14px; font-family: Arial; color: #797979; margin-top: 0px; line-height: 14px; margin-bottom: 0;padding-top: 18px;padding-bottom: 17px;">{{voucherInfo|raw}}</p>
		</td>
	    </tr>
	    <tr>
		<td bgcolor="#ffffff">
		    <p style="font-size: 14px; font-family: Arial; color: #797979; margin-top: 0px; line-height: 17px; margin-bottom: 0;">{{'This voucher is your ticket and proof of purchase.'|trans}}</p>
		</td>
	    </tr>
	    <tr>
		<td bgcolor="#ffffff">
		    <p style="font-size: 14px; font-family: Arial; color: #797979; margin-top: 0px; line-height: 17px; margin-bottom: 0;">{{'You must print it and bring it with you.'|trans}}</p>
		</td>
	    </tr>
	    
	    {% include 'emails/footer.twig' %}
	</tbody>
    </table>
</body>