<body>
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="padding-left: 17px; padding-right: 17px; width:600px;">
	<tbody>
	    {% include 'emails/header.twig' %}
	    <tr>
		<td style="font-size: 0; line-height: 0;" height="6" bgcolor="#ffffff">
		    &nbsp;
		</td>
	    </tr>
	    <tr>
		<td style="font-size: 0; line-height: 0;" height="2" bgcolor="#eac31a">
		    &nbsp;
		</td>
	    </tr>
	    <tr>
		<td style="font-size: 0; line-height: 0;" height="41" bgcolor="#ffffff">
		    &nbsp;
		</td>
	    </tr>
	    <tr>
		<td>
                            <table width="478" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="46" height="16" colspan="2"></td>
                                    <td height="3" valign="top"></td>
                                </tr>
                                <tr>
                                    <td width="46" height="16" colspan="2"></td>
                                    <td valign="top"><span style="color: #000000; font-family:Arial, Helvetica, sans-serif; font-size:16px;line-height:20px;">{{'Dear'|trans}} {{user_name}},</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="46" height="16" colspan="2"></td>
                                    <td height="18"></td>
                                </tr>
                                <tr>
                                    <td width="46" height="16" colspan="2"></td>
                                    <td valign="top"><span style="color: #000000; font-family:Arial, Helvetica, sans-serif; font-size:16px;line-height:20px;">
{{'You requested to reset your password on Tourist Tube.'|trans}}<br />
<a href="{{change_pass_lnk}}" target="_blank" style="color: #000000; font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold;line-height:20px;"><u>{{'Click here'|trans}}</u></a> {{'to change your password'|trans}}</span>
</td>
                                </tr>
                                <tr>
                                    <td width="46" height="16" colspan="2"></td>
                                    <td height="18"></td>
                                </tr>
                                <tr>
                                    <td width="46" height="16" colspan="2"></td>
                                    <td valign="top"><span style="color: #000000; font-family:Arial, Helvetica, sans-serif; font-size:16px;line-height:20px;">
{{'If you did not ask to reset your password, please '|trans}} 
<a href="{{tellus_lnk}}" target="_blank" style="color: #000000; font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold;line-height:20px;"> <u>{{'tell us.'|trans}}</u></a></span></td>
                                </tr>
                                
                                <tr>
                                    <td width="46" height="16" colspan="2"></td>
                                    <td valign="top">
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td width="46" height="16" colspan="2"></td>
                                    <td valign="top">
                                        <font style="color: #000000; font-family:Arial, Helvetica, sans-serif; font-size:16px;line-height:20px;" size="1"><i>{{'Best Regards,'|trans}}<br />{{'TouristTube Team'|trans}}</i></font>
                                    </td>
                                </tr>
                            </table>
		</td>
	    </tr>
	    {% include 'emails/footer.twig' %}
	</tbody>
    </table>
</body>
