<body>
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="750" style="font-family: Arial; padding-left: 17px; padding-right: 17px; width:750px;">
        <tbody>
            {% include 'emails/header.twig' %}
                <tr>
                    <td bgcolor="#ffffff">
                        <p style="font-size: 17px; font-family: Arial; color: black; margin-top: 7px; line-height: 22px; margin-bottom: 0px;">{{'E-ticket'|trans}} / {{'Name'|trans}}: {{emailData.PassengerDetails[0].first_name}} {{emailData.PassengerDetails[0].surname}}</p>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff">
                        <p style="font-size: 17px; font-family: Arial; color: black; margin-top: 10px; line-height: 22px; margin-bottom: 10px;">{{'Flight overview'|trans}}</p>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff">
                        <p style="font-size: 13px; font-family: Arial; color: black; margin-top: 0px; line-height: 20px; margin-bottom: 0px;">{{'Your reservation is booked and confirmed . There is no need to call us to reconfirm this reservation'|trans}}. </p>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 0; line-height: 0;" height="5">
                        &nbsp;
                    </td>
                </tr>                
                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td width="178" height="28" style="text-align: left; background-color: #ffffff;font-family: Arial;">
                                    <p style="color:#616161; padding-left: 0px; margin-bottom: 0;margin-top: 0; text-transform: uppercase; font-size: 12px;">{{'Booking ID'|trans}} </p>
                                </td>
                                <td style="font-size: 0; line-height: 0;" width="4">
                                    &nbsp;
                                </td>
                                <td width="534" height="28" style="text-align: left; background-color: #ffffff;font-family: Arial;">
                                    <p style="color: #000000;text-align: left; margin-bottom: 0; padding-left: 0px;margin-top: 0; font-size: 14px;">{{ emailData.Pnr|raw }}</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        {% for passengerDetail in emailData.PassengerDetails %}
                            <tr>
                                <td width="178" height="28" valign="top" style="text-align: left; background-color: #ffffff;font-family: Arial;">
                                    <p style="color:#616161; padding-left: 0px; margin-bottom: 0;margin-top: 0; text-transform: uppercase; font-size: 12px;">{% if loop.index == 1 %}{{'Ticket'|trans}} #{% endif %} </p>
                                </td>
                                <td style="font-size: 0; line-height: 0;" width="4">
                                    &nbsp;
                                </td>
                                <td width="534" height="28" style="text-align: left; background-color: #ffffff;font-family: Arial;">
                                    <p style="color: #000000;text-align: left; margin-bottom: 0; padding-left: 0px;margin-top: 0; font-size: 14px;">{{ passengerDetail.ticket_number|raw }} ({{passengerDetail.first_name|raw}} {{passengerDetail.surname|raw}})</p>

                                    <p style="color: #000000;text-align: left; margin-bottom: 5px; padding-left: 0px;margin-top: 5; font-size: 12px;">{{'Leaving Baggage'|trans}}: {{passengerDetail.leaving_baggage_info}} | {{'Returning Baggage'}}: {{passengerDetail.returning_baggage_info}}</p>
                                </td>
                            </tr>
			    <tr>
                                <td style="font-size: 0; line-height: 5px;" colspan="3" height="5">
                                    &nbsp;
                                </td>
                            </tr>
                        {% endfor %}
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 0; line-height: 0;" height="15">
                        &nbsp;
                    </td>
                </tr>
                {% for flight_segment in emailData.FlightSegments.leaving.flight_info %}
                    {% if flight_segment.stop_indicator == 1 %}
                        <tr valign="top" height="15">
                            <td>
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td width="157" style="font-size: 0; line-height: 0;"></td>
                                        <td style="font-size: 0; line-height: 0;" height="2" bgcolor="#e6e6e6">&nbsp;</td>
                                    </tr>
                                </table>
                            </td>                            
                        </tr>
                        <tr>
                            <td>
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td width="93" height="12" style="text-align: left; background-color: #ffffff;font-family: Arial;">

                                        </td>
                                        <td width="64" height="12" style="text-align: center; background-color: #ffffff;font-family: Arial;">

                                        </td>
                                        <td width="240" height="12" style="text-align: left; background-color: #ffffff;font-family: Arial;">
                                            <p style="color: #42c2de;text-align: left; margin-bottom: 13px; padding-left: 0px;margin-top: 0; font-size: 13px; line-height: 17px;">
                                            {{'Stop'|trans}}
                                            </p>
                                        </td>
                                        <td height="12" style="text-align: right; background-color: #ffffff;font-family: Arial;">
                                            <p style="color: #000000;text-align: right; margin-bottom: 13px; padding-left: 0px;margin-top: 0; font-size: 14px; line-height: 17px;">{{flight_segment.stop_duration|raw}}</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr valign="top" height="15">
                            <td>
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td width="157" style="font-size: 0; line-height: 0;"></td>
                                        <td style="font-size: 0; line-height: 0;" height="2" bgcolor="#e6e6e6">&nbsp;</td>
                                    </tr>
                                </table>
                            </td>                            
                        </tr>
                    {% else %}
                        <tr>
                            <td>
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td width="35" height="12" style="text-align: center; background-color: #ffffff; padding:0px; border: none;">
                                            <img src="{{ generateMediaURL('/media/images/goplane.png', true)}}" alt="goplane" width="29" height="12" style="display: block;" />
                                        </td>
                                        <td width="681" height="12" style="background-color: #ffffff;padding:0px; border: none;">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td style="font-size: 0; line-height: 0;" width="681" height="2" bgcolor="#42c2de">
                                                        &nbsp;
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td bgcolor="#ffffff">
                                <p style="font-size: 17px; font-family: Arial; color: black; margin-top: 13px; line-height: 12px; margin-bottom: 13px;">{{'Departure'|trans}}</p>
                            </td>
                        </tr>
                    {% endif %}
                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td width="93" height="12" style="text-align: left; background-color: #ffffff;font-family: Arial;">
                                    <p style="color:#000000; padding-left: 0px; margin-bottom: 0;margin-top: 0; font-weight: bold; font-size: 15px;line-height: 12px;">{{flight_segment.departure_date|date('D d M')}}</p>
                                </td>
                                <td width="34" height="12" style="text-align: center; background-color: #ffffff;font-family: Arial;">
                                    <p style="color: #000000; margin-bottom: 0; padding-left: 0px;margin-top: 0; font-size: 14px;font-weight: bold;line-height: 12px;margin-top: -6px;">.</p>
                                </td>
                                <td width="270" height="12" style="text-align: left; background-color: #ffffff;font-family: Arial;">
                                    <p style="color: #000000;margin-bottom: 0; padding-left: 0px;margin-top: 0; font-size: 14px;line-height: 12px;">{{flight_segment.airline_name|raw}}</p>
                                </td>
                                <td width="319" height="12" style="text-align: right; background-color: #ffffff;font-family: Arial;">
                                    {% for pnr, airline in emailData.AirlinePnr %}
                                        <p style="color: #616161;margin-bottom: 0; padding-left: 0px;margin-top: 0; font-size: 12px;line-height: 12px;">{{'Confirmation'|trans}} <span style="color: black;">{{ pnr|raw }}</span></p>
                                    {% endfor %}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 0; line-height: 0;" height="32">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td width="157" height="120" style="text-align: left; background-color: #ffffff;font-family: Arial; vertical-align: top;">
                                    <p style="color: #000000;text-align: left; margin-bottom: 0; padding-left: 0px;margin-top: 0; font-size: 14px; line-height: 17px;">{{flight_segment.airline_name|raw}}</p>
                                    <p style="color: #000000;text-align: left; margin-bottom: 0; padding-left: 0px;margin-top: 0; font-size: 14px; line-height: 17px;">{{flight_segment.airline_code|raw}}{{flight_segment.flight_number|raw}}</p>
                                    <p style="color: #6a6969;text-align: left; margin-bottom: 0; padding-left: 0px;margin-top: 0; font-size: 12px; line-height: 17px;">{{flight_segment.cabin|raw}}</p>
                                </td>
                                <td width="43" height="120" style="text-align: left; background-color: #ffffff;font-family: Arial; vertical-align: top;">
                                    <p style="color: #000000;text-align: left; margin-bottom: 13px;padding-left: 0px;margin-top: 0; font-size: 14px; line-height: 17px;">{{flight_segment.departure_time|raw}}</p>
                                    <p style="color: #42c2de;text-align: left; margin-bottom: 13px; padding-left: 0px;margin-top: 0; font-size: 13px; line-height: 17px;">
                                    {#{{'direct'|trans}}#}&nbsp;
                                    </p>
                                    <p style="color: #000000;text-align: left; margin-bottom: 0; padding-left: 0px;margin-top: 0; font-size: 14px; line-height: 17px;">{{flight_segment.arrival_time|raw}}</p>
                                </td>
                                <td width="30" height="120" style="text-align: center; background-color: #ffffff;font-family: Arial;vertical-align: top;">
                                    <img src="{{ generateMediaURL('/media/images/fromtologo.png', true)}}" alt="fromtologo" width="6" height="71" style="display: block; margin: 0 auto; margin-top: 3px;" />
                                </td>
                                <td width="286" height="120" style="text-align: left; background-color: #ffffff;font-family: Arial;vertical-align: top;">
                                    <p style="color: #000000;text-align: left; margin-bottom: 0; padding-left: 0px;margin-top: 0; font-size: 12px; line-height: 17px;">{{flight_segment.origin_airport_code|raw}}</p>
                                    <p style="color: #000000;text-align: left; margin-bottom: 0; padding-left: 0px;margin-top: 0; font-size: 12px; line-height: 17px;">{{flight_segment.origin_airport|raw}}</p>
                                    <p style="color: #000000;text-align: left; margin-bottom: 0; padding-left: 0px;margin-top: 30px; font-size: 12px; line-height: 17px;">{{flight_segment.destination_airport_code|raw}}</p>
                                    <p style="color: #000000;text-align: left; margin-bottom: 0; padding-left: 0px;margin-top: 0; font-size: 12px; line-height: 17px;">{{flight_segment.destination_airport|raw}}</p>
                                    <p style="color: #6a6969;text-align: left; margin-bottom: 0; padding-left: 0px;margin-top: 0; font-size: 11px; line-height: 17px;">{{flight_segment.arrival_terminal|raw}}</p>
                                </td>
                                <td width="200" height="120" style="text-align: right; background-color: #ffffff;font-family: Arial;vertical-align: top;">
                                    <p style="color: #000000;text-align: right; margin-bottom: 0; padding-left: 0px;margin-top: 32px; font-size: 14px; line-height: 17px;">{{flight_segment.flight_duration_attr|raw}}{#{% if flight_segment.stop_info is iterable %}
                                    {{flight_segment.flight_duration_attr|raw}}
                                    {% else %}
                                    {{flight_segment.flight_duration|raw}}
                                    {% endif %}#}
                                    </p>
                                </td>
                            </tr>
                            {% if flight_segment.stop_info is iterable %}
                                <tr valign="top" height="2">
                                    <td width="157" style="font-size: 0; line-height: 0;"></td>
                                    <td style="font-size: 0; line-height: 0;" height="2" bgcolor="#e6e6e6" colspan="4">&nbsp;</td>                         
                                </tr>
                                <tr valign="top" height="13">
                                    <td width="157" style="font-size: 0; line-height: 0;"></td>
                                    <td height="0" colspan="4">&nbsp;</td>                         
                                </tr>
                                <tr>
                                    <td height="12" style="text-align: left; background-color: #ffffff;font-family: Arial;"></td>
                                    <td height="12" style="text-align: left; background-color: #ffffff;font-family: Arial;">
                                        <p style="color: #42c2de;text-align: left; margin-bottom: 13px; padding-left: 0px;margin-top: 0; font-size: 13px; line-height: 17px;">{{'Stop'|trans}}</p>
                                    </td>
                                    <td height="12" style="text-align: center; background-color: #ffffff;font-family: Arial;"></td>
                                    <td height="12" style="text-align: right; background-color: #ffffff;font-family: Arial;" colspan="2">
                                        <p style="color: #000000;text-align: right; margin-bottom: 13px; padding-left: 0px;margin-top: 0; font-size: 14px; line-height: 17px;">{{flight_segment.stop_info[0].stop_duration|raw}}</p>
                                    </td>
                                </tr>
                                <tr valign="top" height="2">
                                    <td width="157" style="font-size: 0; line-height: 0;"></td>
                                    <td style="font-size: 0; line-height: 0;" height="2" bgcolor="#e6e6e6" colspan="4">&nbsp;</td>                         
                                </tr>
                                <tr valign="top" height="13">
                                    <td width="157" style="font-size: 0; line-height: 0;"></td>
                                    <td height="0" colspan="4">&nbsp;</td>                         
                                </tr>
                                {#<tr>
                                    <td></td>
                                    <td width="43" style="text-align: left; background-color: #ffffff;font-family: Arial; vertical-align: top;">
                                        <p style="color: #42c2de;text-align: left; margin-bottom: 25px; padding-left: 0px;margin-top: 0; font-size: 13px; line-height: 17px;">
                                        1 {{'Stop'|trans}}
                                        </p>                                </td>
                                    <td width="30" style="text-align: center; background-color: #ffffff;font-family: Arial;vertical-align: top;">
                                        &nbsp;
                                    </td>
                                    <td width="286" style="text-align: left; background-color: #ffffff;font-family: Arial;vertical-align: top; font-size: 13px; line-height: 17px;">
                                        {{'in'|trans}} {{flight_segment.stop_info[0].origin_city|raw}} ({{flight_segment.stop_info[0].origin_airport_code|raw}})
                                    </td>
                                    <td width="200" style="text-align: right; background-color: #ffffff;font-family: Arial;vertical-align: top;">
                                        <p style="color: #000000;text-align: right; margin-bottom: 0; padding-left: 0px;margin-top: 0px; font-size: 14px; line-height: 17px;">{{flight_segment.stop_info[0].stop_duration|raw}}</p>
                                    </td>
                                </tr>#}
                                <tr>
                                    <td width="157" height="120" style="text-align: left; background-color: #ffffff;font-family: Arial; vertical-align: top;">
                                        <p style="color: #000000;text-align: left; margin-bottom: 0; padding-left: 0px;margin-top: 0; font-size: 14px; line-height: 17px;">{{flight_segment.stop_info[0].airline_name|raw}}</p>
                                        <p style="color: #000000;text-align: left; margin-bottom: 0; padding-left: 0px;margin-top: 0; font-size: 14px; line-height: 17px;">{{flight_segment.stop_info[0].airline_code|raw}}{{flight_segment.stop_info[0].flight_number|raw}}</p>
                                        <p style="color: #6a6969;text-align: left; margin-bottom: 0; padding-left: 0px;margin-top: 0; font-size: 12px; line-height: 17px;">{{flight_segment.stop_info[0].cabin|raw}}</p>
                                    </td>
                                    <td width="43" height="120" style="text-align: left; background-color: #ffffff;font-family: Arial; vertical-align: top;">
                                        <p style="color: #000000;text-align: left; margin-bottom: 13px;padding-left: 0px;margin-top: 0; font-size: 14px; line-height: 17px;">{{flight_segment.stop_info[0].departure_time|raw}}</p>
                                        <p style="color: #42c2de;text-align: left; margin-bottom: 13px; padding-left: 0px;margin-top: 0; font-size: 13px; line-height: 17px;">
                                        &nbsp;
                                        </p>
                                        <p style="color: #000000;text-align: left; margin-bottom: 0; padding-left: 0px;margin-top: 0; font-size: 14px; line-height: 17px;">{{flight_segment.stop_info[0].arrival_time|raw}}</p>
                                    </td>
                                    <td width="30" height="120" style="text-align: center; background-color: #ffffff;font-family: Arial;vertical-align: top;">
                                        <img src="{{ generateMediaURL('/media/images/fromtologo.png', true)}}" alt="fromtologo" width="6" height="71" style="display: block; margin: 0 auto; margin-top: 3px;" />
                                    </td>
                                    <td width="286" height="120" style="text-align: left; background-color: #ffffff;font-family: Arial;vertical-align: top;">
                                        <p style="color: #000000;text-align: left; margin-bottom: 0; padding-left: 0px;margin-top: 0; font-size: 12px; line-height: 17px;">{{flight_segment.stop_info[0].origin_airport_code|raw}}</p>
                                        <p style="color: #000000;text-align: left; margin-bottom: 0; padding-left: 0px;margin-top: 0; font-size: 12px; line-height: 17px;">{{flight_segment.stop_info[0].origin_airport|raw}}</p>
                                        <p style="color: #000000;text-align: left; margin-bottom: 0; padding-left: 0px;margin-top: 30px; font-size: 12px; line-height: 17px;">{{flight_segment.stop_info[0].destination_airport_code|raw}}</p>
                                        <p style="color: #000000;text-align: left; margin-bottom: 0; padding-left: 0px;margin-top: 0; font-size: 12px; line-height: 17px;">{{flight_segment.stop_info[0].destination_airport|raw}}</p>
                                        <p style="color: #6a6969;text-align: left; margin-bottom: 0; padding-left: 0px;margin-top: 0; font-size: 11px; line-height: 17px;">{{flight_segment.stop_info[0].arrival_terminal|raw}}</p>
                                    </td>
                                    <td width="200" height="120" style="text-align: right; background-color: #ffffff;font-family: Arial;vertical-align: top;">
                                        <p style="color: #000000;text-align: right; margin-bottom: 0; padding-left: 0px;margin-top: 32px; font-size: 14px; line-height: 17px;">{{flight_segment.stop_info[0].flight_duration_attr|raw}}</p>
                                    </td>
                                </tr>
                            {% endif %}
                        </table>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff">
                        <p style="color: #6a6969;margin-bottom: 22px; padding-left: 0px;margin-top: 0px; font-size: 11px; line-height: 17px;">
                            {{'Bag fees'|trans}}: {{'Baggage fees when purchased at the airport (Prices may be cheaper if purchased'|trans}} {{'online with'|trans}} {{emailData.FlightSegments.leaving.main_airline|raw}})&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;{{'Carry on'|trans}}: {{'No fee'|trans}}&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;{{'1st checked bag'|trans}}: {{'No fee up to'|trans}} 30 kg&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;{{'2nd checked bag'|trans}}: $19.00 per kg&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;{{'Baggage Information'|trans}}: {{emailData.FlightSegments.leaving.main_airline|raw}}
                        </p>
                    </td>
                </tr>
                {% endfor %}
                {% if emailData.FlightSegments.returning is defined %}
                {% for flight_segment in emailData.FlightSegments.returning.flight_info %}
                    {% if flight_segment.stop_indicator == 1 %}
                        <tr valign="top" height="15">
                            <td>
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td width="157" style="font-size: 0; line-height: 0;"></td>
                                        <td style="font-size: 0; line-height: 0;" height="2" bgcolor="#e6e6e6">&nbsp;</td>
                                    </tr>
                                </table>
                            </td>                            
                        </tr>
                        <tr>
                            <td>
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td width="93" height="12" style="text-align: left; background-color: #ffffff;font-family: Arial;">

                                        </td>
                                        <td width="64" height="12" style="text-align: center; background-color: #ffffff;font-family: Arial;">

                                        </td>
                                        <td width="240" height="12" style="text-align: left; background-color: #ffffff;font-family: Arial;">
                                            <p style="color: #42c2de;text-align: left; margin-bottom: 13px; padding-left: 0px;margin-top: 0; font-size: 13px; line-height: 17px;">
                                            {{'Stop'|trans}}
                                            </p>
                                        </td>
                                        <td height="12" style="text-align: right; background-color: #ffffff;font-family: Arial;">
                                            <p style="color: #000000;text-align: right; margin-bottom: 13px; padding-left: 0px;margin-top: 0; font-size: 14px; line-height: 17px;">{{flight_segment.stop_duration|raw}}</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr valign="top" height="15">
                            <td>
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td width="157" style="font-size: 0; line-height: 0;"></td>
                                        <td style="font-size: 0; line-height: 0;" height="2" bgcolor="#e6e6e6">&nbsp;</td>
                                    </tr>
                                </table>
                            </td>                            
                        </tr>
                    {% else %}
                        <tr>
                            <td>
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td width="35" height="12" style="text-align: center; background-color: #ffffff; padding:0px; border: none;">
                                            <img src="{{ generateMediaURL('/media/images/returnplanelogo.png', true)}}" alt="returnplanelogo" width="29" height="12" style="display: block;" />
                                        </td>
                                        <td width="681" height="12" style="background-color: #ffffff;padding:0px; border: none;">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td style="font-size: 0; line-height: 0;" width="681" height="3" bgcolor="#42c2de">
                                                        &nbsp;
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td bgcolor="#ffffff">
                                <p style="font-size: 17px; font-family: Arial; color: black; margin-top: 13px; line-height: 12px; margin-bottom: 13px;">{{'Return'|trans}}</p>
                            </td>
                        </tr>
                    {% endif %}
                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td width="93" height="12" style="text-align: left; background-color: #ffffff;font-family: Arial;">
                                    <p style="color:#000000; padding-left: 0px; margin-bottom: 0;margin-top: 0; font-weight: bold; font-size: 15px;line-height: 12px;">{{flight_segment.departure_date|date('D d M')}}</p>
                                </td>
                                <td width="34" height="12" style="text-align: center; background-color: #ffffff;font-family: Arial;">
                                    <p style="color: #000000; margin-bottom: 0; padding-left: 0px;margin-top: 0; font-size: 14px;font-weight: bold;line-height: 12px;margin-top: -6px;">.</p>
                                </td>
                                <td width="270" height="12" style="text-align: left; background-color: #ffffff;font-family: Arial;">
                                    <p style="color: #000000;margin-bottom: 0; padding-left: 0px;margin-top: 0; font-size: 14px;line-height: 12px;">{{flight_segment.airline_name|raw}}</p>
                                </td>
                                <td width="319" height="12" style="text-align: right; background-color: #ffffff;font-family: Arial;">
                                    {% for pnr, airline in emailData.AirlinePnr %}
                                        <p style="color: #616161;margin-bottom: 0; padding-left: 0px;margin-top: 0; font-size: 12px;line-height: 12px;">{{'Confirmation'|trans}} <span style="color: black;">{{ pnr|raw }}</span></p>
                                    {% endfor %}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 0; line-height: 0;" height="32">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td width="157" height="120" style="text-align: left; background-color: #ffffff;font-family: Arial; vertical-align: top;">
                                    <p style="color: #000000;text-align: left; margin-bottom: 0; padding-left: 0px;margin-top: 0; font-size: 14px; line-height: 17px;">{{flight_segment.airline_name|raw}}</p>
                                    <p style="color: #000000;text-align: left; margin-bottom: 0; padding-left: 0px;margin-top: 0; font-size: 14px; line-height: 17px;">{{flight_segment.airline_code|raw}}{{flight_segment.flight_number|raw}}</p>
                                    <p style="color: #6a6969;text-align: left; margin-bottom: 0; padding-left: 0px;margin-top: 0; font-size: 12px; line-height: 17px;">{{flight_segment.cabin|raw}}</p>
                                </td>
                                <td width="43" height="120" style="text-align: left; background-color: #ffffff;font-family: Arial; vertical-align: top;">
                                    <p style="color: #000000;text-align: left; margin-bottom: 13px;padding-left: 0px;margin-top: 0; font-size: 14px; line-height: 17px;">{{flight_segment.departure_time|raw}}</p>
                                    <p style="color: #42c2de;text-align: left; margin-bottom: 13px; padding-left: 0px;margin-top: 0; font-size: 13px; line-height: 17px;">{#{{'direct'|trans}}#}&nbsp;</p>
                                    <p style="color: #000000;text-align: left; margin-bottom: 0; padding-left: 0px;margin-top: 0; font-size: 14px; line-height: 17px;">{{flight_segment.arrival_time|raw}}</p>
                                </td>
                                <td width="30" height="120" style="text-align: center; background-color: #ffffff;font-family: Arial;vertical-align: top;">
                                    <img src="{{ generateMediaURL('/media/images/fromtologo.png', true)}}" alt="fromtologo" width="6" height="71" style="display: block; margin: 0 auto; margin-top: 3px;" />
                                </td>
                                <td width="286" height="120" style="text-align: left; background-color: #ffffff;font-family: Arial;vertical-align: top;">
                                    <p style="color: #000000;text-align: left; margin-bottom: 0; padding-left: 0px;margin-top: 0; font-size: 12px; line-height: 17px;">{{flight_segment.origin_airport_code|raw}}</p>
                                    <p style="color: #000000;text-align: left; margin-bottom: 0; padding-left: 0px;margin-top: 0; font-size: 12px; line-height: 17px;">{{flight_segment.origin_airport|raw}}</p>
                                    <p style="color: #000000;text-align: left; margin-bottom: 0; padding-left: 0px;margin-top: 30px; font-size: 12px; line-height: 17px;">{{flight_segment.destination_airport_code|raw}}</p>
                                    <p style="color: #000000;text-align: left; margin-bottom: 0; padding-left: 0px;margin-top: 0; font-size: 12px; line-height: 17px;">{{flight_segment.destination_airport|raw}}</p>
                                    <p style="color: #6a6969;text-align: left; margin-bottom: 0; padding-left: 0px;margin-top: 0; font-size: 11px; line-height: 17px;">{{flight_segment.arrival_terminal|raw}}</p>
                                </td>
                                <td width="200" height="120" style="text-align: right; background-color: #ffffff;font-family: Arial;vertical-align: top;">
                                    <p style="color: #000000;text-align: right; margin-bottom: 0; padding-left: 0px;margin-top: 32px; font-size: 14px; line-height: 17px;">
                                    {{flight_segment.flight_duration_attr|raw}}
                                    {#{% if flight_segment.stop_info is iterable %}
                                    {{flight_segment.flight_duration_attr|raw}}
                                    {% else %}
                                    {{flight_segment.flight_duration|raw}}
                                    {% endif %}#}
                                    </p>
                                </td>
                            </tr>
                            {% if flight_segment.stop_info is iterable %}
                                <tr valign="top" height="2">
                                    <td width="157" style="font-size: 0; line-height: 0;"></td>
                                    <td style="font-size: 0; line-height: 0;" height="2" bgcolor="#e6e6e6" colspan="4">&nbsp;</td>                         
                                </tr>
                                <tr valign="top" height="13">
                                    <td width="157" style="font-size: 0; line-height: 0;"></td>
                                    <td height="0" colspan="4">&nbsp;</td>                         
                                </tr>
                                <tr>
                                    <td height="12" style="text-align: left; background-color: #ffffff;font-family: Arial;"></td>
                                    <td height="12" style="text-align: left; background-color: #ffffff;font-family: Arial;">
                                        <p style="color: #42c2de;text-align: left; margin-bottom: 13px; padding-left: 0px;margin-top: 0; font-size: 13px; line-height: 17px;">{{'Stop'|trans}}</p>
                                    </td>
                                    <td height="12" style="text-align: center; background-color: #ffffff;font-family: Arial;"></td>
                                    <td height="12" style="text-align: right; background-color: #ffffff;font-family: Arial;" colspan="2">
                                        <p style="color: #000000;text-align: right; margin-bottom: 13px; padding-left: 0px;margin-top: 0; font-size: 14px; line-height: 17px;">{{flight_segment.stop_info[0].stop_duration|raw}}</p>
                                    </td>
                                </tr>
                                <tr valign="top" height="2">
                                    <td width="157" style="font-size: 0; line-height: 0;"></td>
                                    <td style="font-size: 0; line-height: 0;" height="2" bgcolor="#e6e6e6" colspan="4">&nbsp;</td>                         
                                </tr>
                                <tr valign="top" height="13">
                                    <td width="157" style="font-size: 0; line-height: 0;"></td>
                                    <td height="0" colspan="4">&nbsp;</td>                         
                                </tr>
                            {#<tr>
                                <td></td>
                                <td width="43" style="text-align: left; background-color: #ffffff;font-family: Arial; vertical-align: top;">
                                    <p style="color: #42c2de;text-align: left; margin-bottom: 25px; padding-left: 0px;margin-top: 0; font-size: 13px; line-height: 17px;">
                                    1 {{'Stop'|trans}}
                                    </p>                                </td>
                                <td width="30" style="text-align: center; background-color: #ffffff;font-family: Arial;vertical-align: top;">
                                    &nbsp;
                                </td>
                                <td width="286" style="text-align: left; background-color: #ffffff;font-family: Arial;vertical-align: top; font-size: 13px; line-height: 17px;">
                                    {{'in'|trans}} {{flight_segment.stop_info[0].origin_city|raw}} ({{flight_segment.stop_info[0].origin_airport_code|raw}})
                                </td>
                                <td width="200" style="text-align: right; background-color: #ffffff;font-family: Arial;vertical-align: top;">
                                    <p style="color: #000000;text-align: right; margin-bottom: 0; padding-left: 0px;margin-top: 0px; font-size: 14px; line-height: 17px;">{{flight_segment.stop_info[0].stop_duration|raw}}</p>
                                </td>
                            </tr>#}
                                <tr>
                                    <td width="157" height="120" style="text-align: left; background-color: #ffffff;font-family: Arial; vertical-align: top;">
                                        <p style="color: #000000;text-align: left; margin-bottom: 0; padding-left: 0px;margin-top: 0; font-size: 14px; line-height: 17px;">{{flight_segment.stop_info[0].airline_name|raw}}</p>
                                        <p style="color: #000000;text-align: left; margin-bottom: 0; padding-left: 0px;margin-top: 0; font-size: 14px; line-height: 17px;">{{flight_segment.stop_info[0].airline_code|raw}}{{flight_segment.stop_info[0].flight_number|raw}}</p>
                                        <p style="color: #6a6969;text-align: left; margin-bottom: 0; padding-left: 0px;margin-top: 0; font-size: 12px; line-height: 17px;">{{flight_segment.stop_info[0].cabin|raw}}</p>
                                    </td>
                                    <td width="43" height="120" style="text-align: left; background-color: #ffffff;font-family: Arial; vertical-align: top;">
                                        <p style="color: #000000;text-align: left; margin-bottom: 13px;padding-left: 0px;margin-top: 0; font-size: 14px; line-height: 17px;">{{flight_segment.stop_info[0].departure_time|raw}}</p>
                                        <p style="color: #42c2de;text-align: left; margin-bottom: 13px; padding-left: 0px;margin-top: 0; font-size: 13px; line-height: 17px;">
                                        &nbsp;
                                        </p>
                                        <p style="color: #000000;text-align: left; margin-bottom: 0; padding-left: 0px;margin-top: 0; font-size: 14px; line-height: 17px;">{{flight_segment.stop_info[0].arrival_time|raw}}</p>
                                    </td>
                                    <td width="30" height="120" style="text-align: center; background-color: #ffffff;font-family: Arial;vertical-align: top;">
                                        <img src="{{ generateMediaURL('/media/images/fromtologo.png', true)}}" alt="fromtologo" width="6" height="71" style="display: block; margin: 0 auto; margin-top: 3px;" />
                                    </td>
                                    <td width="286" height="120" style="text-align: left; background-color: #ffffff;font-family: Arial;vertical-align: top;">
                                        <p style="color: #000000;text-align: left; margin-bottom: 0; padding-left: 0px;margin-top: 0; font-size: 12px; line-height: 17px;">{{flight_segment.stop_info[0].origin_airport_code|raw}}</p>
                                        <p style="color: #000000;text-align: left; margin-bottom: 0; padding-left: 0px;margin-top: 0; font-size: 12px; line-height: 17px;">{{flight_segment.stop_info[0].origin_airport|raw}}</p>
                                        <p style="color: #000000;text-align: left; margin-bottom: 0; padding-left: 0px;margin-top: 30px; font-size: 12px; line-height: 17px;">{{flight_segment.stop_info[0].destination_airport_code|raw}}</p>
                                        <p style="color: #000000;text-align: left; margin-bottom: 0; padding-left: 0px;margin-top: 0; font-size: 12px; line-height: 17px;">{{flight_segment.stop_info[0].destination_airport|raw}}</p>
                                        <p style="color: #6a6969;text-align: left; margin-bottom: 0; padding-left: 0px;margin-top: 0; font-size: 11px; line-height: 17px;">{{flight_segment.stop_info[0].arrival_terminal|raw}}</p>
                                    </td>
                                    <td width="200" height="120" style="text-align: right; background-color: #ffffff;font-family: Arial;vertical-align: top;">
                                        <p style="color: #000000;text-align: right; margin-bottom: 0; padding-left: 0px;margin-top: 32px; font-size: 14px; line-height: 17px;">{{flight_segment.stop_info[0].flight_duration_attr|raw}}</p>
                                    </td>
                                </tr>
                            {% endif %}
                        </table>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff">
                        <p style="color: #6a6969;margin-bottom: 22px; padding-left: 0px;margin-top: 0px; font-size: 11px; line-height: 17px;">
                            {{'Bag fees'|trans}}: {{'Baggage fees when purchased at the airport'|trans}} ({{'Prices may be cheaper if purchased'|trans}}&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;{{'online with'|trans}} {{emailData.FlightSegments.returning.main_airline|raw}})&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;{{'Carry on'|trans}}: {{'No fee'|trans}}&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;{{'1st checked bag'|trans}}: {{'No fee up to'|trans}} 30 kg&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;{{'2nd checked bag'|trans}}: $19.00 per kg&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;{{'Baggage Information'|trans}}: {{emailData.FlightSegments.returning.main_airline|raw}}
                        </p>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
                <tr>
                    <td style="font-size: 0; line-height: 0;" height="2" bgcolor="#e6e6e6">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff">
                        <p style="color: #000000; margin-bottom: 20px; padding-left: 0px;margin-top: 22px; font-size: 17px; line-height: 14px;">{{'Price summary'|trans}}</p>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff">
                        <p style="color: #000000; margin-bottom: 13px; padding-left: 0px;margin-top: 0; font-size: 16px; line-height: 12px;font-weight: bold;">{{'Price breakdown'|trans}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td width="549" height="32" style="text-align: left; background-color: #ffffff;font-family: Arial; vertical-align: top;">
                                    <p style="color: #404141; margin-bottom: 11px; padding-left: 0px;margin-top: 0; font-size: 13px; line-height: 11px;">{{'Base Fare'|trans}}: {{emailData.Currency|raw}} {{emailData.BaseFare|number_format(2, '.', ',')}} -  {{'Taxes and Fees'|trans}}: {{emailData.Currency|raw}} {{emailData.Taxes|number_format(2, '.', ',')}}</p>
                                </td>
                                <td width="167" height="32" style="text-align: right; background-color: #ffffff;font-family: Arial; vertical-align: top;">
                                    <p style="color: #000000; margin-bottom: 0px;padding-left: 0px;margin-top: -8px; font-size: 25px; line-height: 30px;font-weight: bold;"><span style="font-size: 17px;">{{emailData.Currency|raw}}</span> {{emailData.Price|number_format(2, '.', ',')}}</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 0; line-height: 0;" height="2" bgcolor="#e6e6e6">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td style="text-align: justify;">
                        <p style="font-size: 17px; color: #000000; margin-bottom: 6px; margin-top: 12px ;">{{'Additional information'|trans}}</p>
                        <p style="font-size: 11px; color: #000000; margin-bottom: 0px; margin-top: 12px ;font-weight: bold;">{{'Additional fees'|trans}}</p>
                        <p style="font-size: 11px; color: #000000; margin-bottom: 0px; margin-top: 0px ;">{{'The airline may charge'|trans}} <a href="#" style="color: #00b7d9"> {{'additional fees'|trans}}</a> {{'for checked baggage or other optional services'|trans}}. </p>
                        {% if emailData.EnableCancelation %}
                        <p style="font-size: 11px; color: #000000; margin-bottom: 0px; margin-top: 5px ;font-weight: bold;">{{'Airline rules + restrictions'|trans}} </p>
                        <p style="font-size: 11px; color: #000000; margin-bottom: 0px; margin-top: 0px ;">{{'We understand that sometimes plans change. We do not charge a cancel or change fee. When the airline charges such fees in accordance with its own policies, the cost will be passed on to you. When the airline charges any cancellation or change fees in accordance with its own policies, the cost will be passed on to you'|trans}}. </p>
                        <p style="font-size: 11px; font-family: Arial; color: black; margin-bottom: 0px; margin-top: 2px;"><a href="https://www.touristtube.com/flight-details?transaction_id={{emailData.TransactionId|raw}}#cancel" style="color:#00b7d9">{{'Cancel'|trans}}</a> {{'this reservation'|trans}}</p>
                        {% endif %}
                        <p style="font-size: 11px; color: #000000; margin-bottom: 0px; margin-top: 0px ;">{{'Flight tickets purchased may be canceled online with full refund if cancelled before 19:00'|trans}} {{'GMT on the same day of purchase'|trans}}. {{'For flight tickets modifications and other cancellations airlines ticketing policies apply'|trans}}. {{'Kindly contact'|trans}}: <a href="mailto:flights-support@touristtube.com" style="color: #00b7d9">flights-support@touristtube.com</a> {{'Expected reply within 24 hours'|trans}}</p>

                    </td>
                </tr>
                <tr>
                    <td style="font-size: 0; line-height: 0;" height="10">
                        &nbsp;
                    </td>
                </tr>                
                <tr>
                    <td bgcolor="#ffffff">
                        <p style="font-size: 11px; font-family: Arial; color: #808080; margin-bottom: 0; margin-top: 0;text-transform: uppercase;">{{'Before you go'|trans}}</p>
                        <p style="font-size: 11px; font-family: Arial; color: #808080; margin-bottom: 0; margin-top: 0px;">{{'This email can be used as an E-ticket'|trans}}</p>
                        <ul style="padding-left: 0; margin-left: 17px; padding-top: 0; margin-top: 0">
                            <li style="font-weight: normal; font-size: 11px; color: #808080">{{'Proof of citizenship is required for international travel. Be sure to bring all necessary'|trans}} {{'documentation (e.g. passport, visa, transit permit)'|trans}}.</li>
                            <li style="font-weight: normal; font-size: 11px; color: #808080">{{'Remember to bring your itinerary and government-issued photo ID for airport'|trans}} {{'check-in and security'|trans}}.</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff">
                        <p style="font-size: 11px; font-family: Arial; color: #808080; margin-bottom: 0; margin-top: 0px;text-transform: uppercase;">{{'Contact the airline to confirm'|trans}}</p>
                        <ul style="padding-left: 0; margin-left: 17px; padding-top: 0; margin: 0;display: inline-flex;">
                            <li style="font-weight: normal; font-size: 11px; color: #808080;padding-right: 20px;">{{'specific seat assignments'|trans}}</li>
                            <li style="font-weight: normal; font-size: 11px; color: #808080;padding-right: 20px;">{{'special meals'|trans}} </li>
                            <li style="font-weight: normal; font-size: 11px; color: #808080;padding-right: 20px;">{{'frequent flyer point awards'|trans}}</li>
                            <li style="font-weight: normal; font-size: 11px; color: #808080;">{{'special assistance requests'|trans}} </li>
                        </ul>
                    </td>
                </tr>                
            {% include 'emails/footer.twig' %}
        </tbody>
    </table>
</body>
