<tr>
    <td height="21" style="font-size: 0; line-height: 0;">
	&nbsp;
    </td>
</tr>
<tr>
    <td style="font-size: 0; line-height: 0;" height="1" bgcolor="#e6e6e6">
	&nbsp;
    </td>
</tr>
<tr>
    <td style="text-align: center;">
	<p style="color: #404141;font-size: 10px; margin-top:27px; margin-bottom: 0;">{{'Please do not reply to this message. This email was sent from a notification-only email address that cannot accept incoming email.'|trans}} </p>
	<p style="color: #404141;font-size: 10px; margin-top:0px; margin-bottom: 0;">{{'You are receiving this transactional email based on a recent booking or'|trans}} {{'account-related update on'|trans}} <a href="https://www.touristtube.com/" style="color: #808080;">{{'Tourist Tube'|raw}}.</a></p>
	
	<p style="color: #404141;font-size: 10px; margin-top:20px; margin-bottom: 0;">{{'Copyright'|trans}} &#169; {{'now'|date('Y')}} {{'Tourist Tube FZ-LLC'|raw}} {{'All rights reserved'|trans}}. </p>
	<p style="color: #404141;font-size: 10px; margin-top:0px; margin-bottom: 0;">{{'This e-mail was sent by Tourist Tube FZ-LLC; Floor 1; DIC Building 12; 35, DIC Street; city Dubai; UAE'|trans}} </p>
	<p style="color: #404141;font-size: 10px; margin-top:0px; margin-bottom: 20px;">{{'When communicating with your booked accommodation via TouristTube.com you agree with the'|trans}} {{'processing of the communications as set out in our'|trans}} <a href="{{url('_privacy-policy')}}" style="color: #1b9fea;">{{'Privacy Policy'|trans}}</a></p>
    </td>
</tr>