<div class="col-xs-12 nopad" id="{{travel.requestServicesDetailsId|raw}}">
    <div class="moduleLogo book-hotel-icon"></div>
    <div class="moduleInfo">
	<div class="col-xs-12 nopad margintop24_paydue">
	    <p class="htelnametext_paydue">{{travel.name|raw}}</p>
	    <p class="bookingnumtextgrey_paydue">{{'Booking number:'|trans}}<span class="booknumberblack_paydue">{{travel.reservationId|raw}}</span></p>
	    <p class="rightpricesmal_paydue">{{travel.currency|raw}} {{travel.amount|raw|number_format(2, '.', ',')}}</p>
	    <!-- <p class="pincodetextgrey_paydue">PIN Code:<span class="pincodenumberblack_paydue"></span></p> -->
	</div>
	<div class="col-xs-12 nopad">
	    <p class="chekinouttextgrey_paydue">{{'CHECK-IN'|trans}}<span class="datebigblack_paydue">{{travel.fromdate ? travel.fromdate|date('l, F d, Y') : '-'}}</span> <span class="dayblacksmal_paydue"></span><span class="dotpadleftright12">.</span></p>
	    <p class="chekinouttextgrey_paydue">{{'CHECK-OUT'|trans}}<span class="datebigblack_paydue">{{travel.todate ? travel.todate|date('l, F d, Y') : '-'}}</span> <span class="dayblacksmal_paydue"></span></p>
	</div>
	<div>{{'Requested By:'|trans}} {{travel.userName|raw}}</div>
	<div>{{'Requested At:'|trans}} {{travel.transactionDate|raw}}</div>
	<div class="col-xs-12 nopad approve_travelapp">
	    {% if travel.status == expiredStatus %}
		<span class="approvetext_travelapp">{{'Expired'|trans}}</span>
	    {% elseif travel.status == approvedStatus %}
		<span class="approvetext_travelapp">{{'Approved'|trans}}</span>
                
                {% if date().timestamp >=  travel.fromdate|date('l, F d, Y') %}
                <div class="barseptrapp">|</div>
                <a class="approvetext_travelapp" onclick="cancelRequest({{travel.reservationId|raw}},{{travel.requestServicesDetailsId|raw}},{{travel.moduleId|raw}})">{{'Cancel'|trans}}</a>
                {% endif %}
	    {% elseif travel.status == canceledStatus %}
		<span class="approvetext_travelapp">{{'Canceled'|trans}}</span>
	    {% elseif travel.status == rejectedStatus %}
		<span class="approvetext_travelapp">{{'Rejected'|trans}}</span>
	    {% else %}
		<a class="approvetext_travelapp" onclick="approveRequest({{travel.reservationId|raw}},{{travel.moduleId|raw}},{{travel.accountId|raw}},{{travel.transactionUserId|raw}},{{travel.requestServicesDetailsId|raw}})">{{'Approve'|trans}}</a>
	    <div class="">|</div>
	    <a class="approvetext_travelapp" onclick="rejectRequest({{travel.requestServicesDetailsId|raw}},{{travel.transactionUserId|raw}})">{{'Reject'|trans}}</a>
	    {% endif %}
	    <div class="barseptrapp">|</div>
	    <button type="button" class="btn btn-primary" data-toggle="modal1" data-target="#myModal1" onclick="detailPopup('{{ generateLangRoute(LanguageGet, '_corporate_hotel_reservation_request_details', {'reservationId':travel.reservationId})}}')">{{'View details'|trans}}</button>
	</div>
    </div>
    <div class="col-xs-12 nopad borderedsectiontwolines_travelapp margin_top_15"></div>
</div>