{% extends 'baseFinal.html.twig' %}

{% block pagenewcss %}
    <link rel="stylesheet" type="text/css" href="{{ asset("/assets/common/css/social_pages_common.css")|raw }}"/>
{% endblock %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="row no-margin margin_top_20 margin_bottom_40">
                    <div class="col-xs-12 nopad">
                        <h1 class="search_title"><span class="circlimg_arrow"><i class="fas fa-angle-right"></i></span>Terms And Conditions</h1>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">Terms of Service</h2>
                        <p class="sub_header_title text-justify">PLEASE READ THIS DOCUMENT CAREFULLY.<br>Tourist Tube FZ-LLC ("Tourist Tube," "we," or "us") offers an online community, video sharing platform and tourism related transactions through its websites located at touristtube.com (the "Tourist Tube Site") and other related domains, mobile applications, and desktop applications (collectively, the "Tourist Tube services", or “our services”).<br><br>
                            By registering as a member or by using the Tourist Tube services in any way, you accept these Terms of Service ("Agreement"), which forms a binding agreement between you and Tourist Tube. If you do not wish to be bound by this Agreement, do not use the Tourist Tube services.<br><br>
                            Additional terms may be required for use of particular services; these additional terms shall therefore become part of our agreement in case you use those services.</p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">Services Use</h2>
                        <p class="sub_header_title text-justify">Accessing and using our services does not give you any inherent intellectual property rights to these services or to the content you can access.
                            <br /><br />
                            Rights to use any branding or logos used in our services are strictly reserved; do not therefore remove, obscure, or alter any legal notices displayed in or along with these services.
                            <br /><br />
                            Not all content on our platform is Tourist Tube's. Although we may review this content to determine whether it is illegal or violates our policies, this does not infer that we necessarily review such content. Hence, this content is the sole responsibility of the entity that makes it available. In addition, we may remove or refuse to display content that we reasonably believe violates our policies or the law.
                            <br /><br />
                            Make sure not to misuse our services i.e. do not interfere with our services or try to access them using a method other than the interface and the instructions that we provide.
                            <br /><br />
                            You may use our services only as intended and permitted by law. Therefore, we can suspend or stop providing services to you if you do not comply with our terms or policies, or if we have reasons to believe misconduct.
                            <br /><br />
                            We can also send you announcements and other info in relation with your use of our services; you can choose to opt out of some of these notifications.</p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">Payment Online</h2>
                        <p class="sub_header_title text-justify">We accept payments online using Visa and MasterCard credit/debit card in AED and USD. If “Credit Card Online” is selected as the payment methods then the details on the Customers ID (Cardholders ID) should exactly match that of the credit card used to make the purchase.
                            <br /><br />
                            If you make an online payment for our services, the details you are asked to submit will be provided directly to our payment provider via a secured connection.
                            <br /><br />
                            Minors under the age of 18 are not allowed to transact on the website.
                            <br /><br />
                            The cardholder must retain a copy of transaction records.
                            <br />
                            <a href="{{ generateLangURL(LanguageGet,'') }}" title="tourist tube">www.touristtube.com</a> will <b>NOT</b> deal or provide any services or products to any of OFAC sanctions countries in compliance with the law of UAE.
                        </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">Cancellation / Refund</h2>
                        <p class="sub_header_title text-justify">For details of cancellation rules on purchases you make online, please refer to the specific conditions made clearly available to you relating to that specific purchase.
                            <br /><br />
                            A purchase made online automatically acknowledges that you have read the particular conditions attached to that purchase and that you have agreed to them. We can in no way be held responsible for claims of no previous knowledge on conditions of purchases made. 
                            <br /><br />
                            All the refunds of any transaction’s amount against any purchase through this website would be refunded to the original mode of payment.
                        </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">Delivery</h2>
                        <p class="sub_header_title text-justify">Services purchased on this website will be delivered to you and reach you on the email you provided upon purchase.
                            <br /><br />
                            Delivery information such as Customers Name, Location Address and Contact Number will be stored for delivery purposes. Other personal identifiable information will not be stored.
                        </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">Copyright Protection</h2>
                        <p class="sub_header_title text-justify">Some of our services allow you to submit content. You retain ownership of any intellectual property rights that you hold in that content. In other terms, what belongs to you stays in your possession.
                            <br /><br />
                            We provide online interfaces for you to notify us of intellectual property violations you think are substantiated. We will respond to notifications of alleged copyright breaches and shall terminate offending repeat accounts according to due legal process.
                            <br /><br />
                            Upon upload of content to Tourist Tube, you grant us and our designates a worldwide license to use, transfer, modify and distribute such content for the limited purposes of promoting and improving our services, and to develop new ones, irrespectively of you using or not using our services or, in case some of our services offer you ways to access and remove content that has been provided to these services, you chose to do so.
                            <br /><br />
                            Also be sure you have the necessary rights to grant us such license for any content that you upload.
                            <br /><br />
                            You can find more information about how Tourist Tube uses and stores content in our Privacy Policy or additional terms for particular services. We may freely and without obligation to you use your feedbacks and suggestions about our services.
                        </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">Privacy Policy</h2>
                        <p class="sub_header_title text-justify">Please read our Privacy Policy for details of protecting your personal data and privacy. You hereby agree that once you register to Tourist Tube, you grant us use of such data in accordance with our Privacy Policy. 
                        </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">Software</h2>
                        <p class="sub_header_title text-justify">Tourist Tube gives you a personal, worldwide, royalty-free, non-assignable and non-exclusive license to use the software provided to you by Tourist Tube as part of the services. This license is for the sole purpose of enabling you to use and enjoy the benefit of the services as provided by Tourist Tube, in the manner permitted by these terms. You may not copy, modify, distribute, sell, or lease any part of our services or included software, nor may you reverse engineer or attempt to extract the source code of that software, unless laws prohibit those restrictions or you have our written permission.
                            <br /><br />
                            When a Service requires or includes downloadable software, this software can update automatically on your device once a new version or feature is available. Some services may let you adjust your automatic update settings.
                        </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">Termination</h2>
                        <p class="sub_header_title text-justify">You can stop using our services at any time, although we will be sorry to lose you.
                            <br /><br />
                            Also, Tourist Tube can at any time, and without prior justification, stop providing services to you, or add or create new limits to our services. Since you own your content, we will maintain your access to such content and we will certainly give you reasonable advance notice and a chance to get info out of our services.
                        </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">No Liability</h2>
                        <p class="sub_header_title text-justify">You hereby agree that you will hold harmless and indemnify Tourist Tube and its affiliates, officers, agents, and employees from any claim, suit or action arising from or related to your use of the services or violation of these terms, including any liability or expense arising from claims, losses, damages, suits, judgments, litigation costs and attorneys' fees.  
                        </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">Hotels</h2>
                        <p class="sub_header_title text-justify">All payments for hotel bookings – prepaid or postpaid – go directly to the hotel and not to Tourist Tube.
                            <br /><br />
                            In prepaid bookings, the hotel may choose not to debit the customer’s credit card upon booking.
                            <br /><br />
                            Reservations including both cancelable and non-cancelable bookings are treated as fully non-cancelable. In this case, kindly make separate reservations for cancelable and non-cancelable bookings.
                        </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">About these Terms</h2>
                        <p class="sub_header_title text-justify">We may modify these terms and/or any additional terms that apply to a Service in a way to reflect changes to the law or changes to our services. You should regularly check these terms, and we shall post notice of such modifications and/or additions on the current page.
                            <br /><br />
                            Changes to these terms will apply no sooner than two weeks after they are made public, unless such changes address new features or are made for legal reasons, in which cases they will be effective immediately.
                            <br /><br />
                            In case there is a conflict between these terms and the modified/additional terms, the modified/additional terms shall prevail. If you do not agree to the modified / additional terms for a Service, you should discontinue your use of that Service.
                            <br /><br />
                            These terms set the relationship solely between you and Tourist Tube and do not create any third party recipient rights.
                            <br /><br />
                            In case you infringe on these terms and we do not take action immediately, we reserve our right to take appropriate actions in the future. In addition and irrespectively, the non-applicability of any particular term does not invalidate the enforceability of all other terms.
                            <br /><br />
                            The laws of the UAE will apply to any disputes / claims arising out of or relating to these terms of service; such disputes / claims will be litigated exclusively in the UAE courts, and you and Tourist Tube consent to personal jurisdiction in the aforementioned courts.
                        </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">Contact Us</h2>
                        <p class="sub_header_title text-justify">United Arab Emirates is Tourist Tube FZ-LLC’s country of domicile. If you have questions about these Terms of Service, kindly contact us by postal mail or email as follows:
                        </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">Tourist Tube FZ-LLC</h2>
                        <p class="sub_header_title text-justify">Floor 1; DIC Building 12; 35, DIC Street; city Dubai; UAE </p>
                        <p><a href="mailto:support@touristtube.com" class="afaqMainStyle" title="{{ 'support@touristtube.com' }}">support@touristtube.com</a></p>
                        <p class="sub_header_title text-justify">{{'now'|date('Y')}} &copy; Tourist Tube FZ-LLC
                            <br/>
                            <span>Date of Last Revision: November 21, {{'now'|date('Y')}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}