{# app/Resources/views/social/en_faq.html.twig #}
{% extends 'baseFinal.html.twig' %}

{% block pagenewcss %}
    <link rel="stylesheet" type="text/css" href="{{ asset("/assets/common/css/social_pages_common.css")|raw }}"/>

{% endblock %}
{% block pagenewjs %}
    <script type="text/javascript" src="{{ asset("/assets/pages/js/social_pages_common.js")|raw }}"></script>
{% endblock %}
{% block body %}

    <section class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="row no-margin margin_top_20 margin_bottom_40">
                    <div class="col-xs-12 nopad">
                        <h1 class="search_title"><span class="circlimg_arrow"><i class="fas fa-angle-right"></i></span>Welcome To Touristtube Help Center</h1>
                    </div>
                </div>
                <div class="row no-margin faq_collapsedrow collapseactiverow">
                    <div class="col-xs-12 nopad">
                        <h2 class="faq_h2">शुरू करना-<i class="fas fa-angle-right faq_blue_right_arrow"></i><i class="fas fa-angle-down faq_blue_down_arrow"></i></h2>
                        <p class="faq_sub_header_title">आप पंजीकरण के बिना हमारे सार्वजनिक अनुभाग में सामग्री को देख सकते हैं। लेकिन अगर आप पर्यटक ट्यूब से भरी सुविधाओं का उपयोग करना चाहते हो तो उसके लिए आपको रजिस्टर करना आवश्यक हैं।</p>
                        <h3 class="help_h3">पंजीकरण</h3>
                        <p class="faq_sub_header_title">सभी आवश्यक फ़ील्ड के साथ पंजीकरण फार्म भरें और जमा करें और हमारे द्वारा तुरंत आपके खाते की स्थापना की जाएगी और आपको एक पुष्टिकरण ईमेल भेज दी जायेगी ।</p>
                        <h3 class="help_h3">लॉगिन</h3>
                        <p class="faq_sub_header_title">लॉगिन करने के लिए अपने यूज़रनेम और पासवर्ड का उपयोग करें। आप स्वचालित रूप से उतरने पर लॉगइन करने के लिए पसंद है, तो टिक बॉक्स की जाँच करें। घटना में आप अपना पासवर्ड भूल गए है तो अपने ईमेल या उपयोगकर्ता नाम सबमिट करें और हम आपके ईमेल का पासवर्ड रीसेट आदेश भेज देंगे।</p>
                        <h3 class="help_h3">मोबाइल</h3>
                        <p class="faq_sub_header_title">आप स्वतंत्र रूप से डाउनलोड करने और अपने एंड्रॉयड मोबाइल पर पर्यटक ट्यूब मोबाइल आवेदन स्थापित कर सकते हैं।</p>
                        <h3 class="help_h3">खोज</h3>
                        <p class="faq_sub_header_title">आप विशेष कीवर्ड या इनका मिश्रण का उपयोग करते हुए पर्यटक ट्यूब में सभी मीडिया खोजने के लिए खोज पट्टी का उपयोग कर सकते हैं। आप केवल फोटो, वीडियो, होटल, रेस्तरां, या टुबर्स खोज करने के लिए चयन करके अपनी खोज को संकीर्ण कर सकते हैं।</p>
                        <h3 class="help_h3">अपलोड</h3>
                        <p class="faq_sub_header_title">आप पंजीकृत हैं एक बार में आप अपने खाते में फ़ोटो और वीडियो 1 टेरा बाइट तक अपलोड कर सकते हैं। प्रत्येक अपलोड करने के लिए, अगर आप इस तरह शीर्षक, कीवर्ड, स्थान, विषय या वर्ग, और अपनी टिप्पणी के रूप में वर्णनकर्ता जोड़ सकते हैं; यह भी एक अपलोड करने के लिए, आप सार्वजनिक (सभी) के बीच विचार, पसंद करती है, और टिप्पणियों के लिए सेटिंग्स, दोस्तों और उनके कनेक्शन, दोस्तों, नियंत्रित कर सकते हैं या निजी (केवल आप)।</p>
                        <h3 class="help_h3">चैट</h3>
                        <p class="faq_sub_header_title">आप पंजीकृत हो जाने के बाद, आप अन्य टुबर्स के साथ चैट करने के लिए चैट विंडो का उपयोग कर सकते हैं और टुबर्स को हटाया ओर जोड़ा भी जा सकता है.</p>
                    </div>
                </div>
                <div class="row no-margin faq_collapsedrow">
                    <div class="col-xs-12 nopad">
                        <h2 class="faq_h2">खाता प्रबंधन-<i class="fas fa-angle-right faq_blue_right_arrow"></i><i class="fas fa-angle-down faq_blue_down_arrow"></i></h2>
                        <h3 class="help_h3">पर्यटक ट्यूब पेज</h3>
                        <p class="faq_sub_header_title">यह पृष्ठ पर्यटक ट्यूब के साथ-साथ अपनी गतिविधियों पर अन्य टुबर्स के कार्यों पर अपने सभी गतिविधियों को दर्शाता है। यह आप सेट गोपनीयता सेटिंग के अनुसार चयनित उपयोगकर्ताओं के लिए पूर्ण या भाग में सुलभ बनाया जा सकता है। यह पृष्ठ निम्नलिखित तत्वों से पता चलता है:</p>
                        <ul class="main_ul_list_help">
                            <li>एक स्लाइडर मेरी गतिविधियों को प्रदर्शित कर रहा हैं जिसके लिए अवधि (महीना और वर्ष) का चयन करने के लिए<li>
                            <li>हर जगह या चुनिंदा पर चयनित अवधि के लिए, सभी पोस्टिंग मैं (दरें, वीडियो, पाठ, लिंक, टिप्पणियां, पसंद करती है; शेयरों तस्वीरें) बनाया<li>
                            <li> 
                                <ul class="sndul_list_help">
                                    <li>मेरे पर्यटक ट्यूब पेज</li>
                                    <li>चैनल्स</li>
                                    <li>दूसरों की प्रविष्टियां</li>
                                    <li>अधिक होटल</li>
                                    <li>रेस्तरां</li>
                                </ul>
                            </li>
                            <li>मेरे दोस्तों की एक सूची<li>
                            <li>लोगों की एक सूची<li>
                            <li>मेरे घटनाओं की एक सूची<li>
                            <li>मेरे दोस्तों की एक सूची<li>
                            <li>मेरे चैनलों की सूची<li>
                            <li>मेरे चैनलों की सूची<li>
                            <li>मेरे चैनल की 'घटनाओं की एक सूची<li>
                            <li>सुझाव चित्र और वीडियो अपने पसंदीदा में जोड़ने के लिए<li>
                            <li>मेरे द्वारा दौरा किया स्थानों का एक इंटरएक्टिव दुनिया के नक्शे<li>
                            <li>पर्यटक टुबर्स केवल आपको सूचनाएं-दिखा रहा है और सेटिंग्स के अनुसार तुमको वापस चुना है अपनी गतिविधियों के लिए कार्रवाई से संबंधित<li>
                        </ul>
                        <h3 class="help_h3">खाता जानकारी</h3>
                        <p class="faq_sub_header_title"><span class="underline">व्यक्तिगत जानकारी:</span> आपको दे दिया नाम, लिंग, जन्म, पता, चित्र, वेब पता, टिप्पणियाँ, शैक्षिक पृष्ठभूमि, व्यवसाय, रुचियों, आदि की तिथि सहित आपकी व्यक्तिगत जानकारी को संपादित कर सकते हैं</p>
                        <p class="faq_sub_header_title"><span class="underline">सेटिंग:</span> आप उपयोगकर्ता नाम और पासवर्ड सहित अपने पर्यटक ट्यूब खाता सेटिंग संपादित कर सकते हैं। तुम भी अस्थायी रूप से अपने खाते को निष्क्रिय या स्थायी रूप से इसे हटा सकते हैं। तुम भी पर्यटक ट्यूब से ईमेल प्राप्त करना बंद करने के लिए चुन सकते हैं।</p>
                        <p class="faq_sub_header_title"><span class="underline">क्रियाएँ:</span> आप अपने नेटवर्क  फालोइंग पर पसंद और प्राप्त टिप्पणियों, और आँकड़ों की तिथि, दोस्तों की संख्या, अपलोड फोटो, वीडियो, एलबम, पत्रिकाओं और घटनाओं की संख्या के साथ ही संख्या में शामिल होने सहित अपने खाते की गतिविधियों का एक सारांश और इतिहास, देख सकते हैं।</p>
                        <p class="faq_sub_header_title"><span class="underline">सूचनाएं :</span> आपके पर्यटक ट्यूब खाता गतिविधियों के ईमेल सूचना प्राप्त करने के लिए अपना ईमेल पता जोड़ें। आप ईमेल द्वारा और / या अपने पर्यटक ट्यूब पेज पर सूचनाएं प्राप्त करने के लिए चुन सकते हैं। एक उदाहरण के रूप में, पर्यटक ट्यूब स्वचालित रूप से नीचे की जाँच की घटनाओं में से प्रत्येक के लिए आपको सूचनाएं भेज देंगे:</p>
                        <ul class="main_ul_list_help">
                            <li>मेरी अपलोड की एक टिप्पणी या पसंद प्राप्त करता हे<li> 
                            <li>मैं एक और टुबर्स से एक दोस्त के आमंत्रण प्राप्त<li> 
                            <li>किसी एक दोस्त के रूप में मुझे जोड़ा<li> 
                            <li>किसी ने मुझे इस प्रकार हैli> 
                            <li>किसी ने मेरी टिप्पणी का जवाब<li> 
                        </ul>
                        <p class="faq_sub_header_title"><span class="underline">निमंत्रण :</span> तुम सिर्फ अपने दोस्तों और परिचितों के नाम और ईमेल भेजने पर पर्यटक ट्यूब पर 50 निमंत्रण भेज सकते हैं</p>
                        <p class="faq_sub_header_title"><span class="underline">शेयर :</span> आप अपने अन्य सामाजिक नेटवर्किंग प्लेटफार्म के साथ अपने पर्यटक ट्यूब पदों को शेयर करना चाहते हैं, तो आप आसानी से पर्यटक ट्यूब और फेसबुक, गूगल, ट्विटर और याहू सहित अपने चयनित प्लेटफार्मों, के बीच एक संबंध स्थापित कर सकते हैं। </p>
                        <p class="faq_sub_header_title"><span class="underline">गोपनीय सेटिंग :</span> पर्यटक ट्यूब आपसे संपर्क करने के लिए लोगों को और अपनी गतिविधियों पर अभिनय लोगों के लिए अनुमतियाँ प्रदान करती है। </p>
                        <p class="faq_sub_header_title"><span class="underline">गोपनीयता संपर्क करें</span> मेरी देखभाल कौन कर सकता है?</p>
                        <ul class="main_ul_list_help">
                            <li>सार्वजनिक <li>  
                            <li>मित्र<li>  
                            <li>दोस्तों के दोस्त<li>  
                            <li>फ़ॉलोअर<li>  
                        </ul>
                        <p class="faq_sub_header_title">मेरा प्रोफाइल खोज इंजन में दिखाई देता है</p>
                        <ul class="main_ul_list_help">
                            <li>स्विच बंद करें<li>  
                        </ul>
                        <p class="faq_sub_header_title"><span class="underline">उपयोगकर्ताओं को अवरोधित करें :</span> यदि आप किसी को ब्लॉक करने के बाद,  अब आप के साथ बातचीत या पर्यटन ट्यूब पर अपने दोस्त हो सकते हैं </p>
                        <ul class="main_ul_list_help">
                            <li>अपने ब्लॉक सूची के लिए उपयोगकर्ताओं को जोड़ें<li>  
                        </ul>
                        <p class="faq_sub_header_title"><span class="underline">सामग्री गोपनीयता</span></p> 
                        <p class="faq_sub_header_title">मेरे टीटी पेज पर अनुमति</p> 
                        <ul class="main_ul_list_help">
                            <li>पसंद और दरों<li>  
                            <li>शेयर और टिप्पणी<li>  
                            <li> पोस्ट<li>  
                        </ul>
                        <p class="faq_sub_header_title">मेरे टीटी पेज पर दिखाएं</p> 
                        <ul class="main_ul_list_help">
                            <li>मैंने चैनल बनाया<li>   
                            <li>मेरा चैनल इवेंट्स<li>  
                        </ul>
                        <p class="faq_sub_header_title">इवेंट्स की गोपनीयता </p> 
                        <ul class="main_ul_list_help">
                            <li>शेयर और टिप्पणियां सक्षम करें<li>   
                            <li>मेहमानों को आमंत्रित करने की अनुमति दें<li>  
                        </ul>
                        <p class="faq_sub_header_title">कौन देख सकता है? </p> 
                        <ul class="main_ul_list_help">
                            <li>मेरे दोस्तों की सूची <li>   
                            <li>मेरे दोस्तों की एक सूची<li>  
                            <li>लोगों की एक सूची<li>  
                            <li>मेरे स्थानों का दौरा किया<li>  
                            <li> My Visited Places<li>  
                        </ul>
                        <p class="faq_sub_header_title">From the following: </p> 
                        <ul class="main_ul_list_help">
                            <li>सार्वजनिक <li>  
                            <li>मित्र<li>  
                            <li>दोस्तों के दोस्त<li>  
                            <li>फ़ॉलोअर<li> 
                        </ul>
                        <h3 class="help_h3">मित्र </h3>
                        <p class="faq_sub_header_title">आप के लिए खोज पर्यटक ट्यूब पर अपने सभी दोस्तों को देखते हैं, और उन लोगों के साथ संपर्क में प्राप्त कर सकते हैं। आपसे संपर्क करने के लिए इसी तरह के हितों के साथ टुबर्स को भी सुझाव दिया है।</p>
                        <h3 class="help_h3">न्यूज फीड</h3>
                        <p class="faq_sub_header_title">यह पृष्ठ आपको आपके गोपनीयता सेटिंग के अनुसार में रुचि रखते हैं पर्यटक ट्यूब उपयोगकर्ताओं के केवल गतिविधियों से पता चलता है। इन उपयोगकर्ताओं को हो सकता है: </p>
                        <ul class="main_ul_list_help">
                            <li>आपके मित्र<li>  
                            <li>लोगों का पालन करें<li>  
                            <li>चैनल का पालन<li>  
                            <li>ऊपर के सभी<li> 
                        </ul>
                        <p class="faq_sub_header_title">इन गतिविधियों को इस तरह से रूप में हुई है, जहां के अनुसार फिल्टर किया जा सकता है:</p>
                        <ul class="main_ul_list_help">
                            <li>टीटी पेजेज<li>  
                            <li>चैनल<li>  
                            <li>होटलों के पेज<li>  
                            <li>रेस्टोरेंट पेज<li> 
                            <li>टीटी नियोजक<li> 
                        </ul>
                        <h3 class="help_h3">तस्वीरें</h3>
                        <p class="faq_sub_header_title">यह और पाते हैं / या अपने फोटो अपलोड करने के लिए एक आयोजक है </p>
                        <h3 class="help_h3">वीडियो</h3>
                        <p class="faq_sub_header_title">यह और पाते हैं / या अपने वीडियो अपलोड करने के लिए एक आयोजक है। </p>
                        <h3 class="help_h3">एल्बम</h3>
                        <p class="faq_sub_header_title">इसे बनाने के लिए, संपादित करें और अपने एल्बम प्रकाशित करने के लिए एक आयोजक है। एल्बम फ़ोटो और वीडियो समान रूप से शामिल कर सकते हैं। आप खोज इंजन दृश्यता में सुधार करने के प्रकाशन पर अपने एलबम के लिए शब्द और जगह टैग जोड़ सकते हैं। </p>
                        <h3 class="help_h3">घटना</h3>
                        <p class="faq_sub_header_title">इसे बनाने के लिए, संपादित करें और अपने घटनाओं को प्रकाशित करने के लिए एक आयोजक है। आप अपने घटना को देखने गोपनीयता सेट कर सकते हैं; आप भी अपने मेहमानों के अन्य लोगों को आमंत्रित करने और घटना पर शेयरों और टिप्पणियों को सक्षम करने के लिए अनुमति देते हैं, आपके घटना के मेहमानों की सूची दिखा सकते हैं। </p>
                        <h3 class="help_h3">पत्रिकाओं</h3>
                        <p class="faq_sub_header_title">इसे बनाने के लिए, संपादित करें और अपने पत्रिकाओं प्रकाशित करने के लिए एक आयोजक है। पत्रिकाओं फोटो और पाठ टिप्पणी या प्रविष्टियों को शामिल कर सकते हैं। पत्रिकाओं पीडीएफ प्रारूप करने के लिए ऑनलाइन प्रकाशित किया जा सकता है। आप खोज इंजन दृश्यता में सुधार करने के प्रकाशन पर अपनी पत्रिकाओं के लिए शब्द और जगह टैग जोड़ सकते हैं।  </p>
                        <h3 class="help_h3">पसंदीदा</h3>
                        <p class="faq_sub_header_title">यह खोजने के लिए और अपने पसंदीदा टीटी फोटो, वीडियो, एलबम, और पत्रिकाओं को बचाने के लिए एक आयोजक है</p>
                    </div>
                </div>
                <div class="row no-margin faq_collapsedrow">
                    <div class="col-xs-12 nopad">
                        <h2 class="faq_h2">विशेषताएं-<i class="fas fa-angle-right faq_blue_right_arrow"></i><i class="fas fa-angle-down faq_blue_down_arrow"></i></h2>
                        <h3 class="help_h3">पर्यटक चैनल</h3>
                        <p class="faq_sub_header_title">चैनल मुख्य रूप से व्यक्तियों के लिए एक और अधिक पेशेवर स्थिति या संगठनों के लिए एक वाणिज्यिक या आधिकारिक स्थिति को प्रतिबिंबित करने के लिए कारणों की एक किस्म के लिए उपयोगकर्ताओं द्वारा स्थापित कर रहे हैं। चैनलों के लिए उपलब्ध सुविधाओं को और अधिक व्यापक और व्यापार उन्मुख नियमित रूप से उपयोगकर्ताओं के लिए उपलब्ध उन लोगों की तुलना कर रहे हैं।</p>
                        <p class="faq_sub_header_title"><span class="underline">चैनल स्थापना:</span> आप स्थापना के लिए एक नया उपयोगकर्ता के रूप में या एक नियमित उपयोगकर्ता के रूप में एक चैनल कर सकते हैं। वे चाहते हैं के रूप में नियमित रूप से उपयोगकर्ताओं के रूप में कई चैनल स्थापित कर सकते हैं। आप अपने चैनल पहले से ही एक मौजूदा खाते से संबद्ध एक ई-मेल के लिए उपयोग करना चाहते हैं, तो आप अपने चैनल के लिए इस ईमेल का दावा करने का अवसर दिया जाता है। सब बनाया चैनलों सार्वजनिक कर रहे हैं।</p>
                        <p class="faq_sub_header_title">आप बुनियादी चैनल स्थापना के लिए आवश्यक क्षेत्रों को भरने के बाद, सक्रियण ईमेल आप के लिए भेजा जाएगा। सक्रियण पर, आप निम्न अनुकूलन किया जा सकता है, जहां चैनल के मालिक पृष्ठ के लिए निर्देशित किया जाएगा:</p>
                        <p class="faq_sub_header_title"><span class="underline">विशिष्ट रूप से निर्माण करना</span></p>
                        <ul class="main_ul_list_help">
                            <li>एक चैनल कवर तस्वीर चुनें<li>   
                        </ul>
                        <p class="faq_sub_header_title">अपने कंप्यूटर में से फ़ाइल को खींचें फ़ोटो का चयन करें और यहां फोटो ड्रॉप करें</p>
                        <p class="faq_sub_header_title">तस्वीर को क्रॉप करें  | कवर तस्वीर पर लाइन डालें</p>
                        <p class="faq_sub_header_title">कवर तस्वीर के रूप में सेट | रद्द (टीटी कवर डिजाइन डिफ़ॉल्ट रूप से प्रदर्शित किया जाता है)</p>
                        <ul class="main_ul_list_help">
                            <li>एक प्रोफ़ाइल तस्वीर चुनें<li>   
                        </ul>
                        <p class="faq_sub_header_title">अपने कंप्यूटर में से फ़ाइल को खींचें फ़ोटो का चयन करें और यहां फोटो ड्रॉप करें</p>
                        <p class="faq_sub_header_title">अपने कंप्यूटर में से फ़ाइल को खींचें फ़ोटो का चयन करें और यहां फोटो ड्रॉप करें </p>
                        <p class="faq_sub_header_title">कवर तस्वीर के रूप में सेट | (टीटी प्रोफ़ाइल डिजाइन डिफ़ॉल्ट रूप से प्रदर्शित किया जाता है) रद्द</p>
                        <ul class="main_ul_list_help">
                            <li>एक नारा या एक स्वागत योग्य टेक्स्ट जोड़ें<li>   
                            <li>अपने चैनल के बारे में कुछ टेक्स्ट जोड़ें <li>   
                            <li>संपादित करें | दिखाएँ चैनल्स नाम <li>   
                            <li>एक से अधिक लिंक जोड़ने के लिए  जोड़ें अनुकूलित लिंक (+)<li>   
                            <li>सामाजिक लिंक जोड़ें (सूची से: फेसबुक, ट्विटर, गूगल +) | (+) के एक से अधिक सामाजिक को जोड़ने के लि नेटवर्क<li>   
                            <li>संपादित करें |<li>   
                            <li>संपादित करें | शो के द्वारा बनाई गई <li>   
                            <li>Edit channel’s category<li>   
                            <li>संपादित चैनल की श्रेणी <li>   
                            <li>संपादित करें | दिखाएँ स्थान: देश; शहर; सड़क; पिन कोड; दूरभाष। <li>   
                            <li>संपादित यूआरएल: लोगों को आप को खोजने के लिए पर्यटक ट्यूब पर एक अद्वितीय टीटी चैनल<li>
                        </ul>
                        <p class="faq_sub_header_title"><span class="underline">पूर्ण अनुकूलन</span> एक चैनल के मालिक के रूप में, चैनल के पेज में सेटिंग्स बटन पर क्लिक करके निम्नलिखित क्षेत्रों के साथ एक पूर्ण अनुकूलन मेनू करने के लिए निर्देशित करेंगे:</p>
                        <p class="faq_sub_header_title"><span class="underline">खाता जानकारी:</span> संपादित मालिक का नाम; पासवर्ड; ईमेल</p>
                        <p class="faq_sub_header_title"><span class="underline">Cचैनल की जानकारी है</span></p>
                        <ul class="main_ul_list_help">
                            <li>संपादित करें | दिखाएँ चैनल्स नाम<li> 
                            <li>संपादित करें |<li> 
                            <li>संपादित करें | द्वारा बनाई गई दिखाएँ<li> 
                            <li>संपादित करें | द्वारा बनाई गई दिखाएँ<li> 
                            <li>संपादित करें | द्वारा बनाई गई दिखाएँ<li> 
                            <li>संपादित यूआरएल: लोगों को आप को खोजने के लिए पर्यटक ट्यूब पर एक अद्वितीय टीटी चैनल<li> 
                        </ul>
                        <p class="faq_sub_header_title"><span class="underline">चैनल के पेज/span></p>
                        <ul class="main_ul_list_help">
                            <li> एक चैनल कवर तस्वीर चुनें<li>   
                        </ul>
                        <p class="faq_sub_header_title">अपने कंप्यूटर में से फ़ाइल को खींचें फ़ोटो का चयन करें और यहां फोटो ड्रॉप करें</p>
                        <p class="faq_sub_header_title">तस्वीर पर क्रॉप करे | कवर तस्वीर पर क्रॉप डालें</p>
                        <p class="faq_sub_header_title">कवर तस्वीर के रूप में सेट | रद्द (टीटी कवर डिजाइन डिफ़ॉल्ट रूप से प्रदर्शित किया जाता है)</p>
                        <ul class="main_ul_list_help">
                            <li>एक प्रोफ़ाइल तस्वीर चुनें<li>   
                        </ul>
                        <p class="faq_sub_header_title">अपने कंप्यूटर में से फ़ाइल को खींचे फ़ोटो का चयन करें और यहां फोटो ड्रॉप करें /p>
                        <p class="faq_sub_header_title">फोटो को क्रॉप करें</p>
                        <p class="faq_sub_header_title">कवर तस्वीर के रूप में सेट | (टीटी प्रोफ़ाइल डिजाइन डिफ़ॉल्ट रूप से प्रदर्शित किया जाता है) रद्द</p>
                        <ul class="main_ul_list_help">
                            <li>एक पृष्ठभूमि चुनें<li>   
                        </ul>
                        <p class="faq_sub_header_title">अपने कंप्यूटर में से फ़ाइल को खींचे फ़ोटो का चयन करें और यहां फोटो ड्रॉप करें</p>
                        <p class="faq_sub_header_title">अनुशंसित आकार (1080 * 1920) </p>
                        <p class="faq_sub_header_title">फोटो को क्रॉप करें | </p>
                        <p class="faq_sub_header_title">पृष्ठभूमि के रूप में सेट | रद्द (पृष्ठभूमि डिफ़ॉल्ट रूप से सफेद है)</p>
                        <ul class="main_ul_list_help">
                            <li>एक स्लोगन जोड़े या टेक्स्ट डाले<li>
                            <li>अपने चैनल के बारे में कुछ टेक्स्ट जोड़ें <li>
                            <li>अनुकूलित लिंक प्रबंधित (| संपादित करें | जोड़ निकालने के लिए)<li>
                            <li>सामाजिक लिंक प्रबंधित (| संपादित करें | जोड़ने, हटाने) (सूची से: फेसबुक, ट्विटर, गूगल +) <li>
                            <li>जोड़ें की-वर्ड<li>
                            <li>अपने अन्य टीटी चैनल प्रबंधित (जोड़ें | संपादित करें | निकालने के लिए) <li>
                            <li>अन्य टीटी चैनल जोड़ें (नाम | यूआरएल (त्रुटि संदेश: इस चैनल मौजूद नहीं है, कृपया सुनिश्चित करें कि आप) एक सही नाम और यूआरएल डालने) <li>
                            <li>घटनाओं जोड़ें: यहां खुलेगा एक फार्म डालने के लिए: घटना नाम | कवर तस्वीर | विवरण | स्थान
                                केवल कनेक्शन या हर किसी के निमंत्रण:: मेहमान कर सकते हैं शामिल हो सकते हैं जो | - | (तक) के लिए और समय की तारीख
                                आमंत्रित करते हैं | अधिक घटनाओं को जोड़ने के लिए मेरे मेहमानों की सूची (+) छुपाएं <li>
                            <li>अधिक समाचार जोड़ने के लिए खबर (+) जोड़ें  <li>
                            <li>अपने समाचार प्रबंधित (| संपादित करें | जोड़ निकालने के लिए)<li>
                            <li>अपने चैनल के साथ कनेक्ट करने के लिए लोगों को आमंत्रित करें <li>
                        </ul>
                        <p class="faq_sub_header_title"><span class="underline">Channel feeds:</span> चैनल है: आप भी अपने चैनल अपनी गतिविधियों को हर बार जब आप को दिखाने के लिए चुन सकते हैं: </p>
                        <ul class="main_ul_list_help">
                            <li>अपलोड (फोटो, वीडियो, एल्बम, ब्रोशर)<li>
                            <li>पदों को जोड़ने <li>
                            <li>खबर जोड़े<li>
                            <li>अन्य चैनलों से कनेक्ट<li>
                            <li>पर्यटक टुबर्स<li>
                            <li>मेरे प्रोफाइल, कवर, पृष्ठभूमि का अपडेट<li>
                            <li>टिप्पणी, दर, और शेयर <li>
                            <li>एक नया चैनल बनाये <li>
                            <li>एक इवेंट बनाएँ<li>
                            <li>एक घटना में शामिल होने के लिए<li>
                        </ul>
                        <p class="faq_sub_header_title">तुम भी अपने चैनल अपने चैनल हर बार किसी से जुड़ा प्रयोक्ताओं की गतिविधियों के लिए दिखाने के लिए चुन सकते हैं: </p>
                        <ul class="main_ul_list_help">
                            <li>आपके चैनल को जोड़ता है <li>
                            <li>आपके चैनल पर टिप्पणी करने के लिए पसंद करती है, दर, टिप्पणी, शेयर, और जवाब <li>
                            <li>आपके चैनल की घटनाओं में मिलती है <li>
                        </ul>
                        <p class="faq_sub_header_title"><span class="underline">ईमेल अधिसूचना:</span> सूचनाएं आप चुनते हैं एक ईमेल पते के लिए दिया जाएगा। आप इसे सत्यापित करने के बाद , आप ईमेल के माध्यम से प्राप्त करने के लिए चयन किया है कि किसी भी सूचनाएं और संदेश इस ई-मेल पते पर भेजा जाएगा अपने चैनल से संबद्ध ईमेल पते बदल सकते हैं। </p>
                        <p class="faq_sub_header_title">ईमेल सूचनाएँ जब एक अलग चैनल सेट किया जा सकता है: </p>
                        <ul class="main_ul_list_help">
                            <li>आपके चैनल के प्रायोजक<li>
                            <li>आपके घटना प्रायोजक<li>
                            <li>आप को प्रायोजित कर रहे एक घटना रद्द <li>
                        </ul>
                        <p class="faq_sub_header_title">और अगर कोई है भी जब: </p>
                        <ul class="main_ul_list_help">
                            <li>आपके चैनल से जुड़ा<li>
                            <li>आपके चैनल से कनेक्ट करने का निमंत्रण स्वीकार कर लिया<li>
                            <li>आपके चैनल के लिए आमंत्रित लोग<li>
                            <li>coआपके चैनल की सामग्री पर टिप्पणी<li>
                            <li>आपके चैनल की सामग्री पसंद आयी <li>
                            <li>आपके चैनल की सामग्री शेयर<li>
                            <li>मूल्यांकन अपनी फोटो (या वीडियो, या एल्बम)<li>
                            <li>अपनी टिप्पणी के लिए उत्तर दिया<li>
                            <li>आपका चैनल पृष्ठ शेयर<li>
                            <li>आपके कनेक्शन से एक टुबर्स सूचना दी<li>
                            <li>आपके घटना में शामिल हो गए<li>
                            <li>आपकी घटनाओं पर टिप्पणी<li>
                            <li>आपकी घटना पसंद आयी <li>
                            <li>आपकी घटना शेयर की<li>
                            <li>आपने घटना में शामिल होने का निमंत्रण स्वीकार कर लिया<li>
                        </ul>
                        <p class="faq_sub_header_title">और यह भी बारे में:</p>
                        <ul class="main_ul_list_help">
                            <li>पर्यटक ट्यूब चैनल पर नया क्या है<li>
                            <li>दिन के फोटो और वीडियो (टुबर्स या चैनल द्वारा पोस्ट)<li>
                            <li>आप से जुड़े रहे चैनलों से अपडेट<li>
                        </ul>
                        <p class="faq_sub_header_title">या </p>
                        <ul class="main_ul_list_help">
                            <li>मुझे किसी भी ईमेल सूचनाएं न भेजें<li>
                        </ul>
                        <p class="faq_sub_header_title"><span class="underline"><b>गोपनीयता:</b></span> चैनल सार्वजनिक कर रहे हैं, किसी को भी कनेक्ट कर सकते हैं। हालांकि आप अपने चैनल पर अनुमति दे सकते हैं </p>
                        <ul class="main_ul_list_help">
                            <li>आपके चैनल के प्रायोजन<li>
                            <li>आपके चैनल पृष्ठ को शेयर <li>
                            <li>आपके चैनल के लिए निमंत्रण<li>
                            <li>lपसंद करती है; टिप्पणियों; शेयरों; सब पर ब्याज दर या चयनित सामग्री (फोटो, वीडियो, एल्बमों, खबर;पदों; ब्रोशर)<li>
                        </ul>
                        <p class="faq_sub_header_title">तुम भी अपने चैनल पर दिखाने के लिए क्या नियंत्रित कर सकते हैं:</p>
                        <ul class="main_ul_list_help">
                            {#<li>मेरा चैनल प्रवेश<li>#}
                            <li>चैनल मैं प्रायोजित कर रहा हूँ <li>
                            <li>मैंने बनाये अन्य चैनल्स<li>
                            <li>मैं प्रायोजित कर रहा हूँ घटनाक्रम <li>
                            <li>सर्वाधिक सक्रिय चैनल्स <li>
                            <li>सर्वाधिक सक्रिय टुबर्स<li>
                        </ul>
                        <p class="faq_sub_header_title">आप सेटअप आपके कनेक्शन और / या अपने चैनल के प्रवेश को देख सकते हैं जो कर सकते हैं:</p>
                        <ul class="main_ul_list_help">
                            <li>लोक<li>
                            <li>कस्टम<li>
                            <li>कनेक्शन<li>
                            <li>निजी<li>
                            <li>प्रायोजक<li>
                        </ul>
                        <p class="faq_sub_header_title">तुम भी अपने चैनल की घटनाओं गोपनीयता सेट कर सकते हैं:</p>
                        <ul class="main_ul_list_help">
                            <li> कौन शामिल हो सकता है? (सब लोग, कनेक्शन, कस्टम)<li>
                            <li>मेरी गतिविधियाँ 'प्रायोजकों दिखाएँ<li>
                            <li>मेरे घटना को प्रायोजित करने की अनुमति दें<li>
                            <li>शेयर और टिप्पणियां सक्षम करें<li>
                            <li>मेहमानों को आमंत्रित करने की अनुमति दें<li>
                        </ul>
                        <p class="faq_sub_header_title"><span class="underline"><b>चैनल हटाएं:</b></span> यदि आप अपने चैनल को नष्ट करने से पहले, यह पता चला है कि महत्वपूर्ण है: </p>
                        <ul class="main_ul_list_help">
                            <li>अपने चैनल हटाना स्थायी होता है।<li>
                            <li>अपने चैनल हटाकर आप स्थायी रूप से अपने पूरे प्रोफाइल, सामग्री और अपलोड नष्ट करेगा और आप उन्हें फिर से पुनः प्राप्त करने में सक्षम नहीं होंगे ।<li>
                            <li>अन्य सामाजिक नेटवर्क या वेबसाइट के लिए लिंक भी हटा दिया जाएगा।<li>
                            <li>कोई भी पर्यटक ट्यूब चैनलों पर फिर से मिल जाएगा।<li>
                            <li>आपका चैनल पर्यटक ट्यूब से हटा दिया जाएगा, लेकिन कुछ जानकारी अभी भी अन्य लोगों में दिखाई दे सकती 
                                है  कनेक्शन 'की सूची।<li>
                        </ul>
                        <p class="faq_sub_header_title">आपने अपने चैनल को नष्ट कर दिया कि क्यों, हमें बताने के लिए चुन सकते हैं:</p>
                        <ul class="main_ul_list_help">
                            <li>टीटी चैनलों का उपयोग करने के लिए जटिल कर रहे हैं (सहायता प्राप्त करने के लिए यहाँ क्लिक करें); मदद के लिए जाना जाएगा <li>
                            <li>मैं एक और टीटी चैनल है<li>
                            <li>टीटी से  बहुत सारे ईमेल (आप टीटी से प्राप्त ईमेल का प्रबंधन करने के लिए यहां क्लिक करें); जाएंगे
                                ईमेल सूचनाएं<li>
                            <li>मैं किसी अन्य खाते (अपने खाते की जानकारी को संशोधित करने के लिए यहाँ क्लिक करें) का उपयोग करने में हस्ताक्षर करना
                                चाहते हैं<li>
                            <li>मैं दिलचस्प टीटी चैनलों नहीं लगता (चैनलों उपयोगिता के बारे में अधिक जानते हैं या करने की कोशिश करने के लिए यहां
                                क्लिक करें  अन्य सक्रिय चैनलों या पर्यटन टुबर्स) से कनेक्ट; मदद के लिए जाना जाएगा<li>
                            <li>वर्णन बॉक्स) की रिपोर्ट<<li>
                        </ul>
                        <h3 class="help_h3">पर्यटक लाइव</h3>
                        <p class="faq_sub_header_title">आप ब्राउज़ करें और विभिन्न अंतरालों पर अद्यतन धाराओं के साथ, दुनिया भर में फैल तय लाइव कैमरों के विचार की एक श्रृंखला देख सकते हैं; आप भी कैमरे के संकल्प का चयन और इन विचारों / पसंद पर अपनी टिप्पणी पोस्ट कर सकते हैं।</p>
                        <h3 class="help_h3">पर्यटक इकोज<</h3>
                        <p class="faq_sub_header_title">आप / एक्सचेंज अन्य टुबर्स के साथ छोटे टेक्स्ट संदेश का प्रसार कर सकते हैं; आप भी इन संदेशों / पसंद पर अपनी टिप्पणी पोस्ट कर सकते हैं।</p>
                    </div>
                </div>
                <div class="row no-margin faq_collapsedrow">
                    <div class="col-xs-12 nopad">
                        <h2 class="faq_h2">कैसे रिपोर्ट – करें <i class="fas fa-angle-right faq_blue_right_arrow"></i><i class="fas fa-angle-down faq_blue_down_arrow"></i></h2>
                        <h3 class="help_h3">सुरक्षा मुद्दे/h3>
                        <p class="faq_sub_header_title">साइट पर सुरक्षा मुद्दे / सुरक्षा देने के लिए,<span class="afaqMainStyle"><a href="mailto:security@touristtube.com" class="afaqMainStyle" title="{{ 'security@touristtube.com' }}">security@touristtube.com</a></span></p>
                        <h3 class="help_h3">अनुचित सामग्री</h3>
                        <p class="faq_sub_header_title">साइट पर किसी भी अनुपयुक्त सामग्री की रिपोर्ट करने के लिए, <span class="afaqMainStyle"><a href="mailto:abuse@touristtube.com" class="afaqMainStyle" title="{{ 'abuse@touristtube.com' }}">abuse@touristtube.com</a></span></p>
                        <h3 class="help_h3">कॉपीराइट</h3>
                        <p class="faq_sub_header_title">साइट पर कॉपीराइट उल्लंघन की रिपोर्ट करने के लिए, <span class="afaqMainStyle"><a href="mailto:copyright@touristtube.com" class="afaqMainStyle" title="{{ 'copyright@touristtube.com' }}">copyright@touristtube.com</a></span></p>  
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}