<style>
    page[size="A4"] { width: 21cm;height: 29.7cm;}
    page {background: white;display: block;margin-bottom: 0.5cm;box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);padding: 16mm 14mm 16mm 14mm;font-family: Arial;}
    .width-100{width: 100%;}
    .text-center{text-align: center;}
    .img_style{width: 49.7mm;height: 18.5mm;}
</style>
<page size="A4">
    <table class="width-100" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td class="width-100">
                    <img class="img_style" src="{{ generateMediaURL('/media/images/Logo.png', true)}}" alt="tt logo" />
                </td>
            </tr>
            <tr>
                <td class="width-100">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-top:4.4mm;">
                        <tr>
                            <td style="width: 118mm;">
                                <p style="color:#231f20; font-size: 4.94mm;margin-top: 0;margin-bottom: 2mm;">Tourist Tube FZ-LLC</p>
                                <p style="color:#797a7d; font-size: 3.53mm;margin-top: 0;margin-bottom: 1mm;">Dubai Internet City</p>
                                <p style="color:#797a7d; font-size: 3.53mm;margin-top: 0;margin-bottom: 1mm;">Bldg 12, Floor 1</p>
                                <p style="font-size: 3.53mm; color:#797a7d; margin-bottom: 1mm;margin-top: 0;">Dubai, United Arab Emirates</p>
                                <p style="font-size: 3.53mm; color:#797a7d; margin-bottom: 1mm;margin-top: 0;">License No. 93706</p>
                            </td>
                            <td style="height: 16mm;width: 63mm;border-left: 0.3mm solid #dddedf;">
                                <p class="black font-4 margin_bottom_2 margin_left_3 font-bold margin_top_0" style="color:#231f20; font-size: 4.59mm;margin-top: 0;margin-bottom: 2mm;margin-left: 3mm; font-weight: bold;">{{'Invoice / Receipt'|trans}}</p>
                                <p style="color:#797a7d;  font-size: 3.53mm; margin-bottom: 2mm;margin-left: 3mm;margin-top: 0;">{{'Sequence No'|trans}}<span style="font-size: 3.88 mm;color: #231f20;padding-left: 2.4mm;">H-1005/19</span></p>
                                <p style="color:#797a7d;  font-size: 3.53mm; margin-bottom: 2mm;margin-left: 3mm;margin-top: 0;">{{'Billed on'|trans}}<span style="font-size: 3.88 mm;color: #231f20;padding-left: 2.4mm;">March 1, 2019</span></p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="width-100">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td style="border-bottom: 0.3mm solid #d6d7d9;width: 100%;height: 0.3mm; float: left;margin-top: 7.5mm;">
                                &nbsp;
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="width-100">
                    <p style="font-size: 4.94mm; color:#231f20; margin-top: 7mm;margin-bottom: 7mm;">{{'Bill to'|trans}}</p>
                </td>
            </tr>
            <tr>
                <td class="width-100">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td style="width: 118mm;vertical-align: top;">
                                <p style="font-size: 4.94mm; color:#231f20; margin-top: 0;margin-bottom: 2mm; font-weight: bold;">Rita Dagher</p>
                                <p style="font-size: 3.53mm; color:#231f20; margin-bottom: 0;margin-top: 0;">+961 3 333 333</p>
                            </td>
                            <td style="height: 20mm;border: .4mm solid #ffdb33; width: 63mm; text-align: center;">
                                <p style="font-size: 3.18mm;color: #797b7d; margin-top: 3.6mm;margin-bottom: 0;padding-bottom: 4.5mm;">{{'Paid on'|trans}} June 15, 2019</p>
                                <p style="font-size: 6.1mm; color: #000000; margin-top: 0px;margin-bottom: 1.8mm;padding-top: 0mm;">$<span style="font-size: 9.72mm;">986</span><span style="font-size: 4.29mm;">.99</span>USD</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="width-100">
                    <table border="0" width="100%" cellpadding="0" cellspacing="0"  style="margin-top:13mm;margin-bottom: 2.3mm;">
                        <tr>
                            <td style="width: 118mm;padding-bottom: 2mm;padding-top: 2mm;background-color: #f7f8f9;">
                                <p style="font-size: 4.23mm;text-transform: uppercase;color: #000000; margin-top: 0;margin-bottom: 0;padding-left: 4.4mm;font-weight:bold;">{{'DESCRIPTION'|trans}}</p>
                            </td>
                            <td style="width: 64.3mm;padding-bottom: 2mm;padding-top: 2mm; background-color: #f7f8f9;">
                                <p style="font-size: 4.23mm;color: #000000;text-transform: uppercase; margin-top: 0;margin-bottom: 0;padding-left: 4.4mm;float: left;font-weight:bold;">{{'FARE'|trans}}</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="width-100">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-top:-0.5mm;">
                        <tr>
                            <td style="width: 45mm;margin-top: 0;padding-top: 0;">
                                <p style="font-size: 4.23mm;color: #231f20; margin-top: 0; margin-bottom: 2mm; font-weight:bold;padding-left: 4.4mm;padding-top: 6.4mm;">Beirut - Madrid</p>
                                <p style="font-size: 4.23mm;color: #797a7d; margin-top: 0; margin-bottom: 0;padding-left: 4.4mm;">June 24 - 29</p>
                            </td>
                            <td style="width: 73mm;border-right: 0.3mm solid #cfd0d2;margin-top: 0;padding-top: 0;">
                                <p style="font-size: 3.53mm;color: #797a7d; margin-top: 0; margin-bottom: 2mm;padding-left: 0mm;padding-top: 1.4mm;">Nicole Joseph Khoury</p>
                            </td>
                            <td style="width: 63mm;">
                                <p style="font-size: 3.53mm;padding-left: 4.4mm;color: #231f20; margin-top: 0; margin-bottom: 0;;">$493</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="width-100">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-top:-0.5mm;">
                        <tr>
                            <td style="width: 45mm;margin-top: 0;padding-top: 0;">
                                <p style="font-size: 4.23mm;color: #231f20; margin-top: 0; margin-bottom: 2mm; font-weight:bold;padding-left: 4.4mm;padding-top: 6.4mm;">Beirut - Madrid</p>
                                <p style="font-size: 4.23mm;color: #797a7d; margin-top: 0; margin-bottom: 0;padding-left: 4.4mm;">July 08 - 14</p>
                            </td>
                            <td style="width: 73mm;border-right: 0.3mm solid #cfd0d2;margin-top: 0;padding-top: 0;">
                                <p style="font-size: 3.53mm;color: #797a7d; margin-top: 0; margin-bottom: 2mm;padding-left: 0mm;padding-top: 1.4mm;">Rita Habib Dagher</p>
                            </td>
                            <td style="width: 63mm;">
                                <p style="font-size: 3.53mm;padding-left: 4.4mm;color: #231f20; margin-top: 0; margin-bottom: 0;;">$493</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="width-100">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-top:-0.5mm;">
                        <tr>
                            <td style="padding-top: 6mm;width: 90mm;">
                                &nbsp;
                            </td>
                            <td style="width: 26.95mm;padding-top: 6mm;border-right: 0.3mm solid #cfd0d2;padding-bottom: 1.4mm;margin-bottom: 2mm;">
                                <p style="font-size: 3.53mm;font-weight: bold;color: #231f20; margin-top: 0;margin-bottom: 0;text-transform: uppercase;">{{'TOTAL'|trans}}</p>
                                <p style="font-size: 3.53mm;font-weight: bold;color: #231f20; margin-top: 0;margin-bottom: 0;text-transform: uppercase;">{{'PAID'|trans}}</p>
                            </td>
                            <td style="width: 63mm;padding-top: 6mm;padding-bottom: 1.4mm;margin-bottom: 2mm">
                                <p style="font-size: 3.53mm; color: #231f20; margin-top: 0;margin-bottom: 0;padding-left: 5.4mm;">$986.99</p>
                                <p style="font-size: 3.53mm; color: #231f20; margin-top: 0;margin-bottom: 0;padding-left: 4.4mm;">($986.99)</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
             <tr>
                <td class="width-100">
                
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-top:1.5mm;">
                        <tr>
                            <td style="padding-top: 2mm;width: 90mm;;">
                                &nbsp;
                            </td>
                            <td style="width: 26.95mm;padding-top: 2mm;border-right: 0.3mm solid #cfd0d2;">
                                <p style="font-size: 3.53mm;font-weight: bold;color: #231f20; margin-top: 0;margin-bottom: 0;text-transform: uppercase;">{{'Amount Due'|trans}}</p>
                            </td>
                            <td style="width: 63mm;padding-top: 2mm;">
                                <p style="font-size: 3.53mm; color: #231f20;font-weight: bold; margin-top: 0;margin-bottom: 0;padding-left: 4.4mm;">$0.00</p>
                            </td>
                        </tr>
                    </table>
                
                </td>
            </tr>
            <tr>
                <td class="width-100">
                    <p style="font-size: 4.23mm;color: #797a7d; margin-top: 10mm;margin-bottom: 2mm; font-weight: bold;"><i>{{'Payment'|trans}}</i></p>
                    <p style="font-size: 4.23mm;color: #231f20; margin-top: 0;margin-bottom: 0;">$986.99 Payment from visa ...1313</p>
                </td>
            </tr>
            <tr>
                <td class="width-100">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td style="border-bottom: 0.3mm solid #d6d7d9;width: 100%;height: 0.3mm; float: left;margin-top: 7.5mm;">
                                &nbsp;
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="text-align: center;width: 100%;padding-top: 6mm;">
                    <p style="font-size: 3.88mm; color: #231f20; margin-top: 0; margin-bottom: 0;">{{'Thank you for your business!'|trans}}</p>
                    <p style="font-size: 3.88mm; color: #797a7d; margin-top: 0; margin-bottom: 0;">{{'Tourist Tube FZ - LLC'|trans}}</p>
                    <p style="font-size: 3.88mm; color: #797a7d; margin-top: 0; margin-bottom: 0;">support@touristtube.com</p>
                </td>
            </tr>
        </tbody>
    </table>
</page>