<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{{seotitle|raw}}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset("/assets/vendor/bootstrap/css/bootstrap.css")|raw }}" >
        <link rel="stylesheet" type="text/css" href="{{ asset("/assets/pages/css/popup-offers.css")|raw }}" >
    </head>
    <body id="body">
        <div class="col-xs-12 bodyDataContent">	    
            <img class="item_img" src="{{ generateMediaURL('/media/images/offers/img_discount') }}{% if LanguageGet=='fr' %}_{{LanguageGet|raw}}{% endif %}.jpg" alt="{{'travel differently'|trans}}"/>
        </div>        
    </body>
</html>