{% set defaultValues = {'hotelCityName': '', 'locationId': 0, 'entityType':0, 'hotelId':0, 'longitude':0, 'latitude':0, 'arrivalairport':'', 'arrivalairportC':'' } %}
{% set input = defaultValues|merge(input) %}

{% if SHOW_FLIGHTS_CORPORATE_BLOCK is not defined %}
    {% set SHOW_FLIGHTS_CORPORATE_BLOCK = 0 %}
{% endif %}
	
{% if hideblocksearchButtons ==0 %}
    <div class="absoluteimageconatiner absoluteimageconatiner_images">
	<div class="row small_padding">
	    {% if flightblocksearchIndex ==1 and ( SHOW_FLIGHTS_BLOCK==1 or SHOW_FLIGHTS_CORPORATE_BLOCK==1 ) %}
		<div class="image_searchbox flight_image_searchbox active" data-holder="flights_container">
		    <img class="" src="{{ generateMediaURL('/media/images/index/plane_logo.png') }}" alt="{{'flight image'|trans}}">
		    {#<p class="hidden-xs">{{'Flights'|trans}}</p>#}
		</div>
	    {% endif %}
	    {% if hotelblocksearchIndex ==1 %}
		<div class="image_searchbox hotel_image_searchbox" data-holder="hotels_container">
		    <img class="" src="{{ generateMediaURL('/media/images/index/bed_logo.png') }}" alt="{{'hotel image'|trans}}">
                    {#<div class="sprite bed_logo"></div>#}
		    {#<p class="hidden-xs">{{'Hotels'|trans}}</p>#}
		</div>
	    {% endif %}
	    {% if hotelflightblocksearchIndex ==1 %}
		<div class="image_searchbox flight_hotel_image_searchbox" data-holder="hotels_flights_container">
		    <img class="" src="{{ generateMediaURL('/media/images/index/airplane_bed_logo.png') }}" alt="{{'flight hotel image'|trans}}">
		    {#<p class="hidden-xs">{{'Hotels + Flights'|trans}}</p>#}
		</div>
	    {% endif %}
	    {% if dealblocksearchIndex ==1 and SHOW_DEALS_BLOCK==1 %}
		<div class="image_searchbox car_image_searchbox" data-holder="attractions_container">
		    <img class="" src="{{ generateMediaURL('/media/images/index/location_logo.png') }}" alt="{{'attractions image'|trans}}">
		    {#<p class="hidden-xs">{{'Attractions'|trans}}</p>#}
		</div>
	    {% endif %}
	</div>
    </div>
{% endif %}

{#		flights container:
==========================================================================
#}
{% if flightblocksearchIndex ==1 and ( SHOW_FLIGHTS_BLOCK==1 or SHOW_FLIGHTS_CORPORATE_BLOCK==1 ) %}
    <div class="row">
	<div class="col-xs-12 flights_container main_holder{% if hideblocksearchButtons ==0 and flightblocksearchIndex ==1 %} displayblock{% endif %}">

		{% set searchResultRoute = '_flight_booking_result' %}

		{% if isCorporate is defined %}
			{% set searchResultRoute = '_corporate_flight_search' %}
		{% endif %}

		<form id="airplaneform" name="airplaneform" method="post" action="{{ generateLangRoute(LanguageGet, searchResultRoute) }}" autocomplete="off">
		{# all buttons #}
		<div class="row no-margin margin-top-10 more_flights">
		    <div class="col-xs-12 nopad">
			<div class="flight_buts roundtripclass active">{{'Roundtrip'|trans}}</div>
			<div class="flight_buts onewayclass">{{'One way'|trans}}</div>
			{% if SHOW_FLIGHTS_MULTIPLE_DESTINATIONS == 1 %}
			    <div class="flight_buts multipledestclass">{{'Multiple destinations'|trans}}</div>
			{% endif %}
		    </div>
		    {#<div class="col-md-5 col-sm-4 nopad">
			    <ul class="checkboxul">
				    <li class=""><label><input class="flexibledate form-check-input" name="flexibledate" value="1" type="checkbox"> {{'My dates are flexible (lowest prices on + / - 3 days)'|trans}}</label></li>
			    </ul>
		    </div>#}
		</div>
		{# end all buttons #}

		<div class="row no-margin margin-top-10">
		    <div class="col-xs-12 nopad">
			<div class="temp_holder">
			    <div class="row no-margin">
				<div id="departurecontainer" class="col-sm-3 col-xs-12 nopad">
					<label class="search_input_label">{{'Origin'|trans}}</label>
				    <input id="departureairport_1" name="departureairport[]" placeholder="{{'Departure airport / city'|trans}}" class="inputsSearch departureairport" value="" type="text">
				    <input id="departureairportC_1" type="hidden" class="departureairportC" name="departureairportC[]" value="">
				</div>
				<div id="arrivalcontainer" class="col-sm-3 col-xs-12 nopad">
					<label class="search_input_label">{{'Destination'|trans}}</label>
				    <input id="arrivalairport_1" name="arrivalairport[]" placeholder="{{'Arrival airport / city'|trans}}" class="inputsSearch arrivalairport" value="{{input.arrivalairport}}" type="text">
				    <input id="arrivalairportC_1" type="hidden" class="arrivalairportC" name="arrivalairportC[]" value="{{input.arrivalairportC}}">
				</div>
				<div class="col-sm-6 col-xs-12 nopad">
				    <div class="row no-margin">
					<div id="datesContainer" class="col-sm-8 col-xs-12 nopad">
					    <div class="row no-margin">
						<div id="fromContainer" class="col-sm-6 col-xs-12 nopad">
							<label class="search_input_label">{{'Departing'|trans}}</label>
						    <input id="fromDate_1" name="fromDate[]" placeholder="{{'Departure date'|trans}}" class="inputsSearch fromDate range_picker" value="" type="text" autocomplete="off" readonly />
						</div>
						<div id="toContainer" class="col-sm-6 col-xs-12 nopad">
							<label class="search_input_label">{{'Returning'|trans}}</label>
						    <input id="toDate_1" name="toDate[]" placeholder="{{'Return date'|trans}}" class="inputsSearch toDate range_picker noborderright" value="" type="text" autocomplete="off" readonly />
						</div>
					    </div>
					</div>
					{#<div class="visible-xs col-xs-12 moreopclick nopad hidden" data-toggle="flights">
						<p class="xsmoreop">{{'more'|trans}}</p>
					</div>#}
					<div class="col-sm-4 col-xs-12 hidden-xs nopad">
					    <input id="multiDestination" class="multi-destination" name="multidestination" value="" type="hidden">
					    <input id="multiDestinationC" class="multi-destination" name="multidestinationC" value="" type="hidden">
					    <input id="oneway" class="oneway" name="oneway" value="" type="hidden">
					    <button name="" type="submit" class="search_hpage col-xs-12">{{'Search'|trans}}</button>
					</div>
				    </div>
				</div>
			    </div>
			</div>
		    </div>
		</div>

		<div class="row no-margin more_flights margin-top-10">

		    <div class="col-xs-12 nopad">
			<div class="temp_holder">
			    <div class="row no-margin">
				<div class="col-sm-3 col-xs-12 styled-select nopad">
				    <select id="cabinselect" name="cabinselect" tabindex="1" class="selectclassstyle">
					<option value="">{{'Select class'|trans}}</option>
					<option value="Y">{{'Economy class'|trans}}</option>
					<option value="S">{{'Premium Economy'|trans}}</option>
					<option value="C">{{'Business class'|trans}}</option>
					<option value="F">{{'First class'|trans}}</option>
				    </select>
				</div>
				<div class="col-sm-3 col-xs-12 styled-select nopad">
				    <select id="adultsselect" name="adultsselect" class="selectclassstyle">
					<option value="1">{{'1 adult (12+ year)'|trans}}</option>
					<option value="2">{{'2 Adults'|trans}}</option>
					<option value="3">{{'3 Adults'|trans}}</option>
					<option value="4">{{'4 Adults'|trans}}</option>
					<option value="5">{{'5 Adults'|trans}}</option>
					<option value="6">{{'6 Adults'|trans}}</option>
					<option value="7">{{'7 Adults'|trans}}</option>
					<option value="8">{{'8 Adults'|trans}}</option>
				    </select>
				</div>
				<div class="col-sm-3 col-xs-12 styled-select nopad">
				    <select id="childsselect" name="childsselect" class="selectclassstyle">
					<option value="0">{{'Children (2-12 year)'|trans}}</option>
					<option value="1">{{'1 child'|trans}}</option>
					<option value="2">{{'2 children'|trans}}</option>
					<option value="3">{{'3 children'|trans}}</option>
					<option value="4">{{'4 children'|trans}}</option>
					<option value="5">{{'5 children'|trans}}</option>
					<option value="6">{{'6 children'|trans}}</option>
					<option value="7">{{'7 children'|trans}}</option>
					<option value="8">{{'8 children'|trans}}</option>
				    </select>
				</div>
				<div class="col-sm-3 col-xs-12 styled-select nopad">
				    <select id="infantsselect" name="infantsselect" class="selectclassstyle noborderright">
					<option value="0">{{'Infants (0-2 year)'|trans}}</option>
					<option value="1">{{'1 infant'|trans}}</option>
					<option value="2">{{'2 infants'|trans}}</option>
					<option value="3">{{'3 infants'|trans}}</option>
					<option value="4">{{'4 infants'|trans}}</option>
					<option value="5">{{'5 infants'|trans}}</option>
					<option value="6">{{'6 infants'|trans}}</option>
					<option value="7">{{'7 infants'|trans}}</option>
					<option value="8">{{'8 infants'|trans}}</option>
				    </select>
				</div>
				{#<div class="visible-xs col-xs-12 lessoptionclick nopad hidden">
					<p class="xsmoreop ">{{'less'|trans}}</p>
				</div>#}
			    </div>
			</div>
		    </div>

		    <div class="col-xs-12 nopad">
			<div id="multiDestinationContainer" class="moreoptioncontentstyle">
			</div>
		    </div>


		    <div class="col-xs-12 nopad">
			<div class="row no-margin">
			    <div class="col-md-8 col-xs-12 nopad">
				<ul class="checkboxul">
				    <li class=""><label><input class="flexibledate form-check-input" id="flexibledate" name="flexibledate" value="0" type="checkbox"> {{'My dates are flexible (lowest prices on + / - 3 days)'|trans}}</label></li>
				</ul>
			    </div>
			    <div class="col-md-4 hidden-sm hidden-xs nopad">
				<a href="javascript:;" class="add_destination pull-right btn btn-info margin-top-15 theme-btn"><i class="fas fa-plus-square"></i> {{'Add Destination'|trans}}</a>
			    </div>
			</div>

		    </div>

		</div>

		<div class="row">

		    <div class="col-xs-12 hidden-lg hidden-md hidden-sm">
			<button name="" type="submit" class="search_hpage">{{'Search'|trans}}</button>
		    </div>

		    <div class="col-xs-12 hidden-xs">
			<div class="moreoptionsclass moreopclick more" data-toggle="flights">
			    <p class="mropclass ">{{'more'|trans}}</p>
			</div>
			{#<div class="moreoptionsclass lessoptionclick">
				<p class="mropclass lessclass">{{'less'|trans}}</p>
			</div>#}
		    </div>

		</div>

	    </form>
	</div>
    </div>
{% endif %}
{#==========================================================================#}

{#		Hotels container:
==========================================================================#}
{% if hotelblocksearchIndex ==1 %}
    {% if pageSrc is not defined %}
	{% set pageSrc = HOTEL_CONSTANTS.page_src.hrs %}
    {% endif %}

    {% set defaultValues = {'hotelId': 0, 'country': '', 'longitude': 0, 'latitude': 0, 'entityType': 0, 'stars': '', 'fromDate': '', 'toDate': '', 'singleRooms': 0, 'doubleRooms': 1, 'adultCount': 2, 'childCount': 0, 'maxChildCount': HOTEL_CONSTANTS.max_child_count, 'maxChildAge': HOTEL_CONSTANTS.max_child_age } %}
    {% if pageSrc == HOTEL_CONSTANTS.page_src.hrs %}
	{% set defaultValues = defaultValues|merge({'hotelCityName': '', 'locationId': 0}) %}
    {% else %}
	{% set defaultValues = defaultValues|merge({'session':'', city: {'id': 0, 'code': '', 'name': ''}, 'childAge': {}}) %}
    {% endif %}

    {% if setDefaultDate is defined %}
	{% set dates = {'fromDate':'now'|date('Y-m-d'), 'toDate':'+1 day'|date('Y-m-d')} %}
	{% set defaultValues = defaultValues|merge(dates) %}
    {% endif %}

    {% set input = defaultValues|merge(input) %}
    
    {% set route = '_hotel_booking_results' %}
    {% if route_names.hotel_booking_results is defined and route_names.hotel_booking_results is not empty %}
	{% set route = route_names.hotel_booking_results %}
    {% endif %}
    
    <div class="row">
	<div class="col-xs-12 hotels_container main_holder{% if hideblocksearchButtons ==0 and hotelblocksearchIndex ==1 %} displayblock{% endif %}">
	    <input id="search_src" value="{{ pageSrc }}" type="hidden">
	    
	    <form id="hotelform" name="hotelform" class="hotelform margin-top-10" method="get" action="{{ generateLangRoute(LanguageGet, route) }}" autocomplete="off">
		<input class="detailspage" id="detailspage" value="{% if detailspage is defined %}1{% else %}0{% endif %}" type="hidden"/>

		<div class="temp_holder">
		    <div class="row no-margin">
			<div id="searchhrscontainer" class="col-sm-6 col-xs-12 nopad">
			    <label class="search_input_label">{{'Destination'|trans}}</label>
			    {% if pageSrc == HOTEL_CONSTANTS.page_src.hrs %}
				<input name="city" type="text" class="searchdiscover inputsSearch" data-link="" placeholder="{{'City / Hotel'|trans}}" value="{% if input.city.name is defined %}{{input.city.name}}{% endif %}"/>
				<input type="hidden" class="inputData hotelCityName" name="hotelCityName" value="{% if input.city.name is defined %}{{input.city.name}}{% endif %}"/>
				<input type="hidden" class="inputData locationId" name="locationId" value="{% if input.locationId is defined %}{{input.locationId}}{% endif %}"/>
				<input type="hidden" class="inputData cityId" name="cityId" value="{% if input.city.id is defined %}{{input.city.id}}{% endif %}"/>
			    {% else %}
				<input type="text" class="searchdiscover inputsSearch" data-link="" placeholder="{{'City / Hotel'|trans}}" value="{{input.city.name}}" autofocus="autofocus"/>
				<input type="hidden" class="inputData hotelCityName" name="city[name]" value="{{input.city.name}}"/>
				<input type="hidden" class="inputData hotelCityCode" name="city[code]" value="{{input.city.code}}"/>
				<input type="hidden" class="inputData cityId" name="city[id]" value="{{input.city.id}}"/>
				<input type="hidden" class="inputData hotelCode" name="hotelCode" value="{% if input.hotelCode is defined %}{{input.hotelCode}}{% endif %}"/>
				<input type="hidden" class="inputData session" name="session" value="{{input.session}}"/>				
			    {% endif %}

			    <input class="hotelId inputData" name="hotelId" value="{% if input.hotelId is defined %}{{input.hotelId}}{% endif %}" type="hidden"/>
			    <input class="country inputData" name="country" value="{% if input.country is defined %}{{input.country}}{% endif %}" type="hidden"/>
			    <input class="longitude inputData" name="longitude" value="{% if input.longitude is defined %}{{input.longitude}}{% endif %}" type="hidden"/>
			    <input class="latitude inputData" name="latitude" value="{% if input.latitude is defined %}{{input.latitude}}{% endif %}" type="hidden"/>
			    <input class="entityType inputData" name="entityType" value="{% if input.entityType is defined %}{{input.entityType}}{% endif %}" type="hidden"/>
			    <input class="stars inputData" name="stars" value="{% if input.stars is defined %}{{input.stars}}{% endif %}" type="hidden"/>
			</div>
			<div class="col-sm-6 col-xs-12 nopad">
			    <div class="row no-margin">
				<div id="datesContainerH" class="col-sm-8 col-xs-12 nopad">
				    <div class="row no-margin">
					<div id="fromContainerH" class="col-sm-6 col-xs-12 nopad">
					    <label class="search_input_label">{{'Check-in'|trans}}</label>
					    <input id="fromDate_H" name="fromDate" class="inputsSearch fromDate inputData range_picker" placeholder="{{'Check-in'|trans}}" value="{% if input.fromDate is defined %}{{input.fromDate}}{% endif %}" type="text" autocomplete="off" readonly />
					</div>
					<div id="toContainerH" class="col-sm-6 col-xs-12 nopad">
					    <label class="search_input_label">{{'Check-out'|trans}}</label>
					    <input id="toDate_H" name="toDate" class="inputsSearch toDate inputData range_picker noborderright" placeholder="{{'Check-out'|trans}}" value="{% if input.toDate is defined %}{{input.toDate}}{% endif %}" type="text" autocomplete="off" readonly />
					</div>
				    </div>
				</div>
				{#<div class="visible-xs col-xs-12 moreopclick hidden">
					<p class="xsmoreop">{{'more'|trans}}</p>
				</div>#}
				<div class="col-sm-4 col-xs-12 hidden-xs nopad">
				    <button type="submit" class="search_hpage col-xs-12">{{'Search'|trans}}</button>
				</div>
			    </div>
			</div>
		    </div>
		</div>

		<div class="more_hotels margin-top-10">
		    <div class="temp_holder">
			<div class="row no-margin">
			    <div class="col-sm-3 col-xs-12 xsborderstyle nopad">
				<div class="inputsearchcontainer inputsSearch">
				    <span class="decbut decrementCount" data-min="0"></span>
				    <div class="inputsearchFlech">
					<input id="singleRooms" class="inputData inputsearch inputsearchplus" name="singleRooms" onkeypress="return isNumberKey(event);" placeholder="" value="{% if input.singleRooms is defined %}{{input.singleRooms}}{% else %}0{% endif %}" max="9" type="text">
					<span>{{'Single rooms'|trans}}</span>
				    </div>
				    <span class="incbut incrementCount" data-max="9"></span>
				</div>
			    </div>
			    <div class="col-sm-3 col-xs-12 xsborderstyle nopad">
				<div class="inputsearchcontainer inputsSearch">
				    <span class="decbut decrementCount" data-min="0"></span>
				    <div class="inputsearchFlech">
					<input id="doubleRooms" class="inputData inputsearch inputsearchplus" name="doubleRooms" onkeypress="return isNumberKey(event);" placeholder="" value="{% if input.doubleRooms is defined %}{{input.doubleRooms}}{% else %}1{% endif %}" max="9" type="text">
					<span>{{'Double rooms'|trans}}</span>
				    </div>
				    <span class="incbut incrementCount" data-max="9"></span>
				</div>
			    </div>
			    <div class="col-sm-3 col-xs-12 xsborderstyle nopad">
				<div class="inputsearchcontainer inputsSearch">
				    <span class="decbut decrementCount" data-min="0"></span>
				    <div class="inputsearchFlech">
					<input id="adultCount" class="inputData inputsearch inputsearchplus" name="adultCount" onkeypress="return isNumberKey(event);" placeholder="" value="{% if input.adultCount is defined %}{{input.adultCount}}{% else %}2{% endif %}" max="9" type="text">
					<span>{{'Adults'|trans}}</span>
				    </div>
				    <span class="incbut incrementCount" data-max="36"></span>
				</div>
			    </div>
			    <div class="col-sm-3 col-xs-12 xsborderstyle nopad">
				<div class="inputsearchcontainer inputsSearch noborderright">
				    <span class="decbut decrementCount" data-min="0" data-related="children"></span>
				    <div class="inputsearchFlech">
					<input id="childCount" class="inputData inputsearch inputsearchplus" name="childCount" onkeypress="return isNumberKey(event);" placeholder="" value="{% if input.childCount is defined %}{{input.childCount}}{% else %}0{% endif %}" max="9" type="text">
					<span>{{'Children'|trans}}</span>
				    </div>
				    <span class="incbut incrementCount" data-max="6" data-related="children"></span>
				</div>
			    </div>
			</div>
		    </div>
		    <div class="row">
			<div class="col-xs-12 selectnew_hpmartop">
			    <div id="guest-option" class="row">
				{% set maxChildCount = HOTEL_CONSTANTS.max_child_count %}
				{% set maxChildAge = HOTEL_CONSTANTS.max_child_age %}

				{% if input.maxChildCount is defined %}
				    {% set maxChildCount = input.maxChildCount %}
				{% endif %}

				{% if input.maxChildAge is defined %}
				    {% set maxChildAge = input.maxChildAge %}
				{% endif %}

				{% for x in 1..maxChildCount %}
				    {% set index = (x - 1) %}
				    <div class="col-md-4 col-sm-6 col-xs-12 margin-top-20 displaynone form-child{{x}}">
					<div class="row">
					    {% if pageSrc == HOTEL_CONSTANTS.page_src.hrs %}
						{% set childClass = 'childclass_hp' %}
					    {% else %}
						{% set childClass = 'childclass_tt' %}
					    {% endif %}
					    <p class="{{childClass}} col-xs-12">{{'Age of Child'|trans}} {{x}}</p>
					    <div class="col-xs-4 moreoptionnewselect_hp padding-right-5">						
						{% set childNameAttr = 'childAge[' ~ x ~ ']' %}
						<select name="{{childNameAttr}}" id="{{childNameAttr}}" class="inputData" {% if pageSrc == HOTEL_CONSTANTS.page_src.hrs %}onchange="return checkBedForAge({{x}})"{% endif %}>
						    {% for i in 0..maxChildAge %}
							{% set selected = (attribute(input.childAge, x) is defined and attribute(input.childAge, x) == i) ? 'selected="selected"' : '' %}
							<option value="{{i}}" {{selected}}>{{i}}</option>
						    {% endfor %}
						</select>
					    </div>
					    {% if pageSrc == HOTEL_CONSTANTS.page_src.hrs %}
						<div class="col-xs-8 padding-left-5 moreoptionnewselect_hp xspadzmoreoptionnewselect">
						    <select name="childBed[{{x}}]" id="childBed{{x}}" class="inputsearch inputData margintop6">
							{% set parentsBed = (input is defined and attribute(input.childBed, x) is defined and attribute(input.childBed, x) == 'parentsBed') ? 'selected="selected"' : '' %}
							{% set extraBed   = (input is defined and attribute(input.childBed, x) is defined and attribute(input.childBed, x) == 'extraBed') ? 'selected="selected"' : '' %}
							<option value="parentsBed" {{parentsBed}}>{{"In parents' bed"|trans}}</option>
							<option value="extraBed" {{extraBed}}>{{'In extra bed'|trans}}</option>
						    </select>
						</div>
					    {% endif %}
					</div>
				    </div>
				{% endfor %}
			    </div>
			</div>

			{#<div class="visible-xs col-xs-12 lessoptionclick xslesscontainer">
				<p class="xsmoreop ">{{'less'|trans}}</p>
			</div>#}
		    </div>
		</div>

		<div class="row">
		    <div class="col-xs-12 visible-xs">
			<button type="submit" class="search_hpage">{{'Search'|trans}}</button>
		    </div>
		</div>

		<div class="row">
		    <div class="col-xs-12 hidden-xs">
			<div class="moreoptionsclass moreopclick more" data-toggle="hotels">
			    <p class="mropclass">{{'more'|trans}}</p>
			</div>
			{#<div class="moreoptionsclass lessoptionclick">
				<p class="mropclass lessclass">{{'less'|trans}}</p>
			</div>#}
		    </div>
		</div>
	    </form>
	</div>
    </div>
{% endif %}
{#=========================================================================#}

{#		hotels and flights container:
==========================================================================#}
{% if hotelflightblocksearchIndex ==1 %}
    <div class="row">
	<div class="col-xs-12 hotels_flights_container main_holder{% if hideblocksearchButtons ==0 and hotelflightblocksearchIndex ==1 %} displayblock{% endif %}">
	    <form id="airplanehotelform" name="airplanehotelform" method="post" action="{{ generateLangRoute(LanguageGet,'_flight_booking_result') }}" autocomplete="off">

		<div class="row no-margin margin-top-10">
		    <div class="col-xs-12 nopad">
			<div class="temp_holder">
			    <div class="row no-margin">
				<div id="departurecontainer" class="col-sm-3 col-xs-12 nopad">
				    <input name="departureairport" placeholder="{{'Departure airport / city'|trans}}" class="inputsSearch departureairport" value="" type="text">
				    <input type="hidden" class="departureairportC[]" name="departureairportC" value="">
				</div>
				<div id="arrivalcontainer" class="col-sm-3 col-xs-12 nopad">
				    <input name="arrivalairport" placeholder="{{'Arrival airport / city'|trans}}" class="inputsSearch arrivalairport" value="" type="text">
				    <input type="hidden" class="arrivalairportC[]" name="arrivalairportC" value="">
				</div>
				<div class="col-sm-6 col-xs-12 nopad">
				    <div class="row no-margin">
					<div id="datesContainer" class="col-sm-8 col-xs-12 nopad">
					    <div class="row no-margin">
						<div id="fromContainer" class="col-sm-6 col-xs-12 nopad">
						    <input name="fromDate" placeholder="{{'Departure date'|trans}}" class="inputsSearch fromDate range_picker" value="" type="text" autocomplete="off" readonly />
						</div>
						<div id="toContainer" class="col-sm-6 col-xs-12 nopad">
						    <input name="toDate" placeholder="{{'Return date'|trans}}" class="inputsSearch toDate range_picker noborderright" value="" type="text" autocomplete="off" readonly />
						</div>
					    </div>
					</div>
					{#<div class="visible-xs col-xs-12 moreopclick nopad hidden">
						<p class="xsmoreop">{{'more'|trans}}</p>
					</div>#}
					<div class="col-sm-4 col-xs-12 hidden-xs nopad">
					    <button name="" type="submit" class="search_hpage col-xs-12">{{'Search'|trans}}</button>
					</div>
				    </div>
				</div>
			    </div>
			</div>
		    </div>
		</div>

		<div class="row no-margin more_hotels_flights margin-top-10">
		    <div class="col-xs-12 nopad">
			<div class="temp_holder">
			    <div class="row no-margin">
				<div class="col-sm-3 col-xs-12 styled-select nopad">
				    <select id="cabinselect" name="cabinselect" tabindex="1" class="selectclassstyle">
					<option value="">{{'Select class'|trans}}</option>
					<option value="Y">{{'Economy class'|trans}}</option>
					<option value="S">{{'Premium Economy'|trans}}</option>
					<option value="C">{{'Business class'|trans}}</option>
					<option value="F">{{'First class'|trans}}</option>
				    </select>
				</div>
				<div class="col-sm-3 col-xs-12 styled-select nopad">
				    <select id="adultsselect" name="adultsselect" class="selectclassstyle">
					<option value="1">{{'1 adult (12+ year)'|trans}}</option>
					<option value="2">{{'2 Adults'|trans}}</option>
					<option value="3">{{'3 Adults'|trans}}</option>
					<option value="4">{{'4 Adults'|trans}}</option>
					<option value="5">{{'5 Adults'|trans}}</option>
					<option value="6">{{'6 Adults'|trans}}</option>
					<option value="7">{{'7 Adults'|trans}}</option>
					<option value="8">{{'8 Adults'|trans}}</option>
				    </select>
				</div>
				<div class="col-sm-3 col-xs-12 styled-select nopad">
				    <select id="childsselect" name="childsselect" class="selectclassstyle">
					<option value="0">{{'Children (2-12 year)'|trans}}</option>
					<option value="1">{{'1 child'|trans}}</option>
					<option value="2">{{'2 children'|trans}}</option>
					<option value="3">{{'3 children'|trans}}</option>
					<option value="4">{{'4 children'|trans}}</option>
					<option value="5">{{'5 children'|trans}}</option>
					<option value="6">{{'6 children'|trans}}</option>
					<option value="7">{{'7 children'|trans}}</option>
					<option value="8">{{'8 children'|trans}}</option>
				    </select>
				</div>
				<div class="col-sm-3 col-xs-12 styled-select nopad">
				    <select id="infantsselect" name="infantsselect" class="selectclassstyle noborderright">
					<option value="0">{{'Infants (0-2 year)'|trans}}</option>
					<option value="1">{{'1 infant'|trans}}</option>
					<option value="2">{{'2 infants'|trans}}</option>
					<option value="3">{{'3 infants'|trans}}</option>
					<option value="4">{{'4 infants'|trans}}</option>
					<option value="5">{{'5 infants'|trans}}</option>
					<option value="6">{{'6 infants'|trans}}</option>
					<option value="7">{{'7 infants'|trans}}</option>
					<option value="8">{{'8 infants'|trans}}</option>
				    </select>
				</div>
				<div class="visible-xs col-xs-12 lessoptionclick nopad hidden">
				    <p class="xsmoreop ">{{'less'|trans}}</p>
				</div>
			    </div>
			</div>
		    </div>
		</div>

		<div class="row more_hotels_flights">
		    <div class="col-xs-12">
			<ul class="checkboxul">
			    <li class=""><label><input class="flexibledate form-check-input" name="flexibledate" value="1" type="checkbox"> {{'My dates are flexible (lowest prices on + / - 3 days)'|trans}}</label></li>
			</ul>
		    </div>
		</div>

		<div class="row">
		    <div class="col-xs-12 visible-xs">
			<button name="" type="submit" class="search_hpage">{{'Search'|trans}}</button>
		    </div>
		</div>

		<div class="row">
		    <div class="col-xs-12 hidden-xs">
			<div class="moreoptionsclass moreopclick more" data-toggle="hotels_flights">
			    <p class="mropclass ">{{'more'|trans}}</p>
			</div>
			{#<div class="moreoptionsclass lessoptionclick">
				<p class="mropclass lessclass">{{'less'|trans}}</p>
			</div>#}
		    </div>
		</div>

	    </form>
	</div>
    </div>
{% endif %}
{#==========================================================================#}

{#		Attractions container:
==========================================================================#}
{% if dealblocksearchIndex ==1 and SHOW_DEALS_BLOCK==1 %}
    <div class="row">
	<div class="col-xs-12 attractions_container main_holder{% if hideblocksearchButtons ==0 and dealblocksearchIndex ==1 %} displayblock{% endif %}">

	    <form id="dealsform" name="dealsform"  method="post" class="attractionform margin-top-10" action="{{ (dealSearchFormAction is defined)  ? dealSearchFormAction : generateLangRoute(LanguageGet,'_dealSearch') }}" autocomplete="off">

		<div class="temp_holder">

		    <div class="row no-margin">
			<div id="attractioncontainer" class="col-sm-6 col-xs-12 nopad">
			    <input name="city" type="text"  value="{{ (city is defined)  ? city }}" placeholder="{{'City / Attractions'|trans}}" class="searchattractions inputsSearch" data-id="0" data-city="" data-state="" data-contryc="" data-type="" >
			    <input id="cityName" class="inputData" name="cityName" value="{{ (city is defined)  ? city }}" type="hidden">
			    <input id="dealId" class="inputData" name="dealId" value="" type="hidden">
			    <input id="cityId" class="inputData" name="cityId" value="{{ (cityId is defined)  ? cityId }}" type="hidden">
			    <input id="attractionName" class="inputData" name="attractionName" value="" type="hidden">
			</div>
			<div class="col-sm-6 col-xs-12 nopad">
			    <div class="row no-margin">
				<div id="datesContainerH" class="col-sm-8 col-xs-12 nopad">
				    <div class="row no-margin">
					<div id="fromContainerD" class="col-sm-6 col-xs-12 nopad">
					    <input type="text" name="startDate" class="inputsSearch fromDate range_picker"  placeholder="{{'from'|trans}}" value="{{ (startDate is defined)  ? startDate }}" autocomplete="off" readonly />
					</div>
					<div id="toContainerD" class="col-sm-6 col-xs-12 nopad">
					    <input type="text" name="endDate" class="inputsSearch toDate range_picker noborderright"  placeholder="{{'to'|trans}}" value="{{ (endDate is defined)  ? endDate }}" autocomplete="off" readonly />
					</div>
				    </div>
				</div>
				<div class="col-sm-4 col-xs-12 hidden-xs nopad">
				    <button name="search" type="submit" class="search_hpage col-xs-12">{{'Search'|trans}}</button>
				</div>
			    </div>
			</div>
		    </div>

		</div>

		<div class="row">
		    <div class="col-xs-12 visible-xs">
			<button name="" type="submit" class="search_hpage">{{'Search'|trans}}</button>
		    </div>
		</div>

	    </form>

	</div>
    </div>
{% endif %}
{#=========================================================================#}
