{% extends 'basecorporateFinal.html.twig' %}
{% block title %}
    {{ 'Hotel Reviews'|trans }}{{ ' | TouristTube' }}
{% endblock %}
{% block body %}
    {% if hotelDetails is defined and hotelDetails is not empty%}
	<section class="container hotel_reviews_container">
	    <div class="row margin_top_30">
		<div class="col-xs-12">
		    <h2 class="search_title"><span class="circlimg_arrow"><i class="fas fa-angle-right"></i></span>{{"Hotel Reviews"|trans}}</h2>
		</div>
	    </div>
	    <div class="row hotel_search_input_container" style="display:none;">
		<div class="col-xs-12">
		    {% include "default/searchinput3.twig" %}
		    <div class="close_container">
			<i class="fas fa-times fa-lg"></i>
		    </div>
		</div>
	    </div>
	    <div class="row border_top_but_row"></div>
	    <div class="row margin_top_20">
		<div class="col-md-3 col-xs-12 left_panel nopad padright_10 xspadding">
		    <div class="row margin_top_20">
			<div class="col-xs-12">
			    <button class="btn btn-info bookHotelButton">{{"Book Now"|trans}}</button>
			    </a>
			</div>
		    </div>
		    {% if hotelDetails.trustyou.summary.score is defined and hotelDetails.trustyou.summary.score is not empty %}
			<div class="row no-margin">
			    <div class="col-xs-12 nopad">
				<h3 class="blue_title">{{'Review Score'|trans}}<br><span class="grey font-14">{{'Based on'|trans ~ ' ' ~ hotelDetails.trustyou.reviews_count ~ ' ' ~ 'hotel reviews'|trans}}</span></h3>
				<div class="heart-rating-review">
				    <img alt="heart_hoteldetailed" src="{{ generateMediaURL('/media/images/hotel_booking_details_new/heart_rating_review.png') }}">
				    <p alt="{{ (hotelDetails.trustyou.summary.score/2)|round(1, 'floor') }} out of 5" content="{{ (hotelDetails.trustyou.summary.score/2)|round(1, 'floor') }}" itemprop="ratingValue" class="ratetext">{{hotelDetails.trustyou.summary.score}}</p>
				</div>
			    </div>
			</div>
		    {% endif %}
		    {% if hotelDetails.trustyou.category_list is defined and hotelDetails.trustyou.category_list is not empty %}
			<div class="row no-margin margin_top_10">
			    {% for review_cat in hotelDetails.trustyou.category_list %}
				<div class="col-xs-12 margin_bottom_5 nopad">
				    <div class="greyline_hoteldetail">
					<p class="uperlefttext">{{review_cat.category_name}}</p>
					<p class="uperrightnumb">{{review_cat.score}}</p>
					<div class="darckfreybardiv" style="width:{{(review_cat.score/hotelDetails.trustyou.scale)*100}}%;"></div>
				    </div>
				</div>
			    {% endfor %}
			</div>
		    {% endif %}
		</div>
		<div class="col-md-9 col-xs-12 right_panel nopad padleft_10 xspadding">
		    <div class="row margin_top_20">
			<div class="col-xs-12">
			    <div class="row no-margin">
				<div class="col-sm-3 col-xs-12 nopad">
				    <a title="{{hotelDetails.namealt|raw}}" href="{{details_link|raw}}"><img class="max_width" src="{{hotelDetails.mainImage}}" alt="{{hotelDetails.namealt|raw}}"></a>
				</div>
				<div class="col-sm-9 col-xs-12 nopad">
				    <div class="row no-margin">
					<div class="col-xs-12 nopad">
					    <h1 class="hotel_title">{{hotelDetails.name}}</h1>
					    <p class="location_div location_txt"><i class="fas fa-map-marker-alt"></i>{{hotelDetails.address}}</p>
					    {% if hotelDetails.category > 0 %}<p class="stars_block"><span class="star_rating" data-rating="{{hotelDetails.category}}" data-font="11" data-color="#eac31a"></span></p>{% endif %}
					    {% if hotelDetails.trustyou.summary.score is defined and hotelDetails.trustyou.summary.score is not empty %}
						<p class="rarting_txt">{{'Rating'|trans ~ ': ' ~ hotelDetails.trustyou.summary.score ~ ' ' ~ 'out of'|trans ~ ' '~ hotelDetails.trustyou.scale ~ ' (' ~ hotelDetails.trustyou.reviews_count ~ ' ' ~ 'Reviews'|trans ~ ')'}}</p>
					    {% endif %}
					</div>
				    </div>
				</div>
			    </div>
			</div>
		    </div>
		    <div class="row margin_top_50">
			<div class="col-xs-12">
			    <div class="row no-margin">
				<div class="col-md-8 col-xs-12 nopad padright_5 margin_bottom_10">
				    <div class="row no-margin">
					<div class="col-xs-12 nopad grey_bar_top">
					    <h2 class="verifreviews">{{'100% Verified Real Reviews'|trans}}</h2>
					    <img class="trustyoulogo" src="{{ generateMediaURL('/media/images/trustyoulogo.png') }}" alt="{{'trust you'|trans}}">
					</div>
				    </div>
				    <div class="row no-margin">
					<div class="col-xs-12 nopad">
					    <ul class="review_tab_list">
						{% if hotelDetails.trustyou.category_list is defined and hotelDetails.trustyou.category_list is not empty %}
						    <li class=""><a rel="nofollow" id="alltab" class="a-tabs active" title="{{'All'|trans}}" href="#">{{'All'|trans}}</a>
							<div class="image-div active">
							    <img class="active-arrow " src="{{ generateMediaURL('/media/images/hotel-reviews_new/pink_down_select_arrow.png') }}" alt="{{'arrow'|trans}}">
							</div>
						    </li>
						{% endif %}
						{% if hotelDetails.trustyou.trip_type_meta_review_list is defined and hotelDetails.trustyou.trip_type_meta_review_list is not empty %}
						    {% for trip_type in hotelDetails.trustyou.trip_type_meta_review_list %}
							{% if trip_type.category_list is defined and hotelDetails.trustyou.trip_type_meta_review_list is not empty %}
							    <li class="pad-li-tabs"> | </li>
							    <li class=""><a rel="nofollow" id="{{trip_type.name|lower ~ 'tab'}}" class="a-tabs" title="{{trip_type.name|trans}}" href="#">{{trip_type.name|trans}}</a>
								<div class="image-div">
								    <img class="active-arrow " src="{{ generateMediaURL('/media/images/hotel-reviews_new/pink_down_select_arrow.png') }}" alt="{{'arrow'|trans}}"/>
								</div>
							    </li>
							{% endif %}
						    {% endfor %}
						{% endif %}
					    </ul>
					</div>
				    </div>
				    {% if hotelDetails.trustyou.category_list is defined and hotelDetails.trustyou.category_list is not empty %}
					<div id="sub_alltab" class="contenttabs firstdisplaytab">
					    {% for review_cat in hotelDetails.trustyou.category_list %}
						<div class="row no-margin margin_top_20">
						    <div class="col-xs-12 nopad margin_bottom_5">
							<div class="imagecircletxtcont_dat">
							    <div class="greycircle_dat"></div>
							    <p class="textingreycircle_dat">{{review_cat.score}}</p>
							</div>
							<p class="nextcircletext_dat">{{review_cat.short_text}}</p>
						    </div>
						    <div class="col-xs-12 nopad">
							<ul class="pinklistul">
							    {% for summary in review_cat.summary_sentence_list %}
								<li class="review_grey_text">{{summary.text ~ ' '}}</li>
							    {% endfor %}
							</ul>
						    </div>
						    <div class="border_separator margin_top_30"></div>
						</div>
					    {% endfor %}
					</div>
				    {% endif %}
				    {% if hotelDetails.trustyou.trip_type_meta_review_list is defined and hotelDetails.trustyou.trip_type_meta_review_list is not empty %}
					{% for trip_type in hotelDetails.trustyou.trip_type_meta_review_list %}
					    {% if trip_type.category_list is defined and trip_type.category_list is not empty %}
						<div id="{{'sub_' ~ trip_type.name|lower ~ 'tab'}}" class="contenttabs">
						    {% for review_cat in trip_type.category_list %}
							<div class="row no-margin margin_top_20">
							    <div class="col-xs-12 nopad margin_bottom_5">
								<div class="imagecircletxtcont_dat">
								    <div class="greycircle_dat"></div>
								    <p class="textingreycircle_dat">{{review_cat.score}}</p>
								</div>
								<p class="nextcircletext_dat">{{review_cat.short_text}}</p>
							    </div>
							    <div class="col-xs-12 nopad">
								<ul class="pinklistul">
								    {% for summary in review_cat.summary_sentence_list %}
									<li class="review_grey_text">{{summary.text ~ ' '}}</li>
								    {% endfor %}
								</ul>
							    </div>
							    <div class="border_separator margin_top_30"></div>
							</div>
						    {% endfor %}
						</div>
					    {% endif %}
					{% endfor %}
				    {% endif %}
				</div>
			    </div>
			</div>
		    </div>
		</div>
	    </div>
	</section>
    {% endif %}
{% endblock %}
