{% extends 'basecorporateFinal.html.twig' %}

{% block title %}
    {{ 'Flight Review Trip'|trans }}{{ ' | TouristTube' }}
{% endblock %}
{% block body %}

    <section class="container flight_review_trip_container">
        <div class="row margin_top_30">
            <div class="col-sm-9 col-xs-12">
                <h1 class="search_title"><span class="circlimg_arrow"><i class="fas fa-angle-right"></i></span>{{ 'Your Search'|trans }}</h1>
            </div>
            <div class="col-sm-3 col-xs-12 currencyselectbox_top">
                <div class="currency_top_but">
                    <p class="curtext_hp"><span>{{currency_symbol.symbol|raw}}</span> {{selected_currency|raw}}</p>
                </div>
            </div>
        </div>
        <div class="row update_search_container div_wiz_border">
            {% include "@Flight/flight/your-search.twig" %}
        </div>
        <div class="row flight_search_input_container flight_container_style">
            <div class="col-xs-12 searchcontainer_homep searchcontainer_content">
                {% include "default/searchinput3.twig" %}
                <div class="close_container">
                    <i class="fas fa-times fa-lg"></i>
                </div>
            </div>
        </div>
        <div class="row border_top_but_row"></div>

        {{ include('@Flight/flight/flight-steps-bar.twig', { 'step': 2 }) }}

        <div class="row margin_top_30">
            <div class="col-xs-12">
                <h2 class="search_title pink "><span class="circlimg_arrow"><i class="fas fa-angle-right"></i></span>{{ 'Review your trip'|trans }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="border_grey_1 margin-bottom-10 margin-top-4"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="checkmark"><i class="fas fa-check fa-2x"></i></div>
                <p class="job_info_subtitle">{{ 'Half the job is done.'|trans }}
                    <br>{{ "Book now so you don’t miss out on this price!"|trans }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="border_grey_1 margin-bottom-10 margin-top-4"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 col-md-10 col-xs-12 margin-top-20">
                <div class="row">
                    <div class="col-md-4 col-sm-3 col-xs-12">
                        <p class="font-20 black line-height-20">{{ 'Trip Summary'|trans }}</p>
                    </div>
                    <div class="col-md-8 col-sm-9 col-xs-12">
                        {#<div class="row no-margin">#}
                        {#<div class="col-sm-5 col-xs-6">#}
                        {#<p class="font-16 pink">Traveler1: Adult</p>#}
                        {#</div>#}
                        {#<div class="col-sm-7 col-xs-6">#}
                        {#<p class="font-20 pink">$198.83</p>#}
                        {#</div>#}
                        {#</div>#}
                        <div class="row">
                            <div class="col-sm-5 col-xs-6">
                                <p class="font-16 pink line-height-20">{{ 'Booking Fee'|trans }}</p>
                            </div>
                            <div class="col-sm-7 col-xs-6">
                                <p class="font-20 pink line-height-20 xs_line-height-40 price-convert margintopspes"
                                   data-price="{{ totalPrice|raw }}">{{ 'Trip total'|trans }}: <span class="visible-xs"><br /></span><span
                                        class="font-28 currency-convert-text">{{ hiddenFields.currency_code|raw }}</span> <span
                                        class="price-convert-text font-40">{{ totalPrice|number_format(2, '.', ',') }}</span></p>
                                <p>
                                {% if hiddenFields.refundable %}
                                {% set refundable = 'Refundable'|trans %}
                                {% else %}
                                {% set refundable = 'Non-refundable'|trans %}
                                {% endif %}
                                
                                </p>
                            </div>
                        </div>

                    </div>
                    
                </div>
            </div>
            <div class="col-lg-3 col-md-2 col-xs-12 margin-top-20">
                <p class="font-15 pink line-height-20 float_right">{{ refundable }} {{'*charges may apply'|trans}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="border_grey_1 margin-bottom-10 margin-top-4"></div>
            </div>
        </div>
        {% if flight_segments.leaving is defined and flight_segments.leaving.flight_info is iterable %}
            {% for flightInfo in flight_segments.leaving.flight_info %}
                {% set destination_airport_code = flightInfo.destination_airport_code %}
                {% set destination_airport = flightInfo.destination_airport %}
                {% set arrival_time = flightInfo.trip_review.arrival_time %}
                {% if flightInfo.stop_segment is defined and flightInfo.stop_segment is iterable %}
                    {% set destination_airport_code = flightInfo.stop_segment[0].destination_airport_code %}
                    {% set destination_airport = flightInfo.stop_segment[0].destination_airport %}
                    {% set arrival_time = flightInfo.stop_segment[0].trip_review.arrival_time %}
                {% endif %}
                <div class="row flight_row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12 margin-top-10">
                                <img class="airline_logo_title_img" alt="{{ flightInfo.airline_name }}"
                                     src="{{ flightInfo.airline_logo }}">
                                <h3 class="airline_logo_title">{{ flightInfo.airline_name }}  <br/> </h3>
                                    {% if response['request']['oneway'] %}
                                    <br/>
                                    <p class="font-16 black float_right line-height-20 xs_line-height-40 price-convert" data-price="{{ flightInfo.segment_amount|raw }}">{{ 'Trip Price'|trans }}:
                                        <span class="font-20 currency-convert-text">{{ hiddenFields.currency_code|raw }}</span>
                                        <span class="font-30">{{ flightInfo.segment_amount|number_format(2, '.', ',') }}</span>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row margin-top-10">
                            <div class="col-md-10 col-sm-9 col-xs-12">
                                <div class="row margin_5">
                                    <div class="col-xs-4 padding_10">
                                        <p class="font-27 black line-height-22">{{ flightInfo.departure_date }}</p>
                                    </div>
                                    <div class="col-xs-2 padding_10">
                                        <p class="font-17 grey line-height-22">{{ 'From'|trans }}<br>To</p>
                                    </div>
                                    <div class="col-xs-6 padding_10">
                                        <p class="font-17 black line-height-22">{{ flightInfo.origin_airport|raw }}
                                            ({{ flightInfo.origin_airport_code|raw }})<br>{{ destination_airport|raw }}
                                            ({{ destination_airport_code|raw }})</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-12">
                                <div class="row margin_5">
                                    <div class="col-xs-12 padding_10">
                                        <p class="font-14 black line-height-22">{{ flightInfo.departure_terminal|raw }}
                                            <br/>{{ flightInfo.arrival_terminal|raw }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-top-20">
                            <div class="col-md-10 col-sm-8 col-xs-12">
                                <div class="row margin_5">
                                    <div class="col-xs-4 padding_10">
                                        <p class="font-16 black line-height-22">{{ flightInfo.origin_airport_code|raw }}<br><span
                                                class="font-26">{{ flightInfo.trip_review.departure_time|raw }}</span></p>
                                    </div>
                                    <div class="col-xs-2 padding_10">
                                        <div class="image_blue_container">
                                            <div class="right_arrow_style"><i class="fas fa-arrow-right"></i></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 padding_10">
                                        <p class="font-16 black line-height-22">{{ destination_airport_code|raw }}<br><span
                                                class="font-26">{{ arrival_time|raw }}</span></p>
                                    </div>
                                </div>
                                <div class="row margin_5 margin-top-20">
                                    <div class="col-xs-12 padding_10">
                                        <p
                                            class="font-13 grey line-height-22 pointer flight_details_clicker">{{ 'Show flight and baggage fee details'|trans }}
                                            <i class="fas fa-angle-double-down uparrowblue"></i></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="row margin_5">
                                    {% if flightInfo.stop_segment is defined and flightInfo.stop_segment is iterable %}
                                        <div class="col-xs-12 padding_10">
                                            <p class="font-16 black line-height-22">{{ flightInfo.destination_airport_code|raw }}<br><span
                                                    class="font-26">{{ flightInfo.flight_duration|raw }}, 1{{ 'stop'|trans }}</span></p>
                                        </div>
                                    {% else %}
                                        <div class="col-xs-12 padding_10">
                                            <p class="font-16 black line-height-22">&nbsp;<br><span
                                                    class="font-26">{{ flightInfo.flight_duration|raw }}</span></p>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="row margin_5 margin-top-20">
                                    <div class="col-xs-12 padding_10">
                                        {% if flightInfo.stop_segment is defined and flightInfo.stop_segment is iterable %}
                                            <p
                                                class="font-13 font-bold line-height-22">{{ flightInfo.stop_segment[0].trip_review.arrival_date|raw }}</p>
                                        {% else %}
                                            <p class="font-13 font-bold line-height-22">{{ flightInfo.trip_review.arrival_date|raw }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="border_grey_1 margin-top-4"></div>
                    </div>
                    <div class="col-xs-12 flight_details_container">
                        <div class="grey_back_container">
                            <div class="row no-margin">
                                <div class="col-xs-12 nopad">
                                    <div class="row padding-top-30">
                                        <div class="col-md-10 col-sm-9 col-xs-12">
                                            <div class="row margin_5">
                                                <div class="col-xs-4 padding_10">
                                                    <p class="font-16 black line-height-22"><span
                                                            class="font-26">{{ flightInfo.trip_review.departure_time|raw }}</span></p>
                                                </div>
                                                <div class="col-xs-2 padding_10">
                                                    <div class="image_blue_container">
                                                        <div class="right_arrow_style margin-top-0"><i class="fas fa-arrow-right"></i></div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 padding_10">
                                                    <p class="font-16 black line-height-22"><span
                                                            class="font-26">{{ flightInfo.trip_review.arrival_time|raw }}</span></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-3 col-xs-12">
                                            <div class="row margin_5">
                                                <div class="col-xs-12 padding_10">
                                                    <p class="font-16 black line-height-22"><span class="font-26">
                                                            {% if flightInfo.stop_segment is defined and flightInfo.stop_segment is iterable %}
                                                                {{ flightInfo.trip_review.duration|raw }}
                                                            {% else %}
                                                                {{ flightInfo.flight_duration|raw }}
                                                            {% endif %}
                                                        </span><br><span
                                                            class="font-13 font-bold line-height-22">{{ flightInfo.trip_review.arrival_date|raw }} </span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row padding-top-10">
                                        <div class="col-md-10 col-sm-9 col-xs-12">
                                            <div class="row margin_5">
                                                <div class="col-xs-4 padding_10"></div>
                                                <div class="col-xs-2 padding_10"></div>
                                                <div class="col-xs-6 padding_10">
                                                    <p class="font-14 grey line-height-22">{{ 'From'|trans }} {{ flightInfo.origin_airport|raw }}
                                                        ({{ flightInfo.origin_airport_code }}
                                                        )<br>{{ 'To'|trans }} {{ flightInfo.destination_airport|raw }}
                                                        ({{ flightInfo.destination_airport_code|raw }})</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-3 col-xs-12">
                                            <div class="row margin_5">
                                                <div class="col-xs-12 padding_10">
                                                    <p class="font-14 grey line-height-22">{{ flightInfo.departure_terminal|raw }}
                                                        <br>{{ flightInfo.arrival_terminal|raw }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row padding-top-10">
                                        <div class="col-md-10 col-sm-9 col-xs-12">
                                            <div class="row margin_5">
                                                <div class="col-xs-4 padding_10"></div>
                                                <div class="col-xs-2 padding_10"></div>
                                                <div class="col-xs-6 padding_10">
                                                    <p
                                                        class="font-14 grey line-height-22">{{ flightInfo.operating_airline_name|raw }} {{ flightInfo.flight_number|raw }}
                                                        <br>{{ flightInfo.aircraft_type|raw }}<br>{{ flightInfo.cabin|raw }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-3 col-xs-12">
                                            <div class="row margin_5">
                                                <div class="col-xs-12 padding_10"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row padding-top-10">
                                        <div class="col-md-10 col-sm-9 col-xs-12">
                                            <div class="row margin_5">
                                                <div class="col-xs-4 padding_10"></div>
                                                <div class="col-xs-2 padding_10">{{ 'Seats'|trans }}</div>
                                                <div class="col-xs-6 padding_10">
                                                    <a class="font-14 grey line-height-22 text_underline">{{ 'Preview availability'|trans }}</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-3 col-xs-12">
                                            <div class="row margin_5">
                                                <div class="col-xs-12 padding_10"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row padding-top-10">
                                        <div class="col-md-10 col-sm-9 col-xs-12">
                                            <div class="row margin_5">
                                                <div class="col-xs-4 padding_10"></div>
                                                <div class="col-xs-2 padding_10">{{ 'Total distance'|trans }}</div>
                                                <div class="col-xs-6 padding_10">
                                                    <p class="font-14 grey line-height-22">{{ flightInfo.mile_distance|raw }} {{ 'mi'|trans }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-3 col-xs-12">
                                            <div class="row margin_5">
                                                <div class="col-xs-12 padding_10"></div>
                                            </div>
                                        </div>
                                    </div>

                                    {% if flightInfo.stop_segment is defined and flightInfo.stop_segment is iterable %}
                                        <div class="row">
                                            <div class="col-md-10 col-sm-9 col-xs-12">
                                                <div class="row margin_5">
                                                    <div class="col-xs-4 padding_10"></div>
                                                    <div class="col-xs-8 padding_10">
                                                        <div class="border_grey_1 margin-top-10"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-10 col-sm-9 col-xs-12">
                                                <div class="row margin_5">
                                                    <div class="col-xs-4 padding_10"></div>
                                                    <div class="col-xs-2 padding_10">
                                                        <img class="clock_grey_logo" alt="clock_grey_logo"
                                                             src="{{ generateMediaURL('/media/images/flights_new/clock_vector.png') }}">
                                                    </div>
                                                    <div class="col-xs-6 padding_10">
                                                        <p
                                                            class="font-26 black font-bold margin-bottom-0 line-height-59">{{ flightInfo.stop_segment[0].stop_duration|raw }}
                                                            <span
                                                                class="font-15 grey font-normal">{{ 'in'|trans }} {{ flightInfo.stop_segment[0].origin_city|raw }}
                                                                ({{ flightInfo.stop_segment[0].origin_airport_code }})</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-10 col-sm-9 col-xs-12">
                                                <div class="row margin_5">
                                                    <div class="col-xs-4 padding_10"></div>
                                                    <div class="col-xs-8 padding_10">
                                                        <div class="border_grey_1"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="row no-margin">
                                <div class="col-xs-12 nopad">
                                    {% if flightInfo.stop_segment is defined and flightInfo.stop_segment is iterable %}
                                        <div class="row padding-top-30">
                                            <div class="col-md-10 col-sm-9 col-xs-12">
                                                <div class="row margin_5">
                                                    <div class="col-xs-4 padding_10">
                                                        <p class="font-16 black line-height-22"><span
                                                                class="font-26">{{ flightInfo.stop_segment[0].trip_review.departure_time|raw }}</span>
                                                        </p>
                                                    </div>
                                                    <div class="col-xs-2 padding_10">
                                                        <div class="image_blue_container">
                                                            <div class="right_arrow_style margin-top-0"><i class="fas fa-arrow-right"></i></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 padding_10">
                                                        <p class="font-16 black line-height-22"><span
                                                                class="font-26">{{ flightInfo.stop_segment[0].trip_review.arrival_time|raw }}</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-3 col-xs-12">
                                                <div class="row margin_5">
                                                    <div class="col-xs-12 padding_10">
                                                        <p class="font-16 black line-height-22"><span
                                                                class="font-26">{{ flightInfo.stop_segment[0].trip_review.duration|raw }}</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row padding-top-10">
                                            <div class="col-md-10 col-sm-9 col-xs-12">
                                                <div class="row margin_5">
                                                    <div class="col-xs-4 padding_10"></div>
                                                    <div class="col-xs-2 padding_10"></div>
                                                    <div class="col-xs-6 padding_10">
                                                        <p
                                                            class="font-14 grey line-height-22">{{ 'From'|trans }} {{ flightInfo.stop_segment[0].origin_airport|raw }}
                                                            ({{ flightInfo.stop_segment[0].origin_airport_code }}
                                                            )<br>{{ 'To'|trans }} {{ flightInfo.stop_segment[0].destination_airport|raw }}
                                                            ({{ flightInfo.stop_segment[0].destination_airport_code|raw }})</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-3 col-xs-12">
                                                <div class="row margin_5">
                                                    <div class="col-xs-12 padding_10">
                                                        <p
                                                            class="font-14 grey line-height-22">{{ flightInfo.stop_segment[0].departure_terminal|raw }}
                                                            <br>{{ flightInfo.stop_segment[0].arrival_terminal|raw }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row padding-top-10">
                                            <div class="col-md-10 col-sm-9 col-xs-12">
                                                <div class="row margin_5">
                                                    <div class="col-xs-4 padding_10"></div>
                                                    <div class="col-xs-2 padding_10"></div>
                                                    <div class="col-xs-6 padding_10">
                                                        <p
                                                            class="font-14 grey line-height-22">{{ flightInfo.stop_segment[0].operating_airline_name|raw }} {{ flightInfo.stop_segment[0].flight_number|raw }}
                                                            <br>{{ flightInfo.stop_segment[0].aircraft_type|raw }}
                                                            <br>{{ flightInfo.stop_segment[0].cabin|raw }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-3 col-xs-12">
                                                <div class="row margin_5">
                                                    <div class="col-xs-12 padding_10"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row padding-top-10">
                                            <div class="col-md-10 col-sm-9 col-xs-12">
                                                <div class="row margin_5">
                                                    <div class="col-xs-4 padding_10"></div>
                                                    <div class="col-xs-2 padding_10">{{ 'Seats'|trans }}</div>
                                                    <div class="col-xs-6 padding_10">
                                                        <a class="font-14 grey line-height-22 text_underline">{{ 'Preview availability'|trans }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-3 col-xs-12">
                                                <div class="row margin_5">
                                                    <div class="col-xs-12 padding_10"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row padding-top-10">
                                            <div class="col-md-10 col-sm-9 col-xs-12">
                                                <div class="row margin_5">
                                                    <div class="col-xs-4 padding_10"></div>
                                                    <div class="col-xs-2 padding_10">{{ 'Total distance'|trans }}</div>
                                                    <div class="col-xs-6 padding_10">
                                                        <p class="font-14 grey line-height-22">{{ flightInfo.stop_segment[0].mile_distance|raw }} {{ 'mi'|trans }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-3 col-xs-12">
                                                <div class="row margin_5">
                                                    <div class="col-xs-12 padding_10"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-10 col-sm-9 col-xs-12">
                                                <div class="row margin_5">
                                                    <div class="col-xs-4 padding_10"></div>
                                                    <div class="col-xs-8 padding_10">
                                                        <div class="border_grey_1 margin-top-10"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="row">
                                        <div class="col-md-10 col-sm-9 col-xs-12">
                                            <div class="row margin_5">
                                                <div class="col-xs-4 padding_10"></div>
                                                <div class="col-xs-2 padding_10">
                                                    <p class="font-14 black line-height-22">{{ 'Bag fees'|trans }}</p>
                                                </div>
                                                <div class="col-xs-6 padding_10">
                                                    <div class="row margin_5">
                                                        <div class="col-xs-12 padding_10">
                                                            <p
                                                                class="font-14 black line-height-22">{{ 'Estimated baggage fees charged by'|trans }} {{ flightInfo.operating_airline_name|raw }}
                                                                ({{ 'Please confirm with airline'|trans }})</p>
                                                        </div>
                                                        <div class="col-xs-10 padding_10">
                                                            <div class="row no-margin">
                                                                <div class="col-xs-6 nopad">
                                                                    <p class="font-14 black line-height-22 margin-bottom-0">{{ 'Carry on'|trans }}:</p>
                                                                </div>
                                                                <div class="col-xs-6 nopad">
                                                                    <p class="font-14 black line-height-22 margin-bottom-0">{{ 'No fee'|trans }}</p>
                                                                </div>
                                                            </div>
                                                            <div class="row no-margin">
                                                                <div class="col-xs-6 nopad">
                                                                    <p class="font-14 black line-height-22 margin-bottom-0">{{ '1st checked bag'|trans }}
                                                                        :</p>
                                                                </div>
                                                                <div class="col-xs-6 nopad">
                                                                    <p
                                                                        class="font-14 black line-height-22 margin-bottom-0">{{ hiddenFields.leaving_baggage_info_ADT|raw }}</p>
                                                                </div>
                                                            </div>
                                                            <div class="row no-margin">
                                                                <div class="col-xs-6 nopad">
                                                                    <p class="font-14 black line-height-22 margin-bottom-0">{{ '2nd checked bag'|trans }}
                                                                        :</p>
                                                                </div>
                                                                <div class="col-xs-6 nopad">
                                                                    <p class="font-14 black line-height-22 margin-bottom-0">{{ 'No info'|trans }}</p>
                                                                </div>
                                                            </div>
                                                            <div class="row no-margin">
                                                                <div class="col-xs-6 nopad">
                                                                    <p
                                                                        class="font-14 black line-height-22 margin-bottom-0">{{ 'Baggage Information'|trans }}
                                                                        :</p>
                                                                </div>
                                                                <div class="col-xs-6 nopad">
                                                                    <p
                                                                        class="font-14 black line-height-22 margin-bottom-0 text_underline">{{ flightInfo.operating_airline_name|raw }}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="border_grey_1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        {% if flight_segments.returning is defined and flight_segments.returning.flight_info is iterable %}
            {% for flightInfo in flight_segments.returning.flight_info %}
                {% set destination_airport_code = flightInfo.destination_airport_code %}
                {% set destination_airport = flightInfo.destination_airport %}
                {% set arrival_time = flightInfo.trip_review.arrival_time %}
                {% if flightInfo.stop_segment is defined and flightInfo.stop_segment is iterable %}
                    {% set destination_airport_code = flightInfo.stop_segment[0].destination_airport_code %}
                    {% set destination_airport = flightInfo.stop_segment[0].destination_airport %}
                    {% set arrival_time = flightInfo.stop_segment[0].trip_review.arrival_time %}
                {% endif %}
                <div class="row flight_row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12 margin-top-10">
                                <img class="airline_logo_title_img" alt="{{ flightInfo.operating_airline_name }}"
                                     src="{{ flightInfo.airline_logo }}">
                                <h3 class="airline_logo_title">{{ flightInfo.operating_airline_name }} </h3>
                                {% if response['request']['oneway'] %}
                                    <br/>
                                    <p class="font-16 black float_right line-height-20 xs_line-height-40 price-convert" data-price="{{ flightInfo.segment_amount|raw }}">{{ 'Trip Price'|trans }}:
                                        <span class="font-20 currency-convert-text">{{ hiddenFields.currency_code|raw }}</span>
                                        <span class="font-30">{{ flightInfo.segment_amount|number_format(2, '.', ',') }}</span>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row margin-top-10">
                            <div class="col-md-10 col-sm-9 col-xs-12">
                                <div class="row margin_5">
                                    <div class="col-xs-4 padding_10">
                                        <p class="font-27 black line-height-22">{{ flightInfo.departure_date }}</p>
                                    </div>
                                    <div class="col-xs-2 padding_10">
                                        <p class="font-17 grey line-height-22">{{ 'From'|trans }}<br>To</p>
                                    </div>
                                    <div class="col-xs-6 padding_10">
                                        <p class="font-17 black line-height-22">{{ flightInfo.origin_airport|raw }}
                                            ({{ flightInfo.origin_airport_code|raw }})<br>{{ destination_airport|raw }}
                                            ({{ destination_airport_code|raw }})</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-12">
                                <div class="row margin_5">
                                    <div class="col-xs-12 padding_10">
                                        <p class="font-14 black line-height-22">{{ flightInfo.departure_terminal|raw }}
                                            <br/>{{ flightInfo.arrival_terminal|raw }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-top-20">
                            <div class="col-md-10 col-sm-9 col-xs-12">
                                <div class="row margin_5">
                                    <div class="col-xs-4 padding_10">
                                        <p class="font-16 black line-height-22">{{ flightInfo.origin_airport_code|raw }}<br><span
                                                class="font-26">{{ flightInfo.trip_review.departure_time|raw }}</span></p>
                                    </div>
                                    <div class="col-xs-2 padding_10">
                                        <div class="image_blue_container">
                                            <div class="right_arrow_style"><i class="fas fa-arrow-right"></i></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 padding_10">
                                        <p class="font-16 black line-height-22">{{ destination_airport_code|raw }}<br><span
                                                class="font-26">{{ arrival_time|raw }}</span></p>
                                    </div>
                                </div>
                                <div class="row margin_5 margin-top-20">
                                    <div class="col-xs-12 padding_10">
                                        <p
                                            class="font-13 grey line-height-22 pointer flight_details_clicker">{{ 'Show flight and baggage fee details'|trans }}
                                            <i class="fas fa-angle-double-down uparrowblue"></i></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-12">
                                <div class="row margin_5">
                                    {% if flightInfo.stop_segment is defined and flightInfo.stop_segment is iterable %}
                                        <div class="col-xs-12 padding_10">
                                            <p class="font-16 black line-height-22">{{ flightInfo.destination_airport_code|raw }}<br><span
                                                    class="font-26">{{ flightInfo.flight_duration|raw }}, 1{{ 'stop'|trans }}</span></p>
                                        </div>
                                    {% else %}
                                        <div class="col-xs-12 padding_10">
                                            <p class="font-16 black line-height-22">&nbsp;<br><span
                                                    class="font-26">{{ flightInfo.flight_duration|raw }}</span></p>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="row margin_5 margin-top-20">
                                    <div class="col-xs-12 padding_10">
                                        {% if flightInfo.stop_segment is defined and flightInfo.stop_segment is iterable %}
                                            <p
                                                class="font-13 font-bold line-height-22">{{ flightInfo.stop_segment[0].trip_review.arrival_date|raw }}</p>
                                        {% else %}
                                            <p class="font-13 font-bold line-height-22">{{ flightInfo.trip_review.arrival_date|raw }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="border_grey_1 margin-top-4"></div>
                    </div>
                    <div class="col-xs-12 flight_details_container">
                        <div class="grey_back_container">
                            <div class="row no-margin">
                                <div class="col-xs-12 nopad">
                                    <div class="row padding-top-30">
                                        <div class="col-md-10 col-sm-9 col-xs-12">
                                            <div class="row margin_5">
                                                <div class="col-xs-4 padding_10">
                                                    <p class="font-16 black line-height-22"><span
                                                            class="font-26">{{ flightInfo.trip_review.departure_time|raw }}</span></p>
                                                </div>
                                                <div class="col-xs-2 padding_10">
                                                    <div class="image_blue_container">
                                                        <div class="right_arrow_style margin-top-0"><i class="fas fa-arrow-right"></i></div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 padding_10">
                                                    <p class="font-16 black line-height-22"><span
                                                            class="font-26">{{ flightInfo.trip_review.arrival_time|raw }}</span></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-3 col-xs-12">
                                            <div class="row margin_5">
                                                <div class="col-xs-12 padding_10">
                                                    <p class="font-16 black line-height-22"><span class="font-26">
                                                            {% if flightInfo.stop_segment is defined and flightInfo.stop_segment is iterable %}
                                                                {{ flightInfo.trip_review.duration|raw }}
                                                            {% else %}
                                                                {{ flightInfo.flight_duration|raw }}
                                                            {% endif %}
                                                        </span><br><span
                                                            class="font-13 font-bold line-height-22">{{ flightInfo.trip_review.arrival_date|raw }}</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row padding-top-10">
                                        <div class="col-md-10 col-sm-9 col-xs-12">
                                            <div class="row margin_5">
                                                <div class="col-xs-4 padding_10"></div>
                                                <div class="col-xs-2 padding_10"></div>
                                                <div class="col-xs-6 padding_10">
                                                    <p class="font-14 grey line-height-22">{{ 'From'|trans }} {{ flightInfo.origin_airport|raw }}
                                                        ({{ flightInfo.origin_airport_code }}
                                                        )<br>{{ 'To'|trans }} {{ flightInfo.destination_airport|raw }}
                                                        ({{ flightInfo.destination_airport_code|raw }})</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-3 col-xs-12">
                                            <div class="row margin_5">
                                                <div class="col-xs-12 padding_10">
                                                    <p class="font-14 grey line-height-22">{{ flightInfo.departure_terminal|raw }}
                                                        <br>{{ flightInfo.arrival_terminal|raw }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row padding-top-10">
                                        <div class="col-md-10 col-sm-9 col-xs-12">
                                            <div class="row margin_5">
                                                <div class="col-xs-4 padding_10"></div>
                                                <div class="col-xs-2 padding_10"></div>
                                                <div class="col-xs-6 padding_10">
                                                    <p
                                                        class="font-14 grey line-height-22">{{ flightInfo.operating_airline_name|raw }} {{ flightInfo.flight_number|raw }}
                                                        <br>{{ flightInfo.aircraft_type|raw }}<br>{{ flightInfo.cabin|raw }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-3 col-xs-12">
                                            <div class="row margin_5">
                                                <div class="col-xs-12 padding_10"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row padding-top-10">
                                        <div class="col-md-10 col-sm-9 col-xs-12">
                                            <div class="row margin_5">
                                                <div class="col-xs-4 padding_10"></div>
                                                <div class="col-xs-2 padding_10">{{ 'Seats'|trans }}</div>
                                                <div class="col-xs-6 padding_10">
                                                    <a class="font-14 grey line-height-22 text_underline">{{ 'Preview availability'|trans }}</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-3 col-xs-12">
                                            <div class="row margin_5">
                                                <div class="col-xs-12 padding_10"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row padding-top-10">
                                        <div class="col-md-10 col-sm-9 col-xs-12">
                                            <div class="row margin_5">
                                                <div class="col-xs-4 padding_10"></div>
                                                <div class="col-xs-2 padding_10">{{ 'Total distance'|trans }}</div>
                                                <div class="col-xs-6 padding_10">
                                                    <p class="font-14 grey line-height-22">{{ flightInfo.mile_distance|raw }} {{ 'mi'|trans }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-3 col-xs-12">
                                            <div class="row margin_5">
                                                <div class="col-xs-12 padding_10"></div>
                                            </div>
                                        </div>
                                    </div>
                                    {% if flightInfo.stop_segment is defined and flightInfo.stop_segment is iterable %}
                                        <div class="row">
                                            <div class="col-md-10 col-sm-9 col-xs-12">
                                                <div class="row margin_5">
                                                    <div class="col-xs-4 padding_10"></div>
                                                    <div class="col-xs-8 padding_10">
                                                        <div class="border_grey_1 margin-top-10"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-10 col-sm-9 col-xs-12">
                                                <div class="row margin_5">
                                                    <div class="col-xs-4 padding_10"></div>
                                                    <div class="col-xs-2 padding_10">
                                                        <img class="clock_grey_logo" alt="clock_grey_logo"
                                                             src="{{ generateMediaURL('/media/images/flights_new/clock_vector.png') }}">
                                                    </div>
                                                    <div class="col-xs-6 padding_10">
                                                        <p
                                                            class="font-26 black font-bold margin-bottom-0 line-height-59">{{ flightInfo.stop_segment[0].stop_duration|raw }}
                                                            <span
                                                                class="font-15 grey font-normal">{{ 'in'|trans }} {{ flightInfo.stop_segment[0].origin_city|raw }}
                                                                ({{ flightInfo.stop_segment[0].origin_airport_code }})</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-10 col-sm-9 col-xs-12">
                                                <div class="row margin_5">
                                                    <div class="col-xs-4 padding_10"></div>
                                                    <div class="col-xs-8 padding_10">
                                                        <div class="border_grey_1"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="row no-margin">
                                <div class="col-xs-12 nopad">
                                    {% if flightInfo.stop_segment is defined and flightInfo.stop_segment is iterable %}
                                        <div class="row padding-top-30">
                                            <div class="col-md-10 col-sm-9 col-xs-12">
                                                <div class="row margin_5">
                                                    <div class="col-xs-4 padding_10">
                                                        <p class="font-16 black line-height-22"><span
                                                                class="font-26">{{ flightInfo.stop_segment[0].trip_review.departure_time|raw }}</span>
                                                        </p>
                                                    </div>
                                                    <div class="col-xs-2 padding_10">
                                                        <div class="image_blue_container">
                                                            <div class="right_arrow_style margin-top-0"><i class="fas fa-arrow-right"></i></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 padding_10">
                                                        <p class="font-16 black line-height-22"><span
                                                                class="font-26">{{ flightInfo.stop_segment[0].trip_review.arrival_time|raw }}</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-3 col-xs-12">
                                                <div class="row margin_5">
                                                    <div class="col-xs-12 padding_10">
                                                        <p class="font-16 black line-height-22"><span
                                                                class="font-26">{{ flightInfo.stop_segment[0].trip_review.duration|raw }}</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row padding-top-10">
                                            <div class="col-md-10 col-sm-9 col-xs-12">
                                                <div class="row margin_5">
                                                    <div class="col-xs-4 padding_10"></div>
                                                    <div class="col-xs-2 padding_10"></div>
                                                    <div class="col-xs-6 padding_10">
                                                        <p
                                                            class="font-14 grey line-height-22">{{ 'From'|trans }} {{ flightInfo.stop_segment[0].origin_airport|raw }}
                                                            ({{ flightInfo.stop_segment[0].origin_airport_code }}
                                                            )<br>{{ 'To'|trans }} {{ flightInfo.stop_segment[0].destination_airport|raw }}
                                                            ({{ flightInfo.stop_segment[0].destination_airport_code|raw }})</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-3 col-xs-12">
                                                <div class="row margin_5">
                                                    <div class="col-xs-12 padding_10">
                                                        <p
                                                            class="font-14 grey line-height-22">{{ flightInfo.stop_segment[0].departure_terminal|raw }}
                                                            <br>{{ flightInfo.stop_segment[0].arrival_terminal|raw }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row padding-top-10">
                                            <div class="col-md-10 col-sm-9 col-xs-12">
                                                <div class="row margin_5">
                                                    <div class="col-xs-4 padding_10"></div>
                                                    <div class="col-xs-2 padding_10"></div>
                                                    <div class="col-xs-6 padding_10">
                                                        <p
                                                            class="font-14 grey line-height-22">{{ flightInfo.stop_segment[0].operating_airline_name|raw }} {{ flightInfo.stop_segment[0].flight_number|raw }}
                                                            <br>{{ flightInfo.stop_segment[0].aircraft_type|raw }}
                                                            <br>{{ flightInfo.stop_segment[0].cabin|raw }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-3 col-xs-12">
                                                <div class="row margin_5">
                                                    <div class="col-xs-12 padding_10"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row padding-top-10">
                                            <div class="col-md-10 col-sm-9 col-xs-12">
                                                <div class="row margin_5">
                                                    <div class="col-xs-4 padding_10"></div>
                                                    <div class="col-xs-2 padding_10">{{ 'Seats'|trans }}</div>
                                                    <div class="col-xs-6 padding_10">
                                                        <a class="font-14 grey line-height-22 text_underline">{{ 'Preview availability'|trans }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-3 col-xs-12">
                                                <div class="row margin_5">
                                                    <div class="col-xs-12 padding_10"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row padding-top-10">
                                            <div class="col-md-10 col-sm-9 col-xs-12">
                                                <div class="row margin_5">
                                                    <div class="col-xs-4 padding_10"></div>
                                                    <div class="col-xs-2 padding_10">{{ 'Total distance'|trans }}</div>
                                                    <div class="col-xs-6 padding_10">
                                                        <p class="font-14 grey line-height-22">{{ flightInfo.stop_segment[0].mile_distance|raw }} {{ 'mi'|trans }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-3 col-xs-12">
                                                <div class="row margin_5">
                                                    <div class="col-xs-12 padding_10"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-10 col-sm-9 col-xs-12">
                                                <div class="row margin_5">
                                                    <div class="col-xs-4 padding_10"></div>
                                                    <div class="col-xs-8 padding_10">
                                                        <div class="border_grey_1 margin-top-10"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="row">
                                        <div class="col-md-10 col-sm-9 col-xs-12">
                                            <div class="row margin_5">
                                                <div class="col-xs-4 padding_10"></div>
                                                <div class="col-xs-2 padding_10">
                                                    <p class="font-14 black line-height-22">{{ 'Bag fees'|trans }}</p>
                                                </div>
                                                <div class="col-xs-6 padding_10">
                                                    <div class="row margin_5">
                                                        <div class="col-xs-12 padding_10">
                                                            <p
                                                                class="font-14 black line-height-22">{{ 'Estimated baggage fees charged by'|trans }} {{ flightInfo.operating_airline_name|raw }}
                                                                ({{ 'Please confirm with airline'|trans }})</p>
                                                        </div>
                                                        <div class="col-xs-10 padding_10">
                                                            <div class="row no-margin">
                                                                <div class="col-xs-6 nopad">
                                                                    <p class="font-14 black line-height-22 margin-bottom-0">{{ 'Carry on'|trans }}:</p>
                                                                </div>
                                                                <div class="col-xs-6 nopad">
                                                                    <p class="font-14 black line-height-22 margin-bottom-0">{{ 'No fee'|trans }}</p>
                                                                </div>
                                                            </div>
                                                            <div class="row no-margin">
                                                                <div class="col-xs-6 nopad">
                                                                    <p class="font-14 black line-height-22 margin-bottom-0">{{ '1st checked bag'|trans }}
                                                                        :</p>
                                                                </div>
                                                                <div class="col-xs-6 nopad">
                                                                    <p
                                                                        class="font-14 black line-height-22 margin-bottom-0">{{ hiddenFields.returning_baggage_info_ADT }}</p>
                                                                </div>
                                                            </div>
                                                            <div class="row no-margin">
                                                                <div class="col-xs-6 nopad">
                                                                    <p class="font-14 black line-height-22 margin-bottom-0">{{ '2nd checked bag'|trans }}
                                                                        :</p>
                                                                </div>
                                                                <div class="col-xs-6 nopad">
                                                                    <p class="font-14 black line-height-22 margin-bottom-0">{{ 'No info'|trans }}</p>
                                                                </div>
                                                            </div>
                                                            <div class="row no-margin">
                                                                <div class="col-xs-6 nopad">
                                                                    <p
                                                                        class="font-14 black line-height-22 margin-bottom-0">{{ 'Baggage Information'|trans }}
                                                                        :</p>
                                                                </div>
                                                                <div class="col-xs-6 nopad">
                                                                    <p
                                                                        class="font-14 black line-height-22 margin-bottom-0 text_underline">{{ flightInfo.operating_airline_name|raw }}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="border_grey_1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <div class="row">
            <form name="passengerNameRecord" method="post" action="{{ generateLangRoute(LanguageGet, '_corporate_book_flight') }}" id="bookAirTicket">
                <div class="row margin_top_15">
                    <div class="col-sm-6 col-xs-12">
                        {% if hiddenFields is iterable %}
                            {% for key, val in hiddenFields %}
                                <input type="hidden" name="{{ key|raw }}" value='{{ val|raw }}'/>
                            {% endfor %}
                        {% endif %}
                        {#
                        {% if passengerNameRecord is iterable %}
                            {% for pK, pVal in passengerNameRecord %}
                                {% if pK == "passengerDetails" %}
                                    {% for i, details in pVal %}
                                        {% for dK, dtl in details %}
                                            {% if dK == 'dateOfBirth' or dK == 'passportExpiry' %}
                                                <input type="hidden" name="passengerNameRecord[passengerDetails][{{i}}][{{dK}}][year]" value="{{dtl.year}}" />
                                                <input type="hidden" name="passengerNameRecord[passengerDetails][{{i}}][{{dK}}][month]" value="{{dtl.month}}" />
                                                <input type="hidden" name="passengerNameRecord[passengerDetails][{{i}}][{{dK}}][day]" value="{{dtl.day}}" />
                                            {% else %}
                                                <input type="hidden" name="passengerNameRecord[passengerDetails][{{i}}][{{dK}}]" value="{{dtl}}" />
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                {% else %}
                                    <input type="hidden" name="passengerNameRecord[{{pK|trans}}]" value="{{pVal|trans}}" />
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <input type="hidden" name="response[trip_review]" value="1" />
                        #}
                        <div class="col-xs-12">
                            <button type="button" id="passengerNameRecord_save" name="passengerNameRecord[save]"
                                    class="search_hpage">{{ 'Complete Booking'|trans }}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
