<div class="col-xs-12 confirmpasswordpopuocontainer nopad">
    <div class="row no-margin">
	<div class="col-xs-12">
	    <div class="row no-margin">
		<div class="col-xs-12 nopad margin_bottom_10">
		    <h2 class="popup_title">{{'Sign In'|trans}}</h2>
		</div>
		<form method="POST" action="">
		    <div class="col-xs-12 nopad">
			<div class="row no-margin">
			    <div class="col-xs-12 nopad popupinput">
				<label class="form-check-label">{{'Email address / username'|trans}}*</label> 
				<input type="text" placeholder="{{'Email address / username'|trans}}*" name="uname" class="col-xs-12" required>
			    </div>
			    <div class="col-xs-12 nopad popupinput">
				<label class="form-check-label">{{'Enter password'|trans}}*</label>
				<input type="password" placeholder="{{'password'|trans}}*" name="password" class="col-xs-12" required>
			    </div>
			    <div class="col-xs-12 nopad popupinput">
				<p class="password_hints error_hints"></p>
			    </div>
			</div>
		    </div>
		    <div class="col-xs-12 nopad">
			<div class="row no-margin">
			    <div class="col-xs-12 nopad">
				<div class="row corporate_small_row_margin">
				    <div class="col-xs-12 corporate_small_col_padding">
					<button type="button" class="btn submit_yellow user_confirm_password">{{'Confirm'|trans}}</button>
				    </div>
				</div>
			    </div>
			</div>
		    </div>
		</form>
	    </div>
	</div>
    </div>
</div>
