{# empty Twig template #}
<body>
<table width="633" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
{{displayTopHead}}
{% for Arr in htmlArray %}
{% if Arr|length >0 %}
{{Arr.displayPartHeadProfileMentioned}}
<tr>
<td>
<table width="633" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
<tr>
<td width="46"></td>
<td>
<table width="552" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
{% for p in 0..Arr|length %}
<tr  height="23" >
<td height="23"  width="552"></td>
</tr>
<tr height="51">
<td height="51"  width="552">
<table width="552" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
<tr>
<td rowspan="2" width="51" height="51">
<img src="{{Arr[p]['friends'][0][0]}}" alt="{{Arr[p]['friends'][0][1] }}" border="0" width="51" height="51"/>
</td>
<td width="6" rowspan="2"></td>
<td valign="top" width="438" height="13">
<font face="Arial, Helvetica, sans-serif" size="2" color="#000000">
{{Arr[p]['friends'][0][1]}}
</font>
</td>
<td width="56" rowspan="2"></td>
</tr>
<tr>
<td valign="bottom" width="438" height="37">
<font face="Arial, Helvetica, sans-serif" size="2" color="#000000">{{Arr[p]['partTitle']}}
</font>
</td>
</tr>
</table>
</td>
</tr>
<tr height="21">
<td height="21"  width="552"></td>
</tr>
{% set count= Arr|length-1 %}
{% if p < count %}
<tr height="1">
<td height="1"  width="552" background="separator.jpg"></td>
</tr>
{% endif %}

{% endfor %}
</table>
</td>
<td width="37"></td>
</tr>
</table>
</td>
</tr>
{% endif %}
{% endfor %}
{{displayfoot}}
</table>
</body>