{# empty Twig template #}
<body>
<table width="633" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
<tbody>
<tr>
<td width="633" valign="top" height="49">
<table width="633" height="50" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="43" height="47" bgcolor="#000000"></td>
<td rowspan="3" width="130" bgcolor="#ffffff" valign="top"><img src="{{ttpath}}ttlogochannels.jpg" width="130" height="50"/></td>
<td width="348" bgcolor="#000000">
<table width="348" border="0" cellspacing="0" cellpadding="0">
    <tr>
            <td width="8" rowspan="2" bgcolor="#000000"></td>
            <td bgcolor="#000000" height="6" valign="top"></td>
    </tr>
    <tr>
            <td bgcolor="#000000" height="30" valign="top">
                <font face="Arial, Helvetica, sans-serif" size="2" color="#ffffff">
                <strong><i></i></strong>
                </font>
            </td>
    </tr>
</table>
</td>
<td width="112" bgcolor="#e9c21b" align="center"><img src="{{ttpath}}touristchannels.jpg" width="94" height="25"/></td>
</tr>
<tr>
<td height="3" bgcolor="#FFFFFF"></td>
<td height="3" colspan="2" bgcolor="#FFFFFF"></td>
</tr>
<tr><td height="24" bgcolor="#FFFFFF" colspan="4"></td></tr>
</table>
</td>
</tr>
<tr>
<td width="633" valign="top">
<table cellspacing="0" cellpadding="0" width="633" border="0">
<tr>
<td bgcolor="#FFFFFF" width="43"></td>
<td>
<table width="478" border="0" cellspacing="0" cellpadding="0">
<tr><td height="3" valign="top"></td></tr>
    <tr>
            <td width="478" align="left" height="47" valign="top"><font face="Arial, Helvetica, sans-serif" size="3" color="#1f1f1f">Hello  {{owner_name }},</font></td>
    </tr>
<tr><td width="478" valign="top"></td></tr>
</table>
</td>
<td bgcolor="#FFFFFF" width="20" valign="top"></td>
<td bgcolor="#FFFFFF" width="92" valign="top"><img src="{{ttpath}}comachannels.jpg" width="58" height="59" /></td>
</tr>
</table>
</td>
</tr>
<tr>
<td>
<table width="520" height="296" cellpadding="0" cellspacing="0"  bgcolor="#ebebeb">
<tr>
<td  width="46"></td>
<td  height="19" width="294">
<table height="17" align="left" valign="top" cellpadding="0" cellspacing="0"  border="0">
    <tr><td  height="20"></td></tr>
    <tr>
            <td height="19" width="22" ><img src="{{ttpath}}videosicon.jpg" height="16" width="16" /></td>
            <td height="19"  width="174" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8c8c8c">VIDEO OF THE DAY</td>
            <td height="19"  width="21"><img src="{{cannelphoto }}" height="19" /></td>
            <td height="19"  width="85" bgcolor="#838383" align="right"> <span style="color: #ffffff; font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; line-height:22px;">{{channel_name }}</span></td>
    </tr>
</table>
<table height="142" align="left" valign="top" cellpadding="0" cellspacing="0" border="2" bordercolor="#eac31a" >
    <tr>
            <td height="142">
                    <table height="139" cellpadding="0" cellspacing="0" border="0">
                            <tr height="139">
                                     <td  colspan="2"><img align="left" valign="top" src="{{col_Arr1[0] }}" width="296" height="142" /></td>
                            </tr>
                            <tr bgcolor="#000000" height="10">
                                     <td    width="50%"  >
                                             <span style="color: #f4f4f4;  font-family:Arial, Helvetica, sans-serif; font-size:10px;font-weight:bold; line-height:13px;">{{time }}</span>
                                    </td>
                                    <td align="right"  width="50%">
                                             <span style="color: #f4f4f4;  font-family:Arial, Helvetica, sans-serif; font-size:10px;font-weight:bold; line-height:13px;">{{numviews }} views</span>
                                    </td>
                            </tr>
                    </table>
            </td>
    </tr>
</table>
<table height="80" align="left" width="100%" valign="top" cellpadding="0" cellspacing="0" >
     <tr>
             <td>
                    <span style="color:#e8c11f; font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; " >{{videotitle }}<br></span><span style="color:#b4b4b4; font-family:Arial, Helvetica, sans-serif; font-size:11px; "></br>{{videodescription }} <span style="color: #e9c21b; font-family:Arial, Helvetica, sans-serif; font-size:10px;"><strong><i><a href="{{checkout_new_lnk_vid }}" target="_blank" style="text-decoration: none; color:#e8c11f">more ></a></i></strong></span></span>
             </td>
     </tr>
</table>
</td>
<td   width="32">
<table  align="left" valign="top" cellpadding="0" cellspacing="0" >
    <tr>
            <td align="left"  valign="top" height="23" ></td>
    </tr>
    <tr>
            <td  height="25" width="10" align="left"  valign="top" bgcolor="838383"  ></td>
            <td  width="22"></td >
    </tr>
    <tr>
            <td height="243"  colspan="2" width="22" align="left"  valign="top"  ><img src="{{ttpath}}arrow1.jpg" align="left"  valign="top"  /></td>
    </tr>
</table>
</td>
<td  width="150">
<table>
    <tr>
            <td height="30"></td>
    </tr>
    <tr>
            <td>
                    <img src="{{col_Arr1[1] }}" width="133" height="74"/>
            </td>
    </tr>
    <tr>
            <td height="2"></td>
    </tr>
    <tr>
            <td>
                    <img src="{{col_Arr1[2] }}" width="133" height="74"/>
            </td>
    </tr>
    <tr>
            <td height="2"></td>
    </tr>
    <tr>
            <td>
                    <img src="{{col_Arr1[3] }}" width="133" height="74"/>
            </td>
    </tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td height="25"></td>
</tr>
<tr>
<td>
<table width="520" height="296" cellpadding="0" cellspacing="0"  bgcolor="#ebebeb">
<tr>
<td  width="46"></td>
<td  height="19" width="294">
<table height="17" align="left" valign="top" cellpadding="0" cellspacing="0"  border="0">
    <tr>
            <td  height="20"></td>
    </tr>
    <tr>
            <td height="19" width="22" ><img src="{{ttpath}}photosicon.jpg" height="11" width="16" /></td>
            <td height="19"  width="174" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8c8c8c">PHOTO OF THE DAY</td>
            <td height="19"  width="21"><img src="{{cannelphoto }}" height="19" /></td>
            <td height="19"  width="85" bgcolor="#838383" align="right"> <span style="color: #ffffff; font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; line-height:22px;">{{channel_name }}</span></td>
    </tr>
</table>
<table height="142" align="left" valign="top" cellpadding="0" cellspacing="0" border="2" bordercolor="#eac31a" >
<tr>
<td height="142">
<table height="139" cellpadding="0" cellspacing="0" border="0">
                            <tr height="139">
                                    <td  colspan="2">
                                            <img align="left" valign="top" src="{{col_Arr2[0] }}" width="296" height="142" />
                                    </td>
                            </tr>
<tr bgcolor="#000000" height="10">
<td width="50%">
<span style="color: #f4f4f4;  font-family:Arial, Helvetica, sans-serif; font-size:10px;font-weight:bold; line-height:13px;">{{time }}</span>
</td>
                                    <td align="right"  width="50%">
                                            <span style="color: #f4f4f4;  font-family:Arial, Helvetica, sans-serif; font-size:10px;font-weight:bold; line-height:13px;">{{numviews }} views</span>
                                    </td>
</tr>
</table>
</td>
</tr>
</table>
<table height="80" align="left" width="100%" valign="top" cellpadding="0" cellspacing="0" >
<tr>
<td>
<span style="color:#e8c11f; font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; " >{{phototitle }}<br></span></br><span style="color:#b4b4b4; font-family:Arial, Helvetica, sans-serif; font-size:11px; ">{{photodescription }} <span style="color: #e9c21b; font-family:Arial, Helvetica, sans-serif; font-size:10px;"><strong><i><a href="{{checkout_new_lnk_pho }}" target="_blank" style="text-decoration: none; color:#e8c11f">more ></a></i></strong></span></span>
</td>
</tr>
</table>
</td>
<td   width="32">
<table  align="left" valign="top" cellpadding="0" cellspacing="0" >
<tr>
<td align="left"  valign="top" height="23" ></td>
</tr>
<tr>
<td  height="25" width="10" align="left"  valign="top" bgcolor="838383"  ></td>
<td  width="22"></td >
</tr>
<tr>
<td height="243"  colspan="2" width="22" align="left"  valign="top"  ><img src="{{ttpath}}arrow1.jpg" align="left"  valign="top"  /></td>
    </tr>
</table>
</td>
<td  width="150">
<table>
<tr>
<td height="30"></td>
</tr>
<tr>
<td>
<img src="{{col_Arr2[1] }}" width="133" height="74"/>
</td>
</tr>
<tr>
<td height="2"></td>
</tr>
<tr>
<td>
<img src="{{col_Arr2[2] }}" width="133" height="74"/>
</td>
</tr>
<tr>
<td height="2"></td>
</tr>
<tr>
<td>
<img src="{{col_Arr2[3] }}" width="133" height="74"/>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
<tr><td height="40"></td></tr>
<tr>
<td width="633" valign="top">
<table cellspacing="0" cellpadding="0" width="633" border="0">
<tr>
<td valign="top" width="43"></td>
<td width="459" align="right" valign="middle"><img src="{{ttpath}}arrowchannels.jpg" width="3" height="5"/></td>
<td width="3"></td>
<td width="115" align="right" valign="top"><font face="Arial, Helvetica, sans-serif" size="2" color="#e9c21b">
    <a href="https://www{{subdomain_suffix|raw}}.touristtube.com" target="_blank" style="text-decoration: none; color:#e8c11f">www.touristtube.com</a>
    </font></td>
<td valign="top" width="16"></td>
</tr>
</table>
</td>
</tr>
<tr>
<td width="633" valign="top">
<table cellspacing="0" cellpadding="0" width="633" border="0">
<tr>
<td scope="row" height="1" width="16" bgcolor="#FFFFFF"></td>
<td colspan="3" scope="row" width="601" height="1" bgcolor="#dedede"></td>
<td scope="row" height="1" width="16" bgcolor="#FFFFFF"></td>
</tr>
<tr>
<td height="19" bgcolor="#FFFFFF" colspan="5"></td>
</tr>
</table>
</td>
</tr>
<tr>
<td>
<table width="633" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF">
<tbody>
<tr>
<td width="633" valign="bottom" align="center" height="10"><font face="Arial, Helvetica, sans-serif" size="1" color="#959292">Please do not reply to this message; this message is a service email related to your use on Tourist Tube.</font></td>
</tr>
<tr>
<td width="633" height="13" valign="bottom" align="center"><font face="Arial, Helvetica, sans-serif" size="1" color="#959292">If you did not create a channel on Tourist Tube, please <a href="{{createchannel_lnk }}" target="_blank" style="text-decoration: none; color:#e8c11f">click here.</a></font></td>
</tr>
<tr>
<td width="633" height="13" valign="bottom" align="center"><font face="Arial, Helvetica, sans-serif" size="1" color="#959292">To stop receiving emails from Tourist Tube, <a href="{{unsubscribe_lnk }}" target="_blank" style="text-decoration: none; color:#e8c11f">unsubscribe</a> or change your <a href="{{channel_not_settings }}" target="_blank" style="text-decoration: none; color:#e8c11f">channel notifications settings</a>.</font></td>
</tr>
<tr>
<td height="28" width="633" valign="bottom" align="center"><font face="Arial, Helvetica, sans-serif" size="1" color="#959292">&copy; {{"now"|date('Y') }}, Tourist Tube. <font color="#ebc019"><a href="mailto:support@touristtube.com">support@touristtube.com</a></font></font></td>
</tr>
<tr><td height="28"></td></tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table><br><br>
</body>