{# empty Twig template #}
<body>
    <table width="633" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
        <tbody>
            <tr>
                <td width="633" valign="top" height="49">
                    <table width="633" height="50" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="43" height="47" bgcolor="#000000"></td>
                            <td rowspan="3" width="130" bgcolor="#ffffff" valign="top">
                                <img src="{{ttpath}}ttlogochannels.jpg" width="130" height="50"/></td>
                            <td width="348" bgcolor="#000000">
                                <table width="348" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td width="8" rowspan="2" bgcolor="#000000"></td>
                                        <td bgcolor="#000000" height="6" valign="top"></td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#000000" height="30" valign="top">
                                            <font face="Arial, Helvetica, sans-serif" size="2" color="#ffffff">
                                            <strong><i></i></strong>
                                            </font>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td width="112" bgcolor="#e9c21b" align="center">
                                <img src="{{ttpath}}touristchannels.jpg" width="94" height="25"/>
                            </td>
                        </tr>
                        <tr>
                            <td height="3" bgcolor="#FFFFFF"></td>
                            <td height="3" colspan="2" bgcolor="#FFFFFF"></td>
                        </tr>
                        <tr><td height="24" bgcolor="#FFFFFF" colspan="4"></td></tr>
                    </table>
                </td>
            </tr>





            <tr>
                <td width="633" valign="top">
                    <table cellspacing="0" cellpadding="0" width="633" border="0">
                        <tr>
                            <td bgcolor="#FFFFFF" width="43"></td>
                            <td>
                                <table width="478" border="0" cellspacing="0" cellpadding="0">
                                    <tr><td height="10" valign="top"></td></tr>
                                    <tr>
                                        <td width="478" align="left" height="52" valign="top"><font face="Arial, Helvetica, sans-serif" size="3" color="#1f1f1f">Hello 
                                            {{owner_name}},</font></td>
                                    </tr>
                                    <tr>
                                        <td valign="top" align="left" height="61">
                                            <span style="color: #1f1f1f; font-family:Arial, Helvetica, sans-serif; font-size:12px;">
                                                the event 
                                                <a href="{{event_lnk}}" target="_blank"style="text-decoration: none; color:#e8c11f">
                                                    {{event_name}}
                                                </a> you created on your channel 
                                                <a href="{{channel_lnk}}" target="_blank" style="text-decoration: none; color:#e8c11f">
                                                    {{channel_name}}
                                                </a> is scheduled for {{str_text}}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>

                                        </td>
                                    </tr>
                                    <tr><td height="6"></td></tr>
                                </table>
                            </td>
                            <td bgcolor="#FFFFFF" width="20" valign="top"></td>
                            <td bgcolor="#FFFFFF" width="92" valign="top"><img src="{{ttpath}}comachannels.jpg" width="58" height="59" /></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="633" valign="top">
                    <table width="633" border="0" cellspacing="0" cellpadding="0">
                        <td bgcolor="#FFFFFF" width="43"></td>
                        <td width="136" height="76"><img src="{{event_Arr[0]}}" width="136" height="76" /></td>
                        <td width="10" align="right" valign="top" style="padding-top:5px">
                            <img src="{{tttumbpath}}eventarrow.jpg" width="4" height="7" /></td>
                        <td width="328" bgcolor="#000000" style="padding-left:6px">
                            <table width="328" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td valign="top">
                                        <table width="328" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="65" height="14">
                                                    <span style="color: #e9c21b; font-family:Arial, Helvetica, sans-serif; font-size:11px;">
                                                        <strong>{{event_Arr[1]}}</strong></span>
                                                </td>
                                                <td width="14" align="left" valign="top">
                                                    <img src="{{tttumbpath}}eventclock.png" width="11" height="11" /></td>
                                                <td width="249" align="left" valign="top">
                                                    <span style="color: #747576; font-family:Arial, Helvetica, sans-serif; font-size:12px;">
                                                        {{event_Arr[2]}}</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="16" valign="top">
                                        <span style="color: #747576; font-family:Arial, Helvetica, sans-serif; font-size:11px;">
                                            <strong>location: {{event_Arr[3]}}</strong>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="23" valign="top">
                                        <span style="color: #FFFFFF; font-family:Arial, Helvetica, sans-serif; font-size:11px;">
                                            <strong>{{event_Arr[4]}}</strong>
                                        </span>
                                    </td></tr>
                                <tr>
                                    <td valign="top">
                                        <span style="color: #e9c21b; font-family:Arial, Helvetica, sans-serif; font-size:11px;">
                                            <strong>now joining:
                                                {{event_Arr[5]}}
                                                {% if event_Arr[5] == 1 %}
                                                    {{'guest'}}
                                                {% else %}
                                                    {{ "guests" }}
                                                {% endif %}

                                            </strong>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="112"></td>
                    </table>
                </td>
            </tr>

            <tr>
                <td align="left" style="padding-top:15px" >
                    <span style="color: #e9c21b; font-family:Arial, Helvetica, sans-serif; padding-left:43px; font-size:11px;">
                        <u><strong><i><a href="{{viewevent_lnk}}" target="_blank" style="text-decoration: none; color:#e8c11f">view event</a></i></strong></u></span></td></tr>
            <tr>
                <td height="15"></td>
            </tr>
            <tr>
                <td width="633" valign="top">
                    <table cellspacing="0" cellpadding="0" width="633" border="0">
                        <tr>
                            <td valign="top" width="43"></td>
                            <td width="459" align="right" valign="middle"><img src="{{ttpath}}arrowchannels.jpg" width="3" height="5"/></td>
                            <td width="3"></td>
                            <td width="115" align="right" valign="top">
                                <font face="Arial, Helvetica, sans-serif" size="2" color="#e9c21b">
                                <a href="https://www{{subdomain_suffix|raw}}.touristtube.com" target="_blank" style="text-decoration: none; color:#e8c11f">
                                    www.touristtube.com
                                </a>
                                </font></td>
                            <td valign="top" width="16"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="633" valign="top">
                    <table cellspacing="0" cellpadding="0" width="633" border="0">
                        <tr>
                            <td scope="row" height="1" width="16" bgcolor="#FFFFFF"></td>
                            <td colspan="3" scope="row" width="601" height="1" bgcolor="#dedede"></td>
                            <td scope="row" height="1" width="16" bgcolor="#FFFFFF"></td>
                        </tr>
                        <tr>
                            <td height="19" bgcolor="#FFFFFF" colspan="5"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
        <table width="633" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF">
            <tbody>
                <tr>
                    <td width="633" valign="bottom" align="center" height="10">
                        <font face="Arial, Helvetica, sans-serif" size="1" color="#959292">
                        Please do not reply to this message; this message is a service email related to your use on Tourist Tube.</font>
                    </td>
                </tr>
                <tr>
                    <td width="633" height="13" valign="bottom" align="center">
                        <font face="Arial, Helvetica, sans-serif" size="1" color="#959292">
                        If you did not create a channel on Tourist Tube, please 
                        <a href="{{createchannel_lnk}}" target="_blank" style="text-decoration: none; color:#e8c11f">click here.</a>
                        </font>
                    </td>
                </tr>
                <tr>
                    <td width="633" height="13" valign="bottom" align="center">
                        <font face="Arial, Helvetica, sans-serif" size="1" color="#959292">
                        To stop receiving emails from Tourist Tube, 
                        <a href="{{unsubscribe_lnk}}" target="_blank" style="text-decoration: none; color:#e8c11f">unsubscribe</a> 
                        or change your <a href="{{channel_not_settings}}" target="_blank" style="text-decoration: none; color:#e8c11f">
                            channel notifications settings</a>.
                            </font>
                    </td>
                </tr>
                <tr>
                    <td height="28" width="633" valign="bottom" align="center">
                        <font face="Arial, Helvetica, sans-serif" size="1" color="#959292">&copy; {{"now"|date('Y')}}, 
                        Tourist Tube. <font color="#ebc019"><a href="mailto:support@touristtube.com">support@touristtube.com</a></font></font>
                    </td>
                </tr>
                <tr>
                    <td height="28"></td>
                </tr>
            </tbody>
        </table>
    </tr>
</tbody>
</table><br><br>

</body>