{# app/Resources/views/blog/index.html.twig #}
{% extends 'baseFinal.html.twig' %}
{% block pagenewcss %}
    <link rel="stylesheet" type="text/css" href="{{ asset("/assets/corporate/css/corporate-common_new.css")|raw }}" >
{% endblock %}
{% block pagenewjs %}
    <script type="text/javascript" src="{{ asset("/assets/common/js/forgotUserPassword.js")|raw }}"></script>
{% endblock %}
{% block title %}
    {{ 'Reset password'|trans }}{{ ' | TouristTube' }}
{% endblock %}
{% block body %}
    <section class="container corporate_common_new_container confirm_container_unsubscribe">
        <div class="row no-margin">
            <div class="col-xs-12 nopad">
                <div class="row no-margin margin_top_20 margin_bottom_40">
                    <div class="col-xs-12 nopad">
                        <h1 class="search_title"><span class="circlimg_arrow"><i class="fas fa-angle-right"></i></span>{{'Reset password'|trans}}</h1>
                    </div>
                </div>
                <div class="row no-margin bordered_row"></div>
            </div>
            <div class="col-lg-10 col-xs-12 nopad margin_top_40">
		<input type="hidden" id="forgotPswdPath" value="{{ generateLangRoute(LanguageGet,'_update_user_password') }}">
                <div class="row corporate_small_row_margin">
                    <div class="col-md-4 col-sm-6 col-xs-12 corporate_small_col_padding lofaff">
                        <label id="newPassword" class="form-check-label">{{'Enter new password'|trans}}*</label>
			<input type="password" placeholder="{{'New password'|trans}}*" name="NewPassword" id="NewPassword" required class="col-xs-12" onKeyPress="return checkSubmitConfirm(event)" label="#newPassword">
			<p class="password_hints">
			    {{ 'should be at least 8 characters long'|trans }}
			    <br />
			    {{ 'and must be a combination of letters and numbers.'|trans }}
			</p>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 corporate_small_col_padding lofaff">
                        <label id="confirmPassword" class="form-check-label">{{'Confirm new password'|trans}}*</label>
			<input type="password" placeholder="{{'New password'|trans}}*" name="ConfirmNewPassword" id="ConfirmNewPassword" class="col-xs-12" onKeyPress="return checkSubmitConfirm(event)" required label="#confirmPassword">
                    </div>		    
                </div>
                <div class="row corporate_small_row_margin">
                    <div class="col-xs-12 corporate_small_col_padding margin_top_20">
                        <button type="button" class="btn submit_yellow yellowreset" data-email="{{key|raw}}">{{'Reset password'|trans}}</button>
                    </div>
                </div>
                <div class="row corporate_small_row_margin">
                    <div class="col-xs-12 corporate_small_col_padding lofaff margin_top_20 margin_bottom_20">
                        <label class="form-check-label red_hints errorclass"></label>
                    </div>
                </div>                
            </div>
        </div>
    </section>
    <section class="container message_container confirm_container_hide">
        <div class="row no-margin">
            <div class="col-xs-12 nopad">
                <div class="row no-margin">
                    <div class="col-xs-12 nopad">
                        <div class="row no-margin margin_top_20">
                            <div class="col-xs-12 nopad">
                                <div class="circlimg_arrow"><i class="fas fa-angle-down"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="activateMsg col-xs-12 nopad">
                        <p>{{'Your password has been reset successfully.'|trans}}<br/>{{'A copy was delivered to your inbox.'|trans}}</p>
                    </div>
                </div>
                <div class="row no-margin bordered_row"></div>
            </div>
        </div>
    </section>    
{% endblock %}
