{% extends 'basecorporateFinal.html.twig' %}
{% block pagenewjs %}
    <script type="text/javascript" src="{{ asset('/assets/corporate/admin/js/corporate-userProfileList.js')|raw }}"></script>
{% endblock %}
{% block title %}{{'List of User Profiles'|trans}}{% endblock %}
{% block body %}
    <section class="container corporate_common_new_container">
        <div class="row no-margin">
            <div class="col-xs-12 nopad">
                <div class="row no-margin margin_top_20 margin_bottom_40">
                    <div class="col-xs-12 nopad">
                        <h1 class="search_title"><span class="circlimg_arrow"><i class="fas fa-angle-right"></i></span>{{'List Of User Profiles'|trans}}</h1>
                    </div>
                </div>
                <div class="row no-margin bordered_row"></div>
            </div>
            <div class="col-xs-12 nopad margin_top_10">
                <a href="{{ generateLangRoute(LanguageGet, '_corpo_user_profiles_add') }}" id="" class="addbut_style" rel="nofollow">{{'Add+'|trans}}</a>
            </div>
            <div class="col-xs-12 nopad margin_top_20">
                <section class="content">
                    <table id="userProfileTbl" align="center" class="dataTable table table-striped table-bordered" cellspacing="0" width="100%" 
                        ajax_url 					= "{{ path('_corpo_user_profiles_datatable') }}" 
                        default_order_column_id  	= "id_ID"
                        default_order_direction  	= "asc"
                    >
                        <thead>
                            <tr>
                                <th id="id_ID" dbname="up__id" width="70px">{{'Id'|trans }}</th>
                                <th id="name_ID" dbname="up__name" width="100px">{{'Name'|trans }}</th>
                                <th id="menuAccess_ID" dbname="menu_access" width="250px" search="false">{{'Menu Access'|trans }}</th>
                                <th id="sectionTitle_ID" dbname="section_title" width="100px">{{'Section Title'|trans }}</th>
                                <th id="slug_ID" dbname="up__slug" width="100px">{{'Slug'|trans }}</th>
                                <th id="level_ID" dbname="up__level" visible="false">{{'Level'|trans }}</th>
                                <th id="published_ID" dbname="up__published" cell_handler="publishedCellHandler" width="80px">{{'Published'|trans }}</th>
                                <th id="actions" dbname="actions" skipDb="true" cell_handler="actionCellHandler" width="80px">{{'Actions'|trans }}</th>
                            </tr>
                        </thead>
                    </table>
                    <br><br>
                </section>
            </div>
        </div>
    </section>
{% endblock %}