{% extends 'basecorporateFinal.html.twig' %}

{% block pagenewcss %}
    <link rel="stylesheet" type="text/css" href="{{ asset("/assets/common/css/social_pages_common.css")|raw }}"/>
{% endblock %}

{% block title %}सेवा की शर्तें{% endblock %}
{% block body %}
    <section class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="row no-margin margin_top_20 margin_bottom_40">
                    <div class="col-xs-12 nopad">
                        <h1 class="search_title"><span class="circlimg_arrow"><i class="fas fa-angle-right"></i></span>सेवा की शर्तें</h1>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">सेवा की शर्तें</h2>
                        <p class="sub_header_title text-justify">कृपया इस दस्तावेज को ध्यान से पढ़ें।<br>पर्यटक ट्यूबएफजेड-एलएलसी ( "पर्यटक ट्यूब," "हम" या "हमें") एक ऑनलाइन समुदाय, वीडियो साझा करने के लिए मंच और अपनी वेबसाइटों पर स्थित टूरिस्टट्यूब.कॉम के माध्यम से पर्यटन संबंधी लेनदेन ( "पर्यटक ट्यूब साइट") और अन्य संबंधित डोमेन, मोबाइल अनुप्रयोगों, और डेस्कटॉप अनुप्रयोगों (सामूहिक, "पर्यटक ट्यूबसर्वीसेस", या "हमारी सेवाए") प्रदान करता है।<br /><br />
                            एक सदस्य के रूप में पंजीकरण करके या किसी भी तरह से पर्यटक ट्यूब सेवाओं का उपयोग करके, आप सेवा ("अनुबंध") की इन शर्तों को स्वीकार करते है, जो आपके और पर्यटक ट्यूब के बीच एक बाध्यकारी समझौते के रूप में हैं। अगर आप किसी समझौते से बंधे होना नहीं चाहते तो इस पर्यटक ट्यूबसर्वीसेस का उपयोग न करे।
                            <br /><br />अतिरिक्त शर्तें विशेष सेवाओं के उपयोग के लिए आवश्यक हो सकती है; ये इन अतिरिक्त शर्तों इसलिए हमारे समझौते का हिस्सा बन जाएगी इस मामले में आप उन सेवाओं का उपयोग कर सकते है।</p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">सेवाओं का उपयोग</h2>
                        <p class="sub_header_title text-justify">प्रवेश और हमारी सेवाओं का उपयोग कर आपको इन सेवाओं के लिए या सामग्री के लिए किसी भी निहित बौद्धिक संपदा नहीं देनी है आप उपयोग कर सकते हैं।<br /><br />
                            किसी भी ब्रांड या लोगो के लिए हमारी सेवाओं में इस्तेमाल का उपयोग करने का अधिकार सख्ती से आरक्षित हैं; इसलिए किसी भी कानूनी नोटिस में या इन सेवाओं के साथ प्रदर्शित किए, अस्पष्ट, या बदल न करे।
                            <br /><br />
                            हमारे मंच पर सभी सामग्री पर्यटक ट्यूब की नहीं है। हालांकि हम इस सामग्री की समीक्षा करने के लिए निर्धारित कर सकते हैं चाहे वह अवैध है या हमारी नीतियों का उल्लंघन करती है, यह अनुमान नहीं है कि हम आवश्यक रूप से सामग्री की समीक्षा करें। इसलिए, यह सामग्री इकाई की एकमात्र जिम्मेदारी है जो इसे उपलब्ध उपस्थित करता है। इसके अलावा, हम उसे हटाने या सामग्री प्रदर्शित करने के लिए मना कर सकते हैं जो हम यथोचित मानना है कि हमारी नीतियों या कानून का उल्लंघन करती है।
                            <br /><br />सुनिश्चित करें कि हमारी सेवाओं का दुरुपयोग न करे अर्थात हमारी सेवाओं के साथ हस्तक्षेप या एक विधि इंटरफेस और निर्देश के अलावा अन्य का उपयोग कर उन तक पहुँचने की कोशिश न करे जो हम प्रदान करते हैं।
                            <br /><br />आप केवल अभिप्रेत के रूप में और कानून द्वारा अनुमति हमारी सेवाओं का उपयोग कर सकते हैं। इसलिए, हम निलंबित या आपको सेवाएँ प्रदान बंद कर सकते हैं अगर आप हमारी शर्तों या नीतियों का पालन नहीं करते हैं, या हमारे पास दुराचार विश्वास करने के कारण है।
                            <br /><br />हम भी आपके घोषणाओं और हमारी सेवाओं के आपके उपयोग के संबंध में अन्य जानकारी भेज सकते हैं; आप इन सूचनाओं में से कुछ को बाहर निकालने के लिए चुन सकते हैं।</p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">भुगतान ऑनलाइन</h2>
                        <p class="sub_header_title text-justify">हम ऑनलाइन भुगतान एईडी और अमरीकी डालर में वीजा और मास्टर कार्ड क्रेडिट / डेबिट कार्ड का उपयोग कर स्वीकार करते हैं। "क्रेडिट कार्ड ऑनलाइन" भुगतान के तरीके के रूप में चुना जाता है उसके बाद ग्राहकों पर आईडी (कार्डधारक आईडी) विवरण वास्तव में मेल करना चाहिए जो क्रेडिट कार्ड से खरीदने के लिए इस्तेमाल होता हैI
                            <br /><br />अगर आप हमारी सेवाओं के लिए एक ऑनलाइन भुगतान करते हैं तो आपको विवरण प्रस्तुत करने के लिए कहा जाता है एक सुरक्षित कनेक्शन के माध्यम से हमारे भुगतान प्रदाता को सीधे उपलब्ध कराया जाएगा।
                            <br /><br />१८ वर्ष की आयु के तहत नाबालिगों वेबसाइट को चलाने की अनुमति नहीं है।
                            <br /><br />कार्डधारक को लेनदेन रिकॉर्ड की एक प्रतिलिपि बनाए रखनी चाहिए।
                            <br /><br /><a href="{{ generateLangURL(LanguageGet,'') }}" title="tourist tube">www.touristtube.com</a> किसी के लिए सौदा या संयुक्त अरब अमीरात के कानून के अनुपालन में ओएफएसी प्रतिबंधों देशों में से किसी भी सेवाओं या उत्पादों की पेशकश नहीं करेंगे।
                        </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">रद्द / वापसी</h2>
                        <p class="sub_header_title text-justify">खरीद पर रद्द करने के नियमों की जानकारी के लिए आप ऑनलाइन पर जाये, आप से संबंधित स्पष्ट रूप से उपलब्ध कराया विशिष्ट परिस्थितियों को देखें जो विशिष्ट खरीददारी है।
                            <br /><br />
                            स्वचालित रूप से ऑनलाइन कीं एक खरीद को स्वीकार करते है जो आपने विशेष रूप से उस खरीद से जुड़ी शर्तों को पढ़ा है और जो आप उन के लिए सहमत हो गए हैं। हम कोई तरीका की गई खरीद की शर्तों पर पूर्व ज्ञान के दावों के लिए जिम्मेदार नही ठहराए जा सकते है।
                            <br /><br />सभी इस वेबसाइट के माध्यम से किसी भी खरीद के खिलाफ किसी भी सौदे की राशि का रिफंड भुगतान की मूल विधा को वापस किया जाएगा।
                        </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">वितरण</h2>
                        <p class="sub_header_title text-justify">इस वेबसाइट पर खरीदी गई सेवाए आपको और ईमेल तक पहुँचा दी जाएगी जो आपको खरीददारी प्रदान की है।
                            <br /><br />ग्राहकों के नाम, पता स्थान और संपर्क नंबर के रूप में वितरण जानकारी वितरण प्रयोजनों के लिए संग्रहीत किया जाएगी। अन्य व्यक्तिगत पहचान योग्य जानकारी संग्रहीत नहीं किया जाएगी।
                        </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">कॉपीराइट संरक्षण</h2>
                        <p class="sub_header_title text-justify">हमारी कुछ सेवाए आपको सामग्री प्रस्तुत करने की अनुमति देते हैं। आप किसी भी बौद्धिक संपदा अधिकारों के स्वामित्व को बनाए रख सकते है जो आप उस सामग्री में पकड़ते है। अन्य शब्दों में, क्या है जो आपके अंतर्गत अपने अधिकार में रहता हैI<br /><br />
                            हम आपको हमसे बौद्धिक संपदा के उल्लंघन के बारे में सूचित करने के लिए ऑनलाइन इंटरफेस प्रदान करते हैं आपको लगता है कि पुष्टि कर रहे हैं। हम कथित कॉपीराइट उल्लंघनों की सूचनाओं का जवाब देंगे और जिसके कारण कानूनी प्रक्रिया के अनुसार हमलावर दोहराने खातों को समाप्त करेगे।<br /><br />
                            पर्यटक ट्यूब सामग्री अपलोड करने पर, आपको हमें और हमारे निर्दिष्ट हस्तांतरण का उपयोग करने के लिए दुनिया भर में एक लाइसेंस, अनुदान, संशोधित और वितरित करना है, इस तरह की सामग्री को बढ़ावा देने के लिए और अपनी सेवाओं में सुधार लाने के सीमित उद्देश्यों के लिए है, और आप का उपयोग कर या हमारी सेवाओं का उपयोग न करके नए विकसित, अनपेक्ष या मामले में अपनी कुछ सेवाएँ आप का उपयोग और सामग्री को हटाने के तरीके की पेशकश है जो इन सेवाओं के लिए प्रदान किया गया है, यदि आपने ऐसा करने के लिए चुना है।<br /><br />
                            यह भी सुनिश्चित करें कि आपके द्वारा हमें देने के लिए आवश्यक अधिकार है जैसे कि किसी भी सामग्री के लिए लाइसेंस है जो आप अपलोड करते है।<br /><br />
                            आप और अधिक जानकारी ढूँढ सकते हैं कि कैसे पर्यटक ट्यूब उपयोग करता है और भंडार हमारी गोपनीयता पालिसी या विशेष सेवाओं के लिए अतिरिक्त शर्तों में सामग्री हैं। हम स्वतंत्र रूप से और बिना ऑब्लीगेशनतो के आप हमारी सेवाओं के बारे में अपनी प्रतिक्रिया और सुझावों का उपयोग कर सकते 
                        </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">गोपनीयता पालिसी</h2>
                        <p class="sub_header_title text-justify">कृपया अपने व्यक्तिगत डेटा और गोपनीयता की रक्षा की जानकारी के लिए हमारी गोपनीयता पालिसी पढ़ें। आप एतद्द्वारा सहमत हैं कि एक बार जब आप पर्यटक ट्यूब रजिस्टर करते है, आप हमें हमारी गोपनीयता पालिसी के अनुसार इस तरह के डेटा का उपयोग अनुदान कर सकते है।  
                        </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">सॉफ्टवेयर</h2>
                        <p class="sub_header_title text-justify">पर्यटक ट्यूब आपको व्यक्तिगत, वैश्विक, रॉयल्टी-मुक्त, गैर आबंटित और गैर विशिष्ट सेवाओं के भाग के रूप से पर्यटक ट्यूब प्रदान किए गए सॉफ्टवेयर का उपयोग करने के लिए लाइसेंस देता है। इस लाइसेंस का उपयोग करने के लिए सक्षम करने के एकमात्र लक्ष्य है और इस तरह कि इन शर्तों में दी गई अनुमति, द्वारा पर्यटक ट्यूब उपलब्ध कराई गई सेवाओं के लाभ का आनंद लें। आप कॉपी, संशोधित, वितरित, सौदा, या हमारी सेवाओं के किसी भी भाग को पट्टे नहीं कर सकते हैं या सॉफ्टवेयर, और न ही आप रिवर्स इंजीनियर या स्रोत कोड निकालने के लिए प्रयास शामिल कर सकते हैं जो सॉफ्टवेयर, जब तक कानून उन प्रतिबंधों का निषेध या आप के लिए हमसे पूर्व लिखित अनुमति देता है।<br /><br />
                            जब एक सेवा की आवश्यकता है या डाउनलोड सॉफ्टवेयर शामिल है, यह सॉफ्टवेयर अपने डिवाइस पर स्वचालित रूप से अद्यतन कर सकते हैं एक बार एक नया संस्करण या सुविधा उपलब्ध है। कुछ सेवाए आप अपनी स्वचालित अपडेट सेटिंग में समायोजित कर सकते हैं।
                        </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">समाप्ति</h2>
                        <p class="sub_header_title text-justify">आप किसी भी समय हमारी सेवाओं का उपयोग बंद कर सकते हैं, हालांकि हमे आपके पर खोने पर खेद होगा।<br /><br />
                            इसके अलावा, पर्यटक ट्यूब किसी भी समय, और पूर्व औचित्य के बिना, आप के लिए सेवाएं प्रदान रोकने, या जोड़ सकते हैं या हमारी सेवाओं में नई सीमाएं पैदा करते हैं। चूंकि आप अपनी सामग्री के मालिक हैं, हम ऐसी सामग्री तक आपकी पहुंच को बनाए रखेगे और हम निश्चित रूप से आपको उचित अग्रिम सूचना और हमारी सेवाओं के बाहर की जानकारी प्राप्त करने के लिए एक मौका देंगे।
                        </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">कोई उत्तरदायित्व नही है</h2>
                        <p class="sub_header_title text-justify">आप एतद्द्वारा सहमत हैं जो आपको हानिरहित आयोजित करने और क्षतिपूर्ति पर्यटक ट्यूब और उसके सहयोगियों, अधिकारियों, एजेंटों, और कर्मचारियों को किसी भी दावे, सूट या कार्रवाई से या सेवाओं या इन शर्तों के उल्लंघन के अपने उपयोग की से संबंधित उत्पन्न होने से होगा, जिसमे किसी भी दायित्व या खर्च का दावा, हानि, क्षति, सूट, निर्णय, मुकदमेबाजी की लागत और वकीलों की फीस उत्पन्न शामिल है। 
                        </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">होटल</h2>
                        <p class="sub_header_title text-justify">होटल बुकिंग के लिए सभी भुगतान - प्रीपेड या पोस्टपेड – टूरिस्ट ट्यूब को नहीं बल्कि सीधे होटल को जाएगा।
                            <br /><br />
                            प्रीपेड बुकिंग में, होटल बुकिंग के समय ग्राहक क्रेडिट कार्ड से भुगतान करना नहीं चुन सकते हैं।
                            <br /><br />
                            रद्द करने योग्य और गैर-रद्द करने योग्य दोनों बुकिंग सहित आरक्षण को पूरी तरह से गैर-रद्द करने योग्य माना जाता है। इस मामले में, रद्द करने योग्य और गैर-रद्द करने योग्य बुकिंग के लिए कृपया अलग आरक्षण बनाएं।
                        </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">इन शर्तों के बारे में</h2>
                        <p class="sub_header_title text-justify">हम इन शर्तों और / या किसी भी अतिरिक्त शर्तों को संशोधित कर सकते हैं जो हमारी सेवाओं के लिए कानून में परिवर्तन या बदलाव को प्रतिबिंबित करने के लिए एक तरह से एक सेवा के लिए लागू होते हैं। आपको नियमित रूप से इन शर्तों की जांच होनी चाहिए, और हम वर्तमान पृष्ठ पर इस तरह के संशोधन और / या परिवर्धन के नोटिस पोस्ट होंगे।<br /><br />
                            दो सप्ताह की तुलना में इन शर्तों में परिवर्तन जल्दी लागू नहीं होगा वे सार्वजनिक कर दिया जाते है, जब तक इस तरह के बदलाव के लिए नई सुविधाओं को संबोधित या कानूनी कारणों के लिए किया जाता है, जो मामलों में वे तुरंत प्रभावी हो जायेगे।<br /><br />
                            इस मामले में इन नियमों और संशोधित / अतिरिक्त शर्तों के बीच एक संघर्ष, संशोधित / अतिरिक्त शर्तें मान्य होगा। अगर आप एक सेवा के लिए संशोधित / अतिरिक्त शर्तों से सहमत नहीं है, तो आपको इस सेवा का उपयोग बंद कर देना चाहिए जो सेवाए है।<br /><br />
                            ये शर्तें आपके और पर्यटक ट्यूब के बीच पूरी तरह से संबंध स्थापित करती है और किसी भी तीसरे पक्ष के प्राप्तकर्ता अधिकार नहीं बनाती है।<br /><br />
                            इस मामले में यदि आप इन शर्तों पर उल्लंघन करते है और हम कार्रवाई तुरंत नहीं लेते हैं, हम भविष्य में उचित कार्रवाई करने के हमारे अधिकार सुरक्षित रखते हैं। इसके अलावा अनपेक्ष में, किसी विशेष अवधि के गैर प्रयोज्यता अन्य सभी पदों की प्रवर्तनीयता अमान्य नहीं है।<br /><br />
                            संयुक्त अरब अमीरात के कानूनों के किसी भी विवाद / दावों से उत्पन्न होने वाली या सेवा की इन शर्तों से संबंधित के लिए लागू होगा; जैसे विवाद / दावा संयुक्त अरब अमीरात अदालतों में मुकदमा चलाया जाएगा, और आप और पर्यटक ट्यूब ऊपर उल्लिखित अदालतों में व्यक्तिगत अधिकार क्षेत्र के लिए सहमति
                        </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">हमसे संपर्क करें</h2>
                        <p class="sub_header_title text-justify">संयुक्त अरब अमीरात पर्यटक ट्यूब एफजेड-एलएलसी का अधिवास का देश है। अगर आप सेवा की इन शर्तों के बारे में प्रश्न हैं, कृपया डाक मेल या ईमेल के द्वारा हमसे संपर्क करें:
                        </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">पर्यटकट्यूबएफजेड-एलएलसी</h2>
                        <p class="sub_header_title text-justify">फ्लोर १; डीआईसी बिल्डिंग १२; ३५, डीआईसी स्ट्रीट; शहर दुबई; यूएई  </p>
                        <p><a href="mailto:support@touristtube.com" class="afaqMainStyle" title="{{ 'support@touristtube.com' }}">support@touristtube.com</a></p>
                        <p class="sub_header_title text-justify">{{'now'|date('Y')}} &copy; पर्यटकट्यूबएफजेड-एलएलसी 
                            <br/>
                            <span>अंतिम संशोधन की तिथि: नवम्बर२१, {{'now'|date('Y')}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}