<body>
    <table width="633" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
        {{displayTopHead}}
        {% set k = 0 %}
        {% for Arr in array4loop %}
            {% set count = Arr|length %}
            {% if count > 0 %}
                {{displayPartHead[k]}}
                {% set first = 0 %}
                
                {{displayPartHeadProfileMentioned[k]}}
                <tr>
                <td>
                    <table width="633" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
                        <tr>
                            <td width="46"></td>
                            <td>
                                <table width="552" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
                            {% for p in 0..count %}
                                    <tr>
                                        <td height="20"  width="552"></td>
                                    </tr>
                                <tr>
                                 <td  width="552">{{Arr[p]['partTitle']}}</td>
                                </tr><tr  height="26" >
                                    <td height="26"  width="552"></td>
                                </tr>
                                {% if Arr[p].case == 1  %}
                                     <tr height="51">
                                        <td height="51"  width="552">
                                        <table width="552" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
                                            <tr>
                                                <td rowspan="2" width="51" height="51">
                                                    <a href="{{Arr[p]['friends'][0][5]}}" target="_blank"><img src="{{Arr[p]['friends'][0][0]}}" alt="{{Arr[p]['friends'][0][1]}}" 
                                                         border="0" width="51" height="51"/></a>
                                                </td>
                                                <td width="6" rowspan="2"></td>
                                                <td valign="top" width="438" height="13">
                                                    <font face="Arial, Helvetica, sans-serif" size="2" color="#000000">
                                                        <a href="{{Arr[p]['friends'][0][5]}}" target="_blank">{{Arr[p]['friends'][0][1]}}</a>
                                                    </font>
                                                </td>
                                                <td width="56" rowspan="2"></td>
                                            </tr>
                                            <tr>
                                                <td valign="bottom" width="438" height="37">
                                                    <font face="Arial, Helvetica, sans-serif" size="2" color="#000000">
                                                        {{Arr[p]['friendComment']}}
                                                    </font>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr height="21">
                                    <td height="21"  width="552"></td>
                                </tr>
                                {% endif %}
                                {% if Arr[p].case == 2  %}
                                    {{displayFriends[p]}}                            
                                {% endif %}
                                
                                {% if p < (count-1) %}
                                    <tr height="1">
                                        <td height="1"  width="552" background="{{link_path}}separator.jpg"></td>
                                    </tr>
                                {% endif %}
                                
                                
                                
                                {% endfor %}
                                
                                
                                </table>
                            </td>
                            <td width="37"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td height="3" bgcolor="#FFFFFF" width="633">
                    <table width="633" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" height="3">
                        <tr>
                            <td width="595" bgcolor="#E0E0E0" height="3"></td>
                            <td></td>
                        </tr>
                    </table>
                </td>
            </tr>
                                
                
                {% endif %}
            {% set k = k+1 %}
        {% endfor %}
        {{displayfoot}}
    </table>
</body>