{# empty Twig template #}
<table width="600"  border="0" cellspacing="0" cellpadding="0" align="center" background="{{ttpath}}invitationback.jpg">
<tbody>
<tr><td height="132"></td></tr>
<tr><td align="center" height="23">
<font face="Arial, Helvetica, sans-serif" size="5" color="#1f1f1f">
<strong>www.touristtube.com</strong></font></td>
</tr>
<tr>
<td align="center" height="16" >
<font face="Arial, Helvetica, sans-serif" size="2" color="#1f1f1f">
<i></i>
</font>
</td>
</tr>
<tr>
<td width="578" valign="top" >
<table cellspacing="0" cellpadding="0" width="578" >
<tbody>
<tr>
<td rowspan="3" width="55"></td>
<td rowspan="3" background="{{ttpath}}bulbactv.jpg" width="90" height="88" valign="top">
<img src="{{ttpath}}face.png"/></td>
<td width="146" align="left" height="20"></td>
</tr>
<tr>
<td width="432" align="left" height="8">
<font face="Arial, Helvetica, sans-serif" size="3" color="#1f1f1f">
<strong>Hello {{user_name|raw}}</strong></font></td>
</tr>
<tr>
<td width="432" align="left" height="36" valign="top">
<font face="Arial, Helvetica, sans-serif" size="2" color="#1f1f1f"
>We're thrilled that you will join our community and we are looking<br/>
forward to show your story!
</font></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td width="600" height="97">
<table width="600" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="146" scope="row"></td>
<td width="240">
<table width="240" border="0" cellspacing="0" cellpadding="0">
<tr><td height="12" scope="row"></td></tr>
<tr>
<td height="18" align="left" valign="top" scope="row">
<font face="Arial, Helvetica, sans-serif" size="2" color="#e8c11f">
<strong>YOUR ACCOUNT INFO</strong></font></td>
</tr>
<tr>
<td height="18" align="left" valign="top" scope="row">
<font face="Arial, Helvetica, sans-serif" size="2" color="#1f1f1f">Username: {{user}}</font></td>
</tr>
<tr>
<td height="29" align="left" valign="top" scope="row">
<font face="Arial, Helvetica, sans-serif" size="2" color="#1f1f1f">Password: {{password}}</font></td>
</tr>
</table>
</td>
<td width="158">
<table width="158" border="0" cellspacing="0" cellpadding="0">
<tr><td height="34" scope="row"></td></tr>
<tr>
<td height="65" scope="row" valign="top" align="center">
<a href="{{access_account_lnk}}">
    <img border="0" src="{{ttpath}}accessacount.jpg" width="192" height="44" /></a></td>
</tr>
</table>
</td>
<td width="20"></td>
</tr>
</table>
</td>
</tr>
<tr>
<td width="600" height="318">
<table width="600" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="146" scope="row"></td>
<td width="265" valign="top" height="318">
<table width="265" border="0" cellspacing="0" cellpadding="0">
<tr><td>&nbsp;</td></tr>
<tr>
<td height="18" colspan="2" align="left" valign="top" scope="row">
    <font face="Arial, Helvetica, sans-serif" size="2" color="#e8c11f">
    <strong>GET STARTED WITH THESE FEATURES</strong></font></td>
</tr>
<tr>
<td width="15" height="18" align="left" valign="middle" scope="row">
    <font face="Arial, Helvetica, sans-serif" size="2" color="#1f1f1f">
    <img src="{{comma}}" width="8" height="11" /></font></td>
<td width="250" align="left" valign="top" scope="row">
    <font face="Arial, Helvetica, sans-serif" size="2" color="#1f1f1f">
    Connect with friends</font></td>
</tr>
<tr>
<td width="15" height="18" align="left" valign="middle" scope="row">
    <font face="Arial, Helvetica, sans-serif" size="2" color="#1f1f1f">
    <img src="{{comma}}" width="8" height="11" /></font></td>
<td height="18" align="left" valign="top" scope="row">
    <font face="Arial, Helvetica, sans-serif" size="2" color="#1f1f1f">Share your precious moments</font></td>
</tr>
<tr>
<td height="18" align="left" valign="middle" scope="row">
    <font face="Arial, Helvetica, sans-serif" size="2" color="#1f1f1f">
    <img src="{{comma}}" width="8" height="11" /></font></td>
<td height="18" align="left" valign="top" scope="row">
    <font face="Arial, Helvetica, sans-serif" size="2" color="#1f1f1f">Upload your best photos and videos</font></td>
</tr>
<tr>
<td height="18" align="left" valign="middle" scope="row">
    <font face="Arial, Helvetica, sans-serif" size="2" color="#1f1f1f">
    <img src="{{comma}}" width="8" height="11" /></font></td>
<td height="18" align="left" valign="top" scope="row">
    <font face="Arial, Helvetica, sans-serif" size="2" color="#1f1f1f"> Find significant dates</font></td>
</tr>
<tr>
<td height="18" align="left" valign="middle" scope="row">
    <font face="Arial, Helvetica, sans-serif" size="2" color="#1f1f1f">
    <img src="{{comma}}" width="8" height="11" /></font></td>
<td height="18" align="left" valign="top" scope="row">
    <font face="Arial, Helvetica, sans-serif" size="2" color="#1f1f1f">Discover special places</font></td>
</tr>
<tr>
<td height="18" align="left" valign="middle" scope="row"><font face="Arial, Helvetica, sans-serif" size="2" color="#1f1f1f">
    <img src="{{comma}}" width="8" height="11" /></font></td>
<td height="18" align="left" valign="top" scope="row">
    <font face="Arial, Helvetica, sans-serif" size="2" color="#1f1f1f">Pick your next outing and rate it</font></td>
</tr>
<tr>
<td height="18" align="left" valign="middle" scope="row">
    <font face="Arial, Helvetica, sans-serif" size="2" color="#1f1f1f"><img src="{{comma}}" width="8" height="11" /></font></td>
<td height="18" align="left" valign="top" scope="row">
    <font face="Arial, Helvetica, sans-serif" size="2" color="#1f1f1f">Build your community</font></td>
</tr>
</table>
</td>
<td width="170">
<table width="170" border="0" cellspacing="0" cellpadding="0">
<tr><td height="135" scope="row"></td></tr>
<tr>
<td scope="row" align="center" height="117" valign="top">
    <font face="Arial, Helvetica, sans-serif" size="2" color="#1f1f1f">
Tourist Tube is<br/>an online platform<br/>dedicated for Tourism.<br/>You are receiving this email<br/>
because you have registered or someone invited you to Tourist Tube.
</font></td>
</tr>
<tr>
<td scope="row" align="center" height="213" valign="top">
    <font face="Arial, Helvetica, sans-serif" size="2" color="#1f1f1f"><i><strong>Tourist Tube Team</strong></i></font></td>
</tr>
</table>
</td>
<td width="19"></td>
</tr>
</table>
</td>
</tr>
</tbody>
</table>
<table width="600" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF">
<tbody>
<tr>
<td width="600" valign="bottom" align="center">
    <font face="Arial, Helvetica, sans-serif" size="1" color="#959292">By clicking on "Access my account"</font></td>
</tr>
<tr>
<td width="600" height="10" valign="top" align="center">
    <font face="Arial, Helvetica, sans-serif" size="1" color="#959292">you agree to our 
    <a href="{{termsconditions_lnk}}" target="_blank" style="text-decoration: none; color:#e8c11f">terms and conditions</a> and consent 
    <a href="{{privacy_lnk}}" target="_blank" style="text-decoration: none; color:#e8c11f">to our Privacy Policy</a>.</font></td>
</tr>
<tr>
<td height="25" width="600" valign="bottom" align="center">
    <font face="Arial, Helvetica, sans-serif" size="1" color="#959292">&copy; {{"now"|date('Y')}}, 
    Tourist Tube. <font color="#ebc019"><a href="mailto:support@touristtube.com">support@touristtube.com</a></font></font></td>
</tr>
</tbody>
</table>';
