<body>
    <table width="633" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
        {{displayTopHead}}
        {{displayPartHeadProfileMentioned}}
        <tr>
            <td>
                <table width="478" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="46" height="16" colspan="2"></td>
                        <td height="3" valign="top"></td>
                    </tr>
                    <tr>
                        <td width="46" height="16" colspan="2"></td>
                        <td valign="top">
                            <span style="color: #1f1f1f; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:20px;">
                                You asked to delete your Channel {{channel_name}} 
                                On Tourist Tube. Your Channel account has been deactivated for 15 days and will be 
                                permanently deleted if you don’t sign in before {{delete_date}}.
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td width="46" height="16" colspan="2"></td>
                        <td height="18"></td>
                    </tr>
                    <tr>
                        <td width="46" height="16" colspan="2"></td>
                        <td valign="top" height="20">
                            <span style="color: #1f1f1f; font-family:Arial, Helvetica, sans-serif; font-size:12px;">
                                You can simply cancel this action by clicking <a href="{{canceldelete_lnk}} " 
                                                                                 target="_blank" style="text-decoration: none; color:#e8c11f">here.</a>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td width="46" height="16" colspan="2"></td>
                        <td valign="top">
                            <font face="Arial, Helvetica, sans-serif" size="1" color="#1f1f1f"><i><strong>Thank you<br />Tourist Tube Team</strong>
                            </i></font>
                        </td>
                    </tr>
                </table>    
            </td>
        </tr>
        {{displayfoot}}
    </table>
</body>