<div class="col-xs-12 nopad">
	<!-- start of hotels -->
	<!-- start of flights -->
	<div class="row no-margin">
		<div class="bookDataContainer" id="my-bookings-flight">
			<div class="row no-margin">
				<div class="col-xs-12 nopad padright5 {% if travel.statusName|lower == 'cancelled' %} canceldivoverback {% endif %}">
					{% if travel.statusName|lower == 'cancelled' %}<div class="absolutebackground"></div>{% endif %}
					<div class="row margin_bottom_60 mbsmall_margin">
						<div class="col-xs-12 nopad relative_column">
							<div class="relative_column">
								{% set counter=0 %}
								{% for flightDetail in travel.flightDetails%}
									{% set departureDate=flightDetail.departureDate %}
									{% set departureAirportCode=flightDetail.departureAirportCode %}
									{% set arrivalDate=flightDetail.arrivalDate %}
									{% set arrivalAirportCode=flightDetail.arrivalAirportCode %}
									{% set flightDuration=flightDetail.flightDuration %}
									{% set stopNumber=flightDetail.stopNumber %}
									{% set flightNumber=flightDetail.flightNumber %}
									{% set airline=flightDetail.airline %}
									{% set flightType='Departure' %}
									{% if travel.oneway==false  and travel.multidestination==false %}
										{% if counter==0 %}
											     {% set flightType='Departure' %}
											{% else %}
												{% set flightType='Arrival' %}
										{% endif %}

									{% endif %}
								<div class="row no-margin">
									<div class="col-md-2 col-xs-12 mbsmall_padding visible-lg">
										<div class="row">
											<div class="col-xs-12 margin_bottom_6">
												<div class="checkin_checkout_container">
													<p class="in_out">{{flightType|trans}}</p>
													<p class="date">{{departureDate|date('D')}}</p>
													<p class="month_day">{{departureDate|date('M d, Y ')}}</p>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-7 col-xs-12 mbsmall_padding">
										<div class="row no-margin">
											<div class="col-xs-12 nopad">
												<p class="flight_my_bookings_title">
													<img alt="{{'flight_comp_img'|trans}}" src="{{travel.airlineLogo|raw}}">{{travel.airlineName|raw}} <span>{{airline|raw}}{{flightNumber|raw}}</span>
												</p>
											</div>
										</div>
										<div class="row no-margin">
											<div class="col-xs-12 nopad">
												<p class="flight_my_bookings_dep_arr">{{flightType|trans}}</p>
											</div>
											<div class="col-xs-12 nopad">
												<ul class="flight_details_list_mb">
													<li>{{departureDate|date('D d/m')}}</li>
													<li><span class="bold">{{departureDate|date('h:i')}}</span><br>{{departureAirportCode|raw}}</li>
													<li class="noborder_right">{{stopNumber|raw}}<br></li>
													<li class="border_left"><span class="bold"> {{arrivalDate|date('h:i')}}</span><br>{{arrivalAirportCode|raw}}</li>
													<li><span class="bold">{{ flightDuration|raw }}</span></li>
												</ul>
											</div>
										</div>
									</div>


								</div>
								{% set counter=counter+1 %}
								{% endfor %}

							<a target="_blank" href="{{ generateLangRoute(LanguageGet,'_flight_details', {'transaction_id': travel.transactionId|raw}) }}"
							   class="col-sm-3 col-xs-4 view_details_link visible-lg"
							>{{'View details'|trans}}</a>
							<div class="col-lg-3 col-xs-12 mbsmall_padding button_price_container_flight button_price_container">
								<a href="{{ generateLangRoute(LanguageGet,'_flight_details', {'transaction_id': travel.transactionId|raw}) }}" class="view_details_link view_details_link_flight hidden-lg">{{'View details'|trans}}</a>
								<div class="clearfix visible-xs"></div>
								<span data-price="{{travel.price|raw}}" class="a_price flight_price1 price-convert">
				    <p>
					<span class="currency-convert-text">{{travel.currency|raw}}</span> <span class="price-convert-text">{{travel.price|raw}}</span>
				    </p>
				</span>
								<a href="{{ generateLangRoute(LanguageGet,'_flight_booking') }}" class="">
									<button class="btn pink_bookagain_button" id="">{{'Book again'|trans}}</button>
								</a>
								{% if travel.statusName|lower == 'cancelled' %}<button id="" class="btn pink_cancelled_button">{{'Cancelled'|trans}}</button>{% endif %}
								<span data-price="{{travel.price}}" class="a_price flight_price2 price-convert">
				    <p>
					<span class="currency-convert-text">{{travel.currency|raw}}</span> <span class="price-convert-text">{{travel.price|raw}}</span>
				    </p>
				</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end of flights -->
</div>
