{% extends 'basecorporateFinal.html.twig' %}
{% block pagenewjs %}
    <script type="text/javascript" src="{{ asset('/assets/corporate/admin/js/corporate-accountPaymentList.js')|raw }}"></script>
    <script type="text/javascript">
        {% if slug is defined %}
            window.slug = "{{slug}}";
        {% endif %}
        {% if accountId is defined %}
            window.accountId = "{{accountId}}";
        {% endif %}
        {% if firstDay is defined %}
            window.fromDate = "{{firstDay}}";
        {% endif %}
        {% if lastDay is defined %}
            window.toDate = "{{lastDay}}";
        {% endif %}
    </script>
{% endblock %}


{% block title %}{{'List Of Account Payments'|trans}}{% endblock %}
{% block body %}

    <style>
    .dtContainer
    {
    	overflow: initial !important;
    }
    </style>

    <section class="container corporate_common_new_container">
	<nav class="navbar navbar-default navbar-fixed-bottom tt-bottom-nav visible-sm visible-xs">
            <div class="container-fluid nopad filters-group">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bottomNavBar">
                        {{'Filters'|trans}}
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse filter-options" id="bottomNavBar">
                    <div class="row no-margin">
                        <div class="col-xs-12 nopad">
                            {% include '@Corporate/admin/accountPayment/filter.twig' %}
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </nav>
        <div class="row no-margin">
            <div class="col-xs-12 nopad">
                <div class="row no-margin margin_top_20 margin_bottom_40">
                    <div class="col-xs-12 nopad">
                        <h1 class="search_title"><span class="circlimg_arrow"><i class="fas fa-angle-right"></i></span>{{'Account Payment'|trans}}</h1>
                    </div>
                </div>
                <div class="row no-margin bordered_row"></div>
            </div>
            <div class="col-xs-12 nopad margin_top_10">
                <a href="{{ generateLangRoute(LanguageGet, '_corpo_account_payment_add') }}" id="" class="addbut_style" rel="nofollow">{{'Add+'|trans}}</a>
            </div>
            <div class="col-xs-12">
                <div class="margin_top_20">
                    <div class="col-md-3 col-xs-12 left_panel hidden-sm hidden-xs">
                        {% set filterSuffix = "_2" %}
                        {% include '@Corporate/admin/accountPayment/filter.twig' %}
                    </div>
                    <div class="col-md-9 col-xs-12 right_panel">
                        <div id="tableResult" class="dtContainer">
                            {% include '@Corporate/admin/accountPayment/accountPaymentTableList.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}