{% if containerDiv is defined and containerDiv %}
    <div id="{{ (containerDivId is defined and containerDivId != '')  ? containerDivId : '' }}" class="{{ (containerDivClass is defined and containerDivClass != '')  ? containerDivClass : '' }}">
    {% endif %}

    {% if label is defined and label != '' %}
	<div class="col-xs-12 line-height-36 nopad">
	    <p class="font-16 black margin_bottom_0">{{label|trans}}</p>
	</div>
    {% endif %}

    <div class="col-xs-12 line-height-36 nopad">
	<select id="{{ (fieldId is defined and fieldId != '')  ? fieldId : '' }}" name="{{ fieldName }}" class="form-control {{ (fieldClass is defined and fieldClass != '')  ? fieldClass : '' }}">
	    {% for oKey,oVal in options %}
		<option value="{{ oVal }}">{{oVal|trans}}</option>
	    {% endfor %}
	</select>
    </div>

    {% if containerDiv is defined and containerDiv %}
    </div>
{% endif %}
