{% if containerDiv is defined and containerDiv %}
    <div id="{{ (containerDivId is defined and containerDivId != '')  ? containerDivId : '' }}" class="{{ (containerDivClass is defined and containerDivClass != '')  ? containerDivClass : '' }}">
    {% endif %}

    {% if label is defined and label != '' %}
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopad">
	    <p class="afn_atf"> {{label|trans}} </p>
	</div>
    {% endif %}

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopad">
	<div class="arrivalcompdate_atf">
	    <input id="{{ (fieldId is defined and fieldId != '')  ? fieldId : '' }}" name="{{ fieldName }}" value="" placeholder="{{ (placeholder is defined and placeholder != '')  ? placeholder : '' }}" class="{{ (fieldClass is defined and fieldClass != '')  ? fieldClass : '' }}" type="text">
	</div>
    </div>

    {% if containerDiv is defined and containerDiv %}
    </div>
{% endif %}
