{% if roomsToDisplay is not defined and roomsReserved is defined %}
    {% set roomsToDisplay = roomsReserved %}
{% endif %}
{% if roomsToDisplay is defined %} 
    {% for room in roomsToDisplay %}
	<div class="row margin_top_20">
	    <div class="col-xs-12">
		<p class="font-22 black font-bold padding_right_10 pull-left"><i class="fas fa-angle-right pink_font-awsome_logo"></i>{{loop.index ~ '. ' ~ room.name}}{% if room.roomTypeInfo.guestInfo is defined and room.roomTypeInfo.guestInfo is not empty %}&nbsp;{{ room.roomTypeInfo.guestInfo }}{% endif %}</p>
		{% if pageSrc == HOTEL_CONSTANTS.page_src.hrs %}
		    {% if reservationDetails.cancelable and room.cancellation is empty and reservationDetails.activeRoomsCount > 1 %}
			{% set formId = 'room-cancellation-form' %}
			{% set routeName = '_hotel_reservation_cancellation' %}

			{% if reservationDetails.ccRequired %}
			    {% set formId = 'room-cancellation-form-cc' %}
			    {% set routeName = '_hotel_cancellation' %}
			{% endif %}

			{% set formId = formId ~ '-' ~ room.reservationKey %}
			<form id="{{formId}}" method="post" action="{{generateLangRoute(LanguageGet, routeName, {'reference': reservationDetails.reference})}}" class="edit-button cancelbuton" autocomplete="off">
			    <input type="hidden" name="reservationKey" value="{{room.reservationKey}}"/>
			    <input type="hidden" name="cancelRoom" value="1"/>
			    <p class="font-13 blue font-bold pull-left line-height-38">
				<button type="submit" data-formId="{{formId}}" class="font-bold pull-left cancelled cancel-room-button btn btn-bookingdetails cancelbookdetailbut">{{'Cancel this room'|trans}}</button>
			    </p>
			</form>
		    {% endif %}
		{% endif %}
	    </div>
	    <div class="col-xs-12">
		<p class="font-16 grey margin_top_10">{{room.description|raw}}</p>
	    </div>
	    <div class="col-xs-12">
		<div class="row margin_top_15">
		    <div class="col-lg-6 col-xs-12">
			<div class="row">
			    <div class="col-xs-4">
				<p class="font-16 grey">{{'Room reservation number'|trans}}</p>
			    </div>
			    <div class="col-xs-8">
				<p class="font-16 black">{{room.reservationKey}}</p>
			    </div>
			</div>
			<div class="row">
			    <div class="col-xs-4">
				<p class="font-16 grey">{{'Check-In'|trans}}</p>
			    </div>
			    <div class="col-xs-8">
				<p class="font-16 black">{{room.checkIn}}</p>
			    </div>
			</div>
			<div class="row">
			    <div class="col-xs-4">
				<p class="font-16 grey">{{'Check-Out'|trans}}</p>
			    </div>
			    <div class="col-xs-8">
				<p class="font-16 black">{{room.checkOut}}</p>
			    </div>
			</div>
			<div class="row">
			    <div class="col-xs-4">
				<p class="font-16 grey">{{'Number of Nights'|trans}}</p>
			    </div>
			    <div class="col-xs-8">
				<p class="font-16 black">{{room.nightsCount ~ ' night'}}{% if (room.nightsCount > 1) %}s{% endif %}</p>
			    </div>
			</div>
			<div class="row">
			    <div class="col-xs-4">
				<p class="font-16 grey">{{'Guest Name'|trans}}</p>
			    </div>
			    <div class="col-xs-8">
				<div class="row">
				    <div class="col-sm-6 col-xs-7">
					<p class="font-16 black">{{room.guestName}}</p>
				    </div>
				    <div class="col-sm-6 col-xs-5">					
					{% if pageSrc == HOTEL_CONSTANTS.page_src.hrs and reservationDetails.cancelable and room.cancellation is empty %}
					    <form method="post" action="{{ generateLangRoute(LanguageGet,'_hotel_modification', {'reference': reservationDetails.reference}) }}" class="edit-button" autocomplete="off">
						<input type="hidden" name="reservationKey" value="{{ room.reservationKey }}">
						<p class="font-13 blue font-bold line-height-24">
						    <input type="submit" class="font-bold btn btn-bookingdetails commensndrow_bookdetail sndtablethird editbookdetailbut" name="change" value="{{'Edit Booking Details'|trans}}">
						</p>
					    </form>
					{% endif %}
				    </div>
				</div>
			    </div>
			</div>
			<div class="row">
			    <div class="col-xs-4">
				<p class="font-16 grey">{{'Meal Plan'|trans}}</p>
			    </div>
			    <div class="col-xs-8">
				<p class="font-16 black">{{room.breakfastDetails|raw|trans}}</p>
			    </div>
			</div>

			{% if room.prepaymentDetails is defined %}
			    <div class="row">
				<div class="col-xs-4">
				    <p class="font-16 grey">{{'Prepayment'|trans}}</p>
				</div>
				<div class="col-xs-8">
				    <p class="font-16 black">
					{% for info in room.prepaymentDetails %}
					    {{ info|trans|raw }}
					{% endfor %}
				    </p>
				</div>
			    </div>
			{% endif %}

			{% if room.cancellationDetails is defined %}
			    <div class="row">
				<div class="col-xs-4">
				    <p class="font-16 grey">{{'Cancellation Cost'|trans}}</p>
				</div>
				<div class="col-xs-8">
				    <p class="font-16 black">
					{% for info in room.cancellationDetails %}
					    {{ info|trans|raw }}<br/>
					{% endfor %}
				    </p>
				</div>
			    </div>
			{% endif %}

			{% if room.reservationStatus is defined %}
			    <div class="row">
				<div class="col-xs-4">
				    <p class="font-16 grey">{{'Reservation Status'|trans}}</p>
				</div>
				<div class="col-xs-8">
				    <p class="font-16 black {% if room.canceled is defined and room.canceled %}cancelled{% endif %}">{{room.reservationStatus}}</p>
				</div>
			    </div>
			{% endif %}

			{% if room.cancellationNumber is defined %}
			    <div class="row">
				<div class="col-xs-4">
				    <p class="font-16 grey">{{'Cancellation Number'|trans}}</p>
				</div>
				<div class="col-xs-8">
				    <p class="font-16 black cancelled">{{room.cancellationNumber}}</p>
				</div>
			    </div>
			{% endif %}
		    </div>
		</div>
	    </div>
	</div>
    {% endfor %}
{% endif %}
<div class="row border_top_but_row_3 margin_top_20"></div>
