{% extends 'baseFinal.html.twig' %}
{% block pagenewcss %}
    <link rel="stylesheet" type="text/css" href="{{ asset("/assets/hotels/css/hotel-main.css")|raw }}"/>
{% endblock %}
{% block pagenewjs %}
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?v3{{MAP_KEY|raw}}&amp;sensor=false"></script>
    <script type="text/javascript" src="{{ asset("/assets/common/js/infobox_packed.js")|raw }}"></script>
    <script type="text/javascript">
	var map;
	var mapOptions;
	var markersArrayData = [];
	var marker_global_array = new Array();
	var ib;
	var image;
	var boxText, myOptions;
	$(document).ready(function () {
	    image = new google.maps.MarkerImage('{{ generateMediaURL("/media/images/pin_hot.png") }}');
	    var myStyles = [
		{
		    featureType: "poi",
		    elementType: "labels",
		    stylers: [
			{visibility: "off"}
		    ]
		}
	    ];
	    mapOptions = {
	    center: new google.maps.LatLng({{latitude|raw}}, {{longitude|raw}}),
	    zoom: 10,
		    disableDefaultUI: true,
		    mapTypeId: google.maps.MapTypeId.ROADMAP,
		    styles: myStyles
	    }
	    ;
	    map = new google.maps.Map(document.getElementById("BigMap"), mapOptions);
	    new google.maps.Marker({
	    position: new google.maps.LatLng({{latitude|raw}}, {{longitude|raw}}),
	    map: map,
		    title: '{{discovername|raw}}',
		    icon: new google.maps.MarkerImage("{{ generateMediaURL('/media/images/pin_empty.png') }}")
	    }
	    );
	    boxText = document.createElement("div");
	    myOptions = {
		content: boxText
		, disableAutoPan: false
		, maxWidth: 0
		, pixelOffset: new google.maps.Size(-140, 0)
		, zIndex: null
		, boxStyle: {
		    opacity: 0.9
		    , width: "120px"
		    , height: "140px"
		}
		, closeBoxURL: ""
		, infoBoxClearance: new google.maps.Size(1, 1)
		, isHidden: false
		, pane: "floatPane"
		, enableEventPropagation: false
	    };
	    ib = new InfoBox(myOptions);
	{% for media_pin in mapArray %}
		markersArrayData.push(Array(map, image, '{{media_pin.name|raw}}', '{{media_pin.link|raw}}', '{{media_pin.image_pic|raw}}', {{media_pin.latitude|raw}}, {{media_pin.logitude|raw}}, {{media_pin.stars|raw}}, {{media_pin.entity_type|raw}},     {{media_pin.entityId|raw}} ));
	{% endfor %}
		setTimeout(function () {
		    for (var k = 0; k < markersArrayData.length; k++) {
			var data_arr = markersArrayData[k];
			drawmarkers(data_arr[0], data_arr[1], data_arr[2], data_arr[3], data_arr[4], data_arr[5], data_arr[6], data_arr[7], data_arr[8], data_arr[9]);
		    }
		}, 3000);
		google.maps.event.addListener(map, 'click', function () {
		    ib.close();
		});
	    });
    </script>
    <script type="text/javascript">
	$(function () {
	    if ($('[name=fromDate]').length > 0) {
		if ($('[name=fromDate]').val() == '' || $('[name=toDate]').val() == '') {
		    showErrorMsg(Translator.trans('Select check-in and check-out dates.'));
		}
	    }
	});
    </script>
{% endblock %}
{% block body %}
    <section class="container hotels_in_container">
        <div class="row">
            <div class="col-xs-12">
                <div class="row margin_top_63 xs_margin_0 margin_5">
                    <div class="col-md-6 col-xs-12 padding_5">
                        <div class="deal_grey_container">
                            <h3>{{perfectDeal|raw}}</h3>
                            <p class="margin_bottom_5">{{ 'average prices for this month are:'|trans }}</p>
                            <div class="row margin_5">
                                <ul class="av_price_tab">
                                    <li class="col-xs-4 padding_5">
					<a href="{{ stars3Link|raw }}" title="{{ '3 star hotels'|trans }}">
					    <p>{{ '3 star hotels'|trans }}<br>$ {{stars3price|raw}} {{ 'avg'|trans }}.</p>
					</a>
                                    </li>
                                    <li class="col-xs-4 padding_5">
					<a href="{{ stars4Link|raw }}" title="{{ '4 star hotels'|trans }}">
					    <p>{{ '4 star hotels'|trans }}<br>$ {{stars4price|raw}} {{ 'avg'|trans }}.</p>
					</a>
                                    </li>
                                    <li class="col-xs-4 padding_5">
					<a href="{{ stars5Link|raw }}" title="{{ '5 star hotels'|trans }}">
					    <p>{{ '5 star hotels'|trans }}<br>$ {{stars5price|raw}} {{ 'avg'|trans }}.</p>
					</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-4 padding_5 xs_width_100">
                        <div class="bordered_grey_container price_guarantee_container">
                            <img alt="{{ 'PRICE GUARANTEE'|trans }}" src="{{ generateMediaURL('/media/images/hotels-in_new/price_guarantee_logo.png') }}">
                            <h4>{{PRICEGUARANTEE|raw}}</h4>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-8 padding_5 xs_width_100">
                        <div class="bordered_grey_container deals_in_city_container">
                            <h3>{{lookingForDeal|raw}}</h3>
                            <p>{{ 'Check prices and accomodations for:'|trans }}</p>
                            <div class="row">
                                <ul class="deals_in_city_tab margin_top_20">
                                    <li class="col-xs-4"><a href="{{ tonightLink|raw }}" title="{{ 'Tonight'|trans }}">{{ 'Tonight'|trans }}<br>{{todaydata|raw}}</a></li>
                                    <li class="col-xs-4"><a href="{{ tomorrowLink|raw }}" title="{{ 'Tomorrow'|trans }}">{{ 'Tomorrow'|trans }}<br>{{tomorrowdata|raw}}</a></li>
                                    <li class="col-xs-4"><a href="{{ weekendLink|raw }}" title="{{ 'This weekend'|trans }}">{{ 'This weekend'|trans }}<br>{{weekenddata1|raw}} - {{weekenddata2|raw}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
		{% if descHotelsinTitle!='' %}
		    <div class="row margin_top_50"><div class="col-xs-12"><div class="border_separator_2"></div></div></div>
		    <div class="row xs_margin_0 margin_5 margin_top_20">
			<div class="col-xs-12 padding_5">
			    <h2 class="hotel_info_title"><span class="circlimg_arrow"><i class="fas fa-angle-right"></i></span>{{ descHotelsinTitle|raw }}</h2>
				    {% if descHotelsin!='' %}
				<div class="col-xs-12 padding_5">
				    <p class="hotels_info_txt">{{descHotelsin|raw}}</p>
				</div>
			    {% endif %}
			</div>
		    </div>
		{% endif %}
		{% if hotArray1|length > 0 %}
		    <div class="row margin_top_20"><div class="col-xs-12"><div class="border_separator_2"></div></div></div>
		    <div class="row xs_margin_0 margin_5 margin_top_20">
			<a href="{{ bestHotelsLink|raw }}" title="{{ bestHotelsalt|raw }}" class="col-xs-12 padding_5">
			    <h2 class="hotel_info_title"><span class="circlimg_arrow"><i class="fas fa-angle-right"></i></span>{{bestHotels|raw}}
				    {% if allCityHotelsCount > 1 %}
				    <span class="span_sep">|</span><span class="span_smal_txt">{{allCityHotelsCountString|raw}}</span>
				{% endif %}
			    </h2>
			</a>
		    </div>
		    <div class="row margin_5">
			{% for item in hotArray1 %}
			    <a href="{{ item.link|raw }}" title="{{ item.namealt|raw }}" class="col-md-3 col-sm-4 col-xs-6 padding_5">
				<img src="{{ item.img|raw }}" alt="{{ item.namealt|raw }}" class="width_100">
				<div class="whitedownimgbag">
				    <h5 class="best_hotels_h5">{{ item.name|raw }}</h5>
				    <p class="location_div location_txt"><i class="fas fa-map-marker-alt"></i>{{ item.address|raw }}</p>
				    <p class="stars_block float_left margin_bottom_0"><span class="star_rating" data-rating="{{ item.stars|raw }}" data-font="11" data-color="#eac31a"></span></p>
				    <p class="price_hotel_blue">${{item.price|raw}} <span>{{ 'avg/night'|trans }}</span></p>
				</div>
			    </a>
			{% endfor %}
		    </div>
		{% endif %}
                <div class="row margin_top_20"><div class="col-xs-12"><div class="border_separator_2"></div></div></div>
                <div class="row xs_margin_0 margin_5 margin_top_20">
                    <div class="col-xs-12 padding_5">
                        <h4 class="hotel_info_title"><span class="circlimg_arrow"><i class="fas fa-angle-right"></i></span>{{placesWeLove|raw}}</h4>
                    </div>
                </div>
                <div class="row xs_margin_0 margin_5">
                    <div id="BigMap" class="col-xs-12 padding_5"></div>
                </div>
		{% if hotArray2|length > 0 %}
		    <div class="row margin_top_50"><div class="col-xs-12"><div class="border_separator_2"></div></div></div>
		    <div class="row xs_margin_0 margin_5 margin_top_20">
			<a href="{{ bestHotelsLink|raw }}" title="{{ discoverBestHotelsalt|raw }}" class="col-xs-12 padding_5">
			    <h3 class="hotel_info_title"><span class="circlimg_arrow"><i class="fas fa-angle-right"></i></span>{{discoverBestHotels|raw}}<span class="span_sep">|</span><span class="span_smal_txt">{{'based on real reviews from actual guests'|trans}}</span></h3>
			</a>
		    </div>
		    <div class="row margin_5">
			{% for item in hotArray2 %}
			    <a href="{{ item.link|raw }}" title="{{ item.namealt|raw }}" class="col-md-4 col-sm-6 col-xs-12 padding_5">
				<div class="row no-margin">
				    <div class="col-xs-5 nopad"><img src="{{ item.img|raw }}" alt="{{ item.namealt|raw }}" class="width_100"></div>
				    <div class="col-xs-7 nopad">
					<h5 class="discover_hotels_h5">{{ item.name|raw }}</h5>
					<p class="stars_block padding_left_8 margin_bottom_0"><span class="star_rating" data-rating="{{ item.stars|raw }}" data-font="11" data-color="#eac31a"></span></p>
					<p class="price_hotel_blue padding_left_8">${{item.price|raw}} <span>{{ 'avg/night'|trans }}</span></p>
				    </div>
				</div>
			    </a>
			{% endfor %}
		    </div>
		{% endif %}
            </div>
        </div>
    </section>
{% endblock %}
