{% extends 'baseFinal.html.twig' %}
{% block title %}
    {{ 'Hotel Reservation'|trans }}{{ ' | TouristTube' }}
{% endblock %}
{% block body %}
    {% set showPrintableArea = false %}
    <section class="container booking-details_container">
	{% if error is defined and error is not empty %}
	    <div class="row margin_top_15 padding_left_68">
		<div class="row margin_top_15">
		    <div class="col-xs-12">
			<p class="font-22 black font-bold">{{error}}</p>
		    </div>
		</div>
		<div class="row">
		    <div class="col-xs-12">
			{% if refererURL is defined and refererURL is not empty %}
			    <a href="{{refererURL}}"><button class="btn view_booking">{{'Refresh offers'|trans}}</button></a>
			    {% endif %}
		    </div>
		</div>
	    </div>
	{% else %}
	    {% set showPrintableArea = true %}

	    {% set topTitle = 'Congratulations! Your booking is now confirmed.'|trans %}
	    {% set hotelBookingURL = generateLangRoute(LanguageGet,hotelBookingRouteName) %}
	    {% set bookingDetailsURL = generateLangRoute(LanguageGet,bookingDetailsRouteName, {'reference': reference}) %}
	    {% set hotelDetailsURL = generateLangRoute(LanguageGet,hotelDetailsRouteName, {'name':hotelDetails.hotelNameURL, 'id':hotelDetails.hotelId}) %}

	    {% set showTravelDate = 1 %}
	    {% include '@Hotel/hotel-reservation-confirmation-top-action.twig' %}
	    {% include '@Hotel/hotel-reservation-booking-details.twig' %}

	    {% set showTravelDate = 0 %}
	    {% include roomInfoTemplate %}

	    {% set cancelURL = generateLangRoute(LanguageGet,cancellationRouteName, {'reference':reservationDetails.reference|raw}) %}
	    {% include '@Hotel/hotel-reservation-payment-details.twig' %}
	{% endif %}
    </section>
    {% if showPrintableArea %}
	<div id="printableArea">
	    {% set printView = 1 %}
	    {% include '@Hotel/hotel-confirmation-email.twig' %}
	</div>
    {% endif %}
{% endblock %}
{% block googleConversion %}
    <!-- Google Code for Conversions Conversion Page -->
    <script type="text/javascript">
	/ <![CDATA[ /
		var google_conversion_id = 857450447;
	var google_conversion_language = "en";
	var google_conversion_format = "3";
	var google_conversion_color = "ffffff";
	var google_conversion_label = "Qs0GCLD97W8Qz8_umAM";
	var google_remarketing_only = false;
	/ ]]> /
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
    <div style="display:inline;">
	<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/857450447/?label=Qs0GCLD97W8Qz8_umAM&amp;guid=ON&amp;script=0"/>
    </div>
    </noscript>
{% endblock %}
