<tr>
    <td style="font-size: 0; line-height: 0;" height="50">
	&nbsp;
    </td>
</tr>
<tr>
    <td style="text-align: center;">
	<p style="color: #404141;font-size: 11px; margin-top:00px; margin-bottom: 0;">{{'Copyright'|trans}} &#169; {{'now'|date('Y')}} {{'Tourist Tube FZ-LLC'|raw}} {{'All rights reserved'|trans}} </p>
	<p style="color: #404141;font-size: 11px; margin-top:0px; margin-bottom: 0;">{{'This e-mail was sent by Tourist Tube FZ-LLC; Floor 1; DIC Building 12; 35, DIC Street; city Dubai; UAE'|trans}}</p>
	<p style="color: #404141;font-size: 11px; margin-top:0px; margin-bottom: 0;">{{'When communicating with your booked accommodation via TouristTube.com you agree with the'|trans}}</p>
	<p style="color: #404141;font-size: 11px; margin-top:0px; margin-bottom: 20px;">{{'processing of the communications as set out in our'|trans}} <a href="{{url('_privacy-policy')}}" style="color: #1b9fea;">{{'Privacy Policy'|trans}}</a>.</p>
    </td>
</tr>