{% extends 'base.html.twig' %}

{% block pagenewcss %}
    <link rel="stylesheet" type="text/css" href="{{ asset("/css/sign-in.css")|raw }}" >
    <link rel="stylesheet" type="text/css" href="{{ asset("/css/forgot-password.css")|raw }}" >
{% endblock %}
{% block pagenewjs %}
    <script type="text/javascript" src="{{ asset("/assets/common/js/update-username-password.js")|raw }}"></script>
{% endblock %}
{% block body %}
    <section>
        <div class="cotent container">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <h1 class="page_title paddingleft23">
                    {{'Change your username and password on Tourist Tube.'|trans}}
                </h1>
                <div class="col-xs-12 paddingleft18 zindexup">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-10 bar"></div>
                    <div class="form-group">
                        <label class="control-label col-xs-12 paddingtop1" for="YourUserName">{{'Username'|trans}}</label>
                        <div class="col-xs-12 paddingtop0">
                            <input type="text" class="form-control" id="YourUserName" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-12" for="YourOldPassword">{{'Old password'|trans}} *</label>
                        <div class="col-xs-12 paddingtop0">
                            <input type="password" class="form-control" id="YourOldPassword" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-12 paddingtop1" for="YourPassword">{{'Enter new password'|trans}} *</label>
                        <div class="col-xs-12 paddingtop0">
                            <input type="password" class="form-control" id="YourPassword" >
                        </div>
                        <div class="note-descp1 col-xs-12">{{'should be at least 8 characters long<br>and must be a combination of letters and numbers.'|trans|raw}}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-12" for="YourCPassword">{{'Confirm new password'|trans}} *</label>
                        <div class="col-xs-12 paddingtop0">
                            <input type="password" class="form-control" id="YourCPassword" >
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <button id="submit" type="button" class="btn btn-default signup">{{'SUBMIT'|trans}}</button>
                        </div>
                    </div>
		    <input type="hidden" class="form-control" id="updatePswdUsernamePath" value="{{ path('_update_username_password_submit_') }}" />
		    <input type="hidden" class="form-control" id="userId" value="{{userId}}" />
                    <div id="FormResult" class="col-lg-12 col-md-12 col-sm-12 paddingleft28"></div>
                </div>
            </div>
        </div>
    </section>
    <section id="confirm_container_hide" class="container">
        <div class="col-xs-12 nopad paddingpasssuccess">
            <p class="resetpasssuccess">{{'Your password has been reset successfully.'|trans}}</p>
        </div>
    </section>
{% endblock %}
