{% extends 'basecorporateFinal.html.twig' %}

{% block pagenewjs %}
<script type="text/javascript" src="{{ asset('/assets/corporate/admin/js/corporate-accountEdit.js')|raw }}"></script>
{% endblock %}
{% block title %}
    {% if sectionTitle is defined %}
        {{sectionTitle|trans}}
    {% else %}
        {{'List Of Account'|trans}}
    {% endif %}
     {{pageTitle|capitalize}}
{% endblock %}
{% block body %}

{% set defaultValues  = {'al_id': 0, 'al_agencyId': '', 'al_name': '', 'al_isActive': 0, 'al_paymentTypeId':1, 'cityName': '', 'al_address': '', 'al_mobile': '', 'al_phone1': '', 'al_phone2': '', 'al_creditLimit': 0, 'al_numberOfUsers': 0, 'al_currencyCode': 0, 'al_paymentPeriod': 0, 'al_showAccountCurrencyAmount': 0,'preferredCurrencyCode': 0, 'al_agencyId': 0, 'al_website': '', 'al_email': '', 'al_accountingEmail': '', 'al_cityId': 0, 'al_parentAccountId':'', 'accountName':'', 'currencyName': '', 'agencyName': '', 'preferredCurrencyName': '', 'al_accountTypeId': '', 'accountTypeName': "", 'countryCode': '' } %}
{% set account = defaultValues|merge(account) %}

<script>
window.excludedAccountsIds = "{{account.al_id|raw}}";
window.countryCode = "{{account.countryCode|raw}}";
</script>

<section class="container corporate_common_new_container">
	<div class="row no-margin">
		<div class="col-xs-12 nopad">
			<div class="row no-margin margin_top_20 margin_bottom_40">
				<div class="col-xs-12 nopad">
					<h1 class="search_title"><span class="circlimg_arrow"><i class="fas fa-angle-right"></i></span>
                            {% if sectionTitle is defined %}
                                {{sectionTitle|trans}}
                            {% else %}
                                {{'List Of Account'|trans}}
                            {% endif %}
						/ <span class="add_edit">{{pageTitle}}</span>
					</h1>
				</div>
			</div>
			<div class="row no-margin bordered_row"></div>
		</div>
		<form id="formId" method="POST" action="{{ generateLangRoute(LanguageGet, '_corpo_account_addSubmit') }}" onsubmit="validateForm()">
			<div class="col-lg-10 col-xs-12 nopad margin_top_40">
				<div class="row corporate_small_row_margin">
					<input type="hidden" class="id" name="id" value="{{account.al_id|raw}}">
					<input type="hidden" name="slug" value="{{slug}}">
					<div class="col-md-4 col-sm-6 col-xs-12 corporate_small_col_padding lofaff">
						<label id="nameLabel" class="form-check-label">{{'Name'|trans}}*</label> 
						</label> <input type="text" class="col-xs-12" name="name"
							value="{{account.al_name|raw}}" required placeholder="{{'Name'|trans}}*" label="#nameLabel"
						/>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12 corporate_small_col_padding lofaff">
						<label id="countryNameLabel" class="form-check-label">{{'Country Name'|trans}}*</label> <input type="text" class="col-xs-12" name="countryCode"
							data-value-id="{{(account is defined and account.countryCode is defined) ? account.countryCode : ''}}" data-toggle="ttautocompleteCountry" id="country"
							value="{{ (account is defined and account.countryName is defined) ? account.countryName|raw : ''}}" placeholder="{{'Search for country*'|trans}}" onDropDownSelect="onCountrySelected" required label="#countryNameLabel"/>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12 corporate_small_col_padding lofaff">
						<label id="cityNameLabel" class="form-check-label">{{'City Name'|trans}}*</label> <input type="text" class="col-xs-12" name="cityId"
							data-value-id="{{account is defined ? account.al_cityId : ''}}" data-toggle="ttautocompleteCity" id="cityName"
							value="{{account is defined ? account.cityName : ''}}" placeholder="{{'Search for city*'|trans}}" required label="#cityNameLabel" {% if action == 'add' %} disabled {% endif %}/>
					</div>
					<div class="clearfix visible-sm"></div>
					<div class="col-md-4 col-sm-6 col-xs-12 corporate_small_col_padding lofaff">
						<label class="form-check-label">{{'Address'|trans}}</label>
						<textarea name="address" class="col-xs-12" placeholder="{{'Address'|trans}}">{{account.al_address|raw}}</textarea>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12 corporate_small_col_padding lofaff">
						<label id="mobileLabel" class="form-check-label">{{'Mobile'|trans}}*</label> <input type="text" class="col-xs-12" name="mobile"
							onkeypress="return isPhoneNumeric(event)" value="{{account.al_mobile|raw}}" required label="#mobileLabel"
							placeholder="{{'Mobile'|trans}}*"
						>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12 corporate_small_col_padding lofaff">
						<label class="form-check-label">{{'Phone 1'|trans}}</label> <input type="text" class="col-xs-12" name="phone1"
							onkeypress="return isPhoneNumeric(event)" value="{{account.al_phone1|raw }}" placeholder="{{'Phone 1'|trans}}"
						>
					</div>
					<div class="clearfix visible-sm"></div>
					<div class="clearfix visible-lg visible-md"></div>
					<div class="col-md-4 col-sm-6 col-xs-12 corporate_small_col_padding lofaff">
						<label class="form-check-label">{{'Phone 2'|trans}}</label> <input type="text" class="col-xs-12" name="phone2"
							onkeypress="return isPhoneNumeric(event)" value="{{account.al_phone2|raw }}" placeholder="{{'Phone 2'|trans}}"
						>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12 corporate_small_col_padding lofaff">
						<label id="creditLimitLabel" class="form-check-label">{{'Credit Limit'|trans}}*</label> <input type="text" class="col-xs-12"
							name="creditLimit" value="{{account.al_creditLimit|raw}}" required placeholder="{{'Credit Limit'|trans}}*" label="#creditLimitLabel"
						>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12 corporate_small_col_padding lofaff">
						<label id="currencyNameLabel" class="form-check-label">{{'Currency'|trans}}*</label> <input type="text" class="col-xs-12" name="currencyCode"
							data-toggle="ttautocompleteCurrency" id="currency" value="{{account.currencyName|raw}}" data-value-id="{{account.al_currencyCode|raw}}"
							placeholder="{{'Search for currency'|trans}}*" required label="#currencyNameLabel"
						/>
					</div>
					<div class="clearfix visible-sm"></div>
					<div class="col-md-4 col-sm-6 col-xs-12 corporate_small_col_padding lofaff">
						<label id="paymentPeriodLabel" class="form-check-label">{{'Payment Period / days'|trans}}*</label> <input type="number" class="col-xs-12"
							name="paymentPeriod" value="{{account.al_paymentPeriod|raw}}" required label="#paymentPeriodLabel"
							placeholder="{{'Payment Period / days'|trans}}*"
						>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12 corporate_small_col_padding lofaff">
						<label id="preferredCurrencyLabel" class="form-check-label">{{'Preferred Currency'|trans}}*</label> <input type="text" class="col-xs-12" name="preferredCurrencyCode"
							data-value-id="{{account.preferredCurrencyCode|raw}}" data-toggle="ttautocompleteCity" id="preferredCurrency"
							value="{{account.preferredCurrencyName|raw}}" placeholder="{{'Search for Preferred Currency'|trans}}*" required label="#preferredCurrencyLabel"/>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12 corporate_small_col_padding lofaff">
						<label id="numberOfUsersLabel" class="form-check-label">{{'Number Of Users'|trans}}*</label> <input type="number" class="col-xs-12"
							name="numberOfUsers" value="{{account.al_numberOfUsers|raw}}" required placeholder="{{'Number Of Users'|trans}}*" label="#numberOfUsersLabel"
						>
					</div>
					<div class="clearfix visible-sm"></div>
					<div class="col-md-4 col-sm-6 col-xs-12 corporate_small_col_padding lofaff">
						<label class="form-check-label">{{'Website'|trans}}</label> <input type="url" class="col-xs-12" name="website"
							value="{{account.al_website|raw}}" placeholder="{{'Website'|trans}}"
						>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12 corporate_small_col_padding lofaff">
						<label id="emailLabel" class="form-check-label">{{'Email'|trans}}*</label> <input type="email" class="col-xs-12" name="email"
							value="{{account.al_email|raw}}" required placeholder="{{'Email'|trans}}*" label="#emailLabel"
						>
					</div>
					<div class="clearfix visible-sm"></div>
					<div class="col-md-4 col-sm-6 col-xs-12 corporate_small_col_padding lofaff">
						<label id="emailLabel" class="form-check-label">{{'Accounting Email'|trans}}*</label> <input type="accountingEmail" class="col-xs-12" name="accountingEmail"
							value="{{account.al_accountingEmail|raw}}" required placeholder="{{'Accounting Email'|trans}}*" label="#emailLabel"
						>
					</div>
					<div class="clearfix visible-sm"></div>
					<div class="clearfix visible-lg visible-md"></div>
					<div class="col-md-4 col-sm-6 col-xs-12 corporate_small_col_padding lofaff">
						<label class="form-check-label">{{'Payment Type'|trans}}</label> <select class="col-xs-12" name="paymentType">
							{% for payment in paymentList %}
							<option value="{{payment.ap_id}}" {% if account.al_paymentTypeId == payment.ap_id %} selected {% endif %}>{{payment.ap_name}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="clearfix visible-sm"></div>
					{% if showAccType %}
							{% set accTypeName = "" %}
							{% set accTypeId = 0 %}
							{% if account.accountTypeName == "" and slug is defined %}
								{% for accountType in accountTypeList %}
									{% if accountType.atl_slug == slug %}
										{% set accTypeName = accountType.atl_name %}
										{% set accTypeId = accountType.atl_id %}
									{% endif %}
								{% endfor %}
							{% else %}
								{% set accTypeName = account.accountTypeName %}
								{% set accTypeId = account.al_accountTypeId %}
							{% endif %}
							{% if slug == '' %}
						<div class="col-md-4 col-sm-6 col-xs-12 corporate_small_col_padding lofaff">
							<label id="accountTypeLabel" class="form-check-label">{{'Account Type'|trans}}*</label> <input type="text" class="col-xs-12" name="accountType"
								data-toggle="ttautocompleteCurrency" id="accountType" value="{{accTypeName|raw}}" data-value-id="{{accTypeId|raw}}"
								placeholder="{{'Search for account type'|trans}}*" required label="#accountTypeLabel"
							/>
						</div>
							{% else %}
								<input type="hidden" name="accountType" value="{{accTypeId}}">
							{% endif %}	
						
					{% else %}
						{% set accTypeId = userAccTypeId %}
						{% for accountType in accountTypeList %}
							{% if (slug is defined and slug != "") and accountType.atl_slug == slug %} 
								{% set accTypeId = accountType.atl_id %}
							{% endif %}
						{% endfor %}
						{% if accTypeId == userAccTypeId and account.al_accountTypeId != 0  %}
							{% set accTypeId = account.al_accountTypeId %}
						{% endif %}
						<input type="hidden" name="accountType" value="{{accTypeId}}">
					{% endif %}
					<div class="clearfix visible-sm"></div>
					<div class="col-md-4 col-sm-6 col-xs-12 corporate_small_col_padding lofaff">
						<label id="parentLabel" class="form-check-label">{{'Parent'|trans}}</label> <input type="text" class="col-xs-12" name="parentId"
							data-value-id="{{account.al_parentAccountId|raw}}" data-toggle="ttautocompleteCity" id="parent"
							value="{{account.accountName|raw}}" placeholder="{{'Search for parent account'|trans}}" label="#parentLabel"/>
					</div>
					<div class="clearfix visible-sm"></div>
					{% if false and slug is defined and slug == 'agency' %}
					<div class="col-md-4 col-sm-6 col-xs-12 corporate_small_col_padding lofaff">
						<label id="agencyLabel" class="form-check-label">{{'Agency'|trans}}</label> <input type="text" class="col-xs-12" name="agencyCode"
							data-toggle="ttautocompleteCurrency" id="agency" value="{{account.agencyName|raw}}" data-value-id="{{account.al_agencyId|raw}}"
							placeholder="{{'Search for parent agency'|trans}}" label="#agencyLabel"
						/>
					</div>
					{% endif %}
					<div class="clearfix visible-sm"></div>
					<div class="clearfix visible-lg visible-md"></div>
					<div class="col-xs-12 corporate_small_col_padding lofaff">
						<input type="checkbox" id="showAccountCurrencyAmount" name="showAccountCurrencyAmount[]"
							{% if account.al_showAccountCurrencyAmount %} checked="checked{% endif %}"
						> <label for="showAccountCurrencyAmount" class="form-check-label">{{'Show Amounts in Preferred Currency'|trans}}</label>
					</div>
					<div class="col-xs-12 corporate_small_col_padding lofaff">
						<input type="checkbox" id="isActive" name="isActive[]" {% if account.al_isActive %} checked="checked{% endif %}">
						<label for="isActive" class="form-check-label">{{'Active'|trans}}</label>
					</div>
				</div>
				<div class="row corporate_small_row_margin">
					<div class="col-xs-12 corporate_small_col_padding margin_top_20">
						{% if slug is defined and slug %}
						<a class="back_grey" href="{{ generateLangRoute(LanguageGet,'_corpo_accountslist', {'slug':slug}) }}" title="{{'Back'|trans}}">{{'Back'|trans}}</a>
						{% else %}
						<a class="back_grey" href="{{ generateLangRoute(LanguageGet,'_corpo_account') }}" title="{{'Back'|trans}}">{{'Back'|trans}}</a>
						{% endif %}
						<button data-role="button" data-type="validate" type="submit" class="btn submit_yellow">
							{{'Submit'|trans}}
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>
{% endblock %}
