{% for photo in media_array %}
    <div class="col-md-4 col-sm-6 col-xs-12 channel_newpadding data_media_remove_container" data-type="{{photo.type|raw}}" data-id="{{photo.id|raw}}">
	<a href="{{photo.link|raw}}" title="{% if photo.titlealt=='' %}{{'title'}}{% endif %}{{ photo.titlealt|raw }}">
	    {% if photo.type=='v' %}
		<div class="sprite video_icon"></div>
	    {% endif %}
	    <img class="width-100" src="{{photo.img|raw}}" alt="{% if photo.titlealt=='' %}{{'title'}}{% endif %}{{ photo.titlealt|raw }}">
	</a>
	{% if is_owner==1 %}
	    <div class="row no-margin">
		<div class="col-xs-12 nopad">
		    <div class="right_floatet_container margin_top_10">
			<a href="javascript:" rel="nofollow" title="{{'edit'|trans}}" class="edit_bar_pic"><img class="" alt="edit" src="{{ generateMediaURL('/media/images/bag_new/blue_edit_logo.png') }}"></a>
			<a class="close_class data_media_remove" href="javascript:" rel="nofollow" title="{{'remove'|trans}}">X</a>
		    </div>
		</div>
	    </div>
	{% endif %}
    </div>
    {% if (loop.index%3)==0 %}
	<div class="clearfix visible-lg visible-md"></div>
    {% endif %}				
    {% if (loop.index%2)==0 %}
	<div class="clearfix visible-sm"></div>
    {% endif %}
{% endfor %}