<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="container">
	<div class="row">
		<div class="col-md-8 order-md-1">

			<div class="alert alert-warning" role="alert">
  				{{ form_errors(form.server_error_callback) }}
			</div>

			<form action="" method="POST" class="needs-validation" novalidate="">
				<h4 class="mb-3">Payment</h4>

				<div class="row">
				  <div class="col-md-6 mb-3">
				    <label for="cc-name">Name on card</label>
				    {{ form_widget(form.cardholder, {'attr': { 'class':'form-control'}})}}
					<small class="text-muted">Full name as displayed on card</small>
				    <div>
				      {{ form_errors(form.cardholder) }}
				    </div>
				  </div>
				  <div class="col-md-6 mb-3">
				    <label for="cc-number">Credit card number</label>
				    {{ form_widget(form.cardnumber, {'attr': { 'class':'form-control'}})}}
				    <div>
				      {{ form_errors(form.cardnumber) }}
				    </div>
				  </div>
				</div>
				<div class="row">
				  <div class="col-md-3 mb-3">
				    <label for="cc-expiration">Expiration</label>
				    {{ form_widget(form.card_expire_month, {'attr': { 'class':'form-control'}})}}
				    {{ form_widget(form.card_expire_year, {'attr': { 'class':'form-control'}})}}
				  </div>
				  <div class="col-md-3 mb-3">
				    <label for="cc-expiration">CVV</label>
				    {{ form_widget(form.cvv, {'attr': { 'class':'form-control'}})}}
				    <div>
				      {{ form_errors(form.cvv) }}
				    </div>
				  </div>
				</div>
				<hr class="mb-4">
				{# Token CSRF #}
				{{ form_widget(form._token) }}
				<button class="btn btn-primary btn-lg btn-block" type="submit">Pay</button>
			</form>
		</div>
	</div>
</div>
