{# app/Resources/views/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block pagenewcss %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.1.3/css/bootstrap-slider.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{{ asset("/assets/common/css/daterangepicker.min.css")|raw }}" >
    <link rel="stylesheet" type="text/css" href="{{ asset("/assets/common/css/indexNew.css")|raw }}" >
    <link rel="stylesheet" type="text/css" href="{{ asset("/assets/deals/css/deals1.css")|raw }}" >
{% endblock %}
{% block pagenewjs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.1.3/bootstrap-slider.js"></script>
    <script type="text/javascript" src="{{ asset("/assets/common/js/moment.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("/assets/common/js/jquery.daterangepicker.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("/assets/vendor/jquery/plugins/loading-overlay/gasparesganga/2.1.5/loadingoverlay.min.js")|raw }}"></script>
    <script type="text/javascript" src="{{ asset("/assets/common/js/indexNew.js")|raw }}"></script>
    <script type="text/javascript" src="{{ asset("/assets/deals/js/deals1.js")|raw }}"></script>
{% endblock %}
{% block body %}
    <section class="container">
        <ul class="nostylebutstyle">
	    <li class="col-lg-2 col-md-2 col-sm-4 hidden-xs">
		<a class="texttabs{{ (type is defined and type == 'tours') ? ' texttabsSelected'}}" href="{{tourURL|raw}}" title="{{'Tours'|trans}}">{{'Tours'|trans}}</a>
	    </li>
	    <li class="col-lg-2 col-md-2 col-sm-4 hidden-xs">
		<a class="texttabs{{ (type is defined and type == 'activities') ? ' texttabsSelected'}}" href="{{activityURL}}" title="{{'Activities'|trans}}">{{'Activities'|trans}}</a>
	    </li>
	    <li class="col-lg-2 col-md-2 col-sm-4 hidden-xs">
		<a class="texttabs{{ (type is defined and type == 'attractions') ? ' texttabsSelected'}}" href="{{attractionsURL}}" title="{{'attractions'|trans}}">{{'attractions'|trans}}</a>
	    </li>
        </ul>
        <div class="expand">
            <div class="col-xs-12 visible-xs text-allign-center">
                <img class="" src="/images/flecheup.png" alt="{{'flecheup'|trans}}">
                <button class="butcomonstyle" type="button">{{'Packages'|trans}}</button>
                <img class="" src="/images/flechedown.png" alt="{{'flechedown'|trans}}">
            </div>
        </div>

        <div class="allbutdiv">
            <div class="col-xs-12 visible-xs text-allign-center snddivbutstyle">
		<a class="texttabs{{ (type is defined and type == 'tours') ? ' texttabsSelected'}}" href="{{tourURL|raw}}" title="{{'Tours'|trans}}">{{'Tours'|trans}}</a>
		<a class="texttabs{{ (type is defined and type == 'activities') ? ' texttabsSelected'}}" href="{{activityURL}}" title="{{'Cruises'|trans}}">{{'Cruises'|trans}}</a>
		<a class="texttabs{{ (type is defined and type == 'attractions') ? ' texttabsSelected'}}" href="{{attractionsURL}}" title="{{'attractions'|trans}}">{{'attractions'|trans}}</a>
            </div>
        </div>
        <div class="col-xs-12">
            <p class="refinetitle">{{'Refine your search'|trans}}</p>
        </div>
        <div class="col-xs-12 nopad">
	    <form name="tourSearchForm" method="POST" action="" autocomplete="off">
		<div class="col-lg-3 col-md-3 col-sm-10 col-xs-12 nopad">
		    <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
			<div class="inputbox">
			    {% if citySearch %}
				<input type="text" name="dealNameSearch" value="{% if dealName is defined and dealName %}{{dealName}}{% endif %}" class="form-control searchdest" placeholder="{{'Search within'|trans}} {{city}}">
			    {% else %}
				<input type="text" name="location" id="" value="{{city}}" class="form-control searchdest" placeholder="{{'Search for your destination'|trans}}">
				{% if dealName is defined and dealName %}
				    <input name="dealName" type="hidden" value="{{ dealName }}">
				{% endif %}
			    {% endif %}
			</div>
		    </div>

		    <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 margin-but-15">
			<p class="prpp">{{'Price (per person)'|trans}}</p>
			<span id="priceSliderSpan"><input id="ex8" data-slider-id='ex1Slider' name="priceRange" type="text" data-slider-min="{{minPrice}}" data-slider-max="{{maxPrice}}" data-slider-step="10" data-slider-value="{% if result['priceRange'] is defined and result['priceRange'] %}[{{result['priceRange']}}]{% endif %}"/></span>
		    </div>

		    <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
			{% if citySearch %}
			    <input type="hidden" name="location" value="{{city}}" class="form-control">
			{% endif %}
			<div class="inputbox">
			    <input type="hidden" class="minPriceHidden" name="minPrice" value="{{minPrice}}" class="form-control">
			    <input type="hidden" class="maxPriceHidden" name="maxPrice" value="{{maxPrice}}" class="form-control">
			    <div class="price-convert"><input class="currency-convert-val" type="hidden" name="currency_code" value="{{ selected_currency|raw }}" /></div>
			    <input id="refineSearchSubmit" type="submit" name="refineSearchSubmit" value="{{'Search Now!!!'|trans}}" class="btn btn-default signup tourSubmit" />
			</div>
		    </div>
		</div>
	    </form>

	    <div id="dealListResults" class="col-lg-9 col-md-9 col-sm-12 col-xs-12 nopad section9martop5">
		<div class="col-xs-12">
		    <div class="section_header">
			<span class="section_title">
			    {% if city %}
				{% if dealName is defined and dealName %}
				    {{'ALL'|trans}} {{dealName|upper}} {{'Tours & Activities in'|trans}} {{city|upper}}
				{% else %}
				    {{(type == 'all') ? 'ALL Tours & Activities' : type |upper}} in {{city|upper}}
				{% endif %}
			    {% else %}
				{% if dealName is defined and dealName %}
				    {{'ALL'|trans}} {{dealName|upper}} {{'Tours & Activities'|trans}}
				{% else %}
				    {{'All available'|trans}} {{(type == 'all') ? 'Destinations' : type |upper}}
				{% endif %}
			    {% endif %}
			</span>
		    </div>
		</div>
		<input name="getLoadMoreURL" type="hidden" value="{{ generateLangRoute(LanguageGet,'_getSearchLoadMoreResults') }}">
		<input name="dealType" type="hidden" value="{{ type }}">
		<input name="langCode" type="hidden" value="{{ langCode }}">
		<input name="priority" type="hidden" value="{{ priority }}">
		<input name="hasSearch" type="hidden" value="{{ hasSearch }}">
		<input name="offset" type="hidden" value=0>
		{% if userMinPrice is defined and userMinPrice %}
		    <input name="minPrice"  class="minPriceHidden" type="hidden" value="{{ userMinPrice }}">
		{% endif %}
		{% if userMaxPrice is defined and userMaxPrice %}
		    <input name="maxPrice"  class="maxPriceHidden" type="hidden" value="{{ userMaxPrice }}">
		{% endif %}
		{% if dealName is defined and dealName %}
		    <input name="dealName" type="hidden" value="{{ dealName }}">
		{% endif %}
		{% if ( result['result'] is defined and result['result'] ) %}
		    <div id="searchResults">
			{% include "@Deal/deal/tour_search_load_more_results.twig" %}
		    </div>
		    {% if result['numRowsCnt'] is defined and result['numRowsCnt'] >= 20 %}
			<div id="loadMoreBtn" class="col-xs-12 nopad padtop20">
			    <div class="loadmore_dat">
				{{'load more'|trans}}
			    </div>
			</div>
		    {% endif %}
		{% endif %}
		<div class="hidden-xs">
		    <div class="col-xs-12">
			<p class="reasonsdeals">{{'Reasons to book with us'|trans}}</p>
			<p class="greytextdeals">{{'Applies to selected holidays. See our terms & Conditions'|trans}}</p>
		    </div>
		    <div class="col-xs-12">
			<ul class="dealsulreasons">
			    <li class="borderright">
				<p class="bigultext firstimgback">{{'Spread the cost'|trans}}</p>
				<p class="smalultxt">{{'with Direct Debit'|trans}}</p>
			    </li>
			    <li class="borderright">
				<p class="bigultext sndimgback">{{'Spread the cost'|trans}}</p>
				<p class="smalultxt">{{'with Direct Debit'|trans}}</p>
			    </li>
			    <li class="borderright">
				<p class="bigultext thrdimgback">{{'Spread the cost'|trans}}</p>
				<p class="smalultxt">{{'with Direct Debit'|trans}}</p>
			    </li>
			    <li class="mdmartopten">
				<p class="bigultext frthimgback">{{'Spread the cost'|trans}}</p>
				<p class="smalultxt">{{'with Direct Debit'|trans}}</p>
			    </li>
			</ul>
		    </div>
		</div>
	    </div>
	</div>
    </section>
{% endblock %}
