{% block pagenewcss %}
    {% stylesheets 'assets/vendor/bootstrap/css/bootstrap.css' 'assets/vendor/jquery/plugins/jquery-ui/css/jquery-ui-1.10.0.custom-new.css' 'assets/corporate/css/corporate-headerfooter.css' 'assets/vendor/jquery/plugins/fancybox/css/jquery.fancybox-new.css' 'assets/corporate/css/corporate-login.css' 'assets/corporate/admin/css/corporate-headerfooter.css' filter='uglifycss' %}
    <link rel="stylesheet" href="{{ asset_url }}" media="all"/>
    {% endstylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset("/css/forgot-password.css")|raw }}" >
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor/animate/3.2.0/animate.min.css')|raw }}"/>
{% endblock %}
{% block pagenewjs %}
    <script type="text/javascript" src="{{ asset('/assets/vendor/jquery/plugins/form_validator/validator.min.js')|raw }}"></script>
    <script type="text/javascript" src="{{ asset('/assets/common/tt/js/form/TTFormValidator.js')|raw }}"></script>
    <script type="text/javascript" src="{{ asset("/assets/corporate/js/corporate-forgot-password.js") }}"></script>
    <script type="text/javascript" src="{{ asset("/assets/hotels/js/hotel-booking-detail.js")|raw }}"></script>

{% endblock %}
{% block title %}{{'Login'|trans}}{% endblock %}
{% block body %}
    <section class="container corporateloginwhitecontainer corporate_container1">
        <div class="col-xs-12 nopad padding-left-27 smalpadleftz">
            <p class="requesttext">{{'Change your password on Tourist Tube.'|trans}}</p>
        </div>
	<form id="chgPassformId" method="POST" action="change-password">
	    <div class="col-xs-12 nopad padding-left-27 smalpadleftz">
		<div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
		    <p class="enternpas"><label id="oldPassword">{{'Old password'|trans}}</label></p>
		    <div class="inputbox">
			<input type="password" placeholder="{{'old password'|trans}}" name="OldPassword" id="OldPassword" class="form-control passwordstyleinput" required label="#oldPassword">
		    </div>
		</div>
	    </div>
	    <div class="col-xs-12 nopad padding-left-27 smalpadleftz">
		<div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
		    <p class="enternpas"><label id="newPassword">{{'Enter new password'|trans}}</label></p>
		    <div class="inputbox">
			<input type="password" placeholder="{{'new password'|trans}}" name="NewPassword" id="NewPassword" class="form-control passwordstyleinput" required label="#newPassword">
		    </div>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
		    <p class="italicwartext">{{'should be at least 8 characters long and must be a combination of letters and numbers'|trans}}</p>
		</div>
	    </div>
	    <div class="col-xs-12 nopad padding-left-27 smalpadleftz">
		<div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
		    <p class="enternpas"><label id="confirmPassword">{{'Confirm new password'|trans}}</label></p>
		    <div class="inputbox">
			<input type="password" placeholder="{{'new password'|trans}}" name="ConfirmNewPassword" id="ConfirmNewPassword" class="form-control passwordstyleinput" required label="#confirmPassword">
		    </div>
		</div>
	    </div>
	    <div class="col-xs-12 nopad padding-left-27 smalpadleftz">
		<div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
		    <input type="hidden" name="updateUrl" id="updateUrl" value="{{ path('_corporate_update_password') }}">
		    <input type="hidden" name="userId" id="userId" value="{{ userId }}">
		    <input type="hidden" name="encodedPass" id="encodedPass" value="{{ encodedPass }}">
		    <input type="hidden" name="saltPass" id="saltPass" value="{{ saltPass }}">
		    <input class="yellowreset" id="submit" name="submit" type="button" value="{{'change password'|trans}}">
		</div>
	    </div>
	</form>
	<div id="confirm_container_hide" class="col-xs-12">
	    <p class="resetpasssuccess">{{'Your password has been change successfully.'|trans}}</p>
	</div>
    </section>
{% endblock %}
