{% extends 'basecorporateFinal.html.twig' %}

{% block pagenewjs %}
{% endblock %}
{% block title %}{{'List Of Affiliates - Edit/Add'|trans}}{% endblock %}
{% block body %}
    <section class="container corporate_common_new_container">
        <div class="row no-margin">
            <div class="col-xs-12 nopad">
                <div class="row no-margin margin_top_20 margin_bottom_40">
                    <div class="col-xs-12 nopad">
                        <h1 class="search_title"><span class="circlimg_arrow"><i class="fas fa-angle-right"></i></span>{{'List Of Affiliates'|trans}} / <span class="add_edit">add/edit</span></h1>
                    </div>
                </div>
                <div class="row no-margin bordered_row"></div>
            </div>
            <div class="col-lg-10 col-xs-12 nopad margin_top_40">
                <div class="row corporate_small_row_margin">
                    <div class="col-md-4 col-sm-6 col-xs-12 corporate_small_col_padding lofaff">
                        <label class="form-check-label">{{'Name'|trans}}</label>
                        <input type="text" class="col-xs-12" name="" value="" placeholder="{{'Name'|trans}}">
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 corporate_small_col_padding lofaff">
                        <label class="form-check-label">{{'Country'|trans}}</label>
                        <input type="text" class="col-xs-12" name="" value="" placeholder="{{'Country'|trans}}">
                    </div>
		    <div class="clearfix visible-sm"></div>
                    <div class="col-md-4 col-sm-6 col-xs-12 corporate_small_col_padding lofaff">
                        <label class="form-check-label">{{'City'|trans}}</label>
                        <input type="text" class="col-xs-12" name="" value="" placeholder="{{'City'|trans}}">
                    </div>
		    <div class="clearfix visible-lg visible-md"></div>
                    <div class="col-md-4 col-sm-6 col-xs-12 corporate_small_col_padding lofaff">
                        <label class="form-check-label">{{'Mobile'|trans}}</label>
                        <input type="text" class="col-xs-12" name="" value="" placeholder="{{'Mobile'|trans}}">
                    </div>
		    <div class="clearfix visible-sm"></div>
                    <div class="col-md-4 col-sm-6 col-xs-12 corporate_small_col_padding lofaff">
                        <label class="form-check-label">{{'Phone1'|trans}}</label>
                        <input type="text" class="col-xs-12" name="" value="" placeholder="{{'Phone'|trans}}">
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 corporate_small_col_padding lofaff">
                        <label class="form-check-label">{{'Phone2'|trans}}</label>
                        <input type="text" class="col-xs-12" name="" value="" placeholder="{{'Phone'|trans}}">
                    </div>
		    <div class="clearfix visible-lg visible-md"></div>
		    <div class="clearfix visible-sm"></div>
                    <div class="col-md-4 col-sm-6 col-xs-12 corporate_small_col_padding lofaff">
                        <label class="form-check-label">{{'Address'|trans}}</label>
                        <input type="text" class="col-xs-12" name="" value="" placeholder="{{'Address'|trans}}">
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 corporate_small_col_padding lofaff">
                        <label class="form-check-label">{{'Email'|trans}}</label>
                        <input type="text" class="col-xs-12" name="" value="" placeholder="{{'Email address'|trans}}">
                    </div>
		    <div class="clearfix visible-sm"></div>
                    <div class="col-md-4 col-sm-6 col-xs-12 corporate_small_col_padding lofaff">
                        <label class="form-check-label">{{'Website'|trans}}</label>
                        <input type="text" class="col-xs-12" name="" value="" placeholder="{{'www.touristtube.com'|trans}}">
                    </div>
                </div>
                <div class="row corporate_small_row_margin">
                    <div class="col-xs-12 corporate_small_col_padding margin_top_20">
			<a class="back_grey" href="{{ generateLangRoute(LanguageGet,'_corpo_users') }}" title="{{'Back'|trans}}">{{'Back'|trans}}</a>
                        <button type="button" class="btn submit_yellow">{{'Submit'|trans}}</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
