{% extends 'basecorporate.html.twig' %}

{% block pagenewcss %}
    <link rel="stylesheet" type="text/css" href="{{ asset("/assets/corporate/css/corporate-deals-common-header.css")|raw }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("/assets/corporate/css/corporate-activities-and-deals.css")|raw }}"/>
{% endblock %}
{% block body %}
    <section class="container corporateloginwhitecontainer corporate_container1">
        <div class="col-xs-12 nopad">
            {% include '@Corporate/corporate/corporate-deals-common-header.twig' %}
        </div> 

        {% if destinations is defined and destinations|length %} 
            <div class="containerTops">
                <div class="col-xs-12">
                    <h2 class="section_header marginbottom0">
                        <span class="destinations_title">{{'Top Destinations'|trans}} | </span>
                        <span class="destinations_subtitle">{{'DISCOVER GREAT ACTIVITIES JUST A CLICK AWAY'|trans}}</span>
                    </h2>
                </div>
                {% for item in destinations %}
                    {% if  isMobile == 1  and (loop.index == 1 or loop.index == 5 or loop.index == 9) %}
                        <div class="col-xs-12">
                        {% endif %}
                        <a class="col-lg-3 col-md-3 col-sm-6 col-xs-6 xsnewstyle100p overlayedbackground" href="{{item.link|raw}}" title="{{item.name|raw}}">
                            {% if item.img is defined and item.img is not null %}
                                <img src="{{item.img|raw}}" alt="{{item.name|raw}}">
                            {% else %}
                                <img src="{{ generateMediaURL('/media/images/deals/default.jpg') }}" alt="{{item.name|raw}}">
                            {% endif %}
                            <div class="overblackbaack"> 
                                <p class="citytextoveerlay">{{item.name|raw}}</p>
                                <div class="desctextoveerlay_content">
                                    <span class="desctextoveerlay">{{item.tours_number|raw}} {{'TOURS AND ACTIVITIES'|trans}}</span>
                                </div>
                            </div>
                        </a>
                        {% if isMobile == 1  and (loop.index == 4 or loop.index == 8 or loop.index == 12) %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %} 


        {% if attractions is defined and attractions|length %}
            <div class="containerTops containerTopsAttractions">
                <div class="col-xs-12">
                    <h2 class="section_header marginbottom0">
                        <span class="destinations_title">{{'Top Attractions'|trans}}</span>
                    </h2>
                </div>
                {% for item in attractions %}
                    <a class="col-lg-3 col-md-3 col-sm-6 col-xs-6 xsnewstyle100p overlayedbackground" href="{{item.link|raw}}" title="{{item.name|raw}}">
                        <img src="{{item.img|raw}}" alt="{{item.name|raw}}">
                        <div class="overblackbaack"> 
                            <p class="citytextoveerlay citytextoveerlay_attractions">{{item.name|raw}}</p>
                            <div class="desctextoveerlay_content"> 
                                <span class="desctextoveerlay">{{item.tours_number|raw}} {{'TOURS AND ACTIVITIES'|trans}}</span>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
            {#<div class="containerTops containerTopsAttractions">
                <div class="col-xs-12">
                    <h2 class="section_header marginbottom0">
                        <span class="destinations_title">{{'Top Attractions'|trans}}</span>
                    </h2>
                </div>
                {% set linkSize = (attractions|length > 1) ? 'col-lg-3 col-md-3 col-sm-4 col-xs-4' : 'col-lg-7 col-md-8 col-sm-7 col-xs-6' %}
                {% for item in attractions %}
                    <a class="{{linkSize}} xsnewstyle100p overlayedbackground" href="{{ generateLangURL(LanguageGet,'/dealSearch-attractions-'~item.cityName~'-1') }}" title="{{item.cityName|raw}}">
                        <img src="{{ generateMediaURL('/media/images/deals/attractions/louvre.jpg') }}" alt="{{item.cityName|raw}}">
                        <div class="overblackbaack"> 
                            <p class="citytextoveerlay citytextoveerlay_attractions">{{item.cityName|raw}}</p>
                            <div class="desctextoveerlay_content"> 
                                <span class="desctextoveerlay">{{item.numOfResults|raw}} {{'TOURS AND ACTIVITIES'|trans}}</span>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>#}
        {% endif %} 


        {% if deals is defined and deals|length %}
            {#<div class="containerTops containerTopsAttractions">
                <div class="col-xs-12">
                    <h2 class="section_header marginbottom0">
                        <span class="destinations_title">{{'Top Deals'|trans}}</span>
                    </h2>
                </div>
                {% for item in deals %}
                    <a class="col-lg-3 col-md-3 col-sm-4 col-xs-4 xsnewstyle100p overlayedbackground" href="{{item.link|raw}}" title="{{item.name|raw}}">
                        <img src="{{item.img|raw}}" alt="{{item.name|raw}}">
                        <div class="deal_txt_content"> 
                            <div class="deal_stars_content">{{'Special deal: up to 8% off'|trans}}<span class="deal_stars"><img title="{{'deal stars'|trans}}" src="{{ generateMediaURL('/media/images/d_rating4.png') }}"></span></div>
                            <div class="deal_gray_content">
                                <p class="deal_gray_title">{{'Eiffel Tower 2nd Floor or Summit <br>skip the line ticket with a host'|trans|raw}}</p>
                                <p class="deal_gray_txt deal_gray_location">Paris, France</p>
                                <p class="deal_gray_txt deal_gray_price">{{'From:'|trans}} <b>US$ 41.21</b></p>
                                <p class="deal_gray_txt">{{'30 minutes'|trans}}</p>
                            </div>			
                        </div>
                    </a>
                {% endfor %}
            </div>#}
            <div class="containerTops containerTopsAttractions">
                <div class="col-xs-12">
                    <h2 class="section_header marginbottom0">
                        <span class="destinations_title">{{'Top Deals'|trans}}</span>
                    </h2>
                </div>
                {% for item in deals %}
                    {% if  isMobile == 1  and (loop.index == 1 or loop.index == 5 or loop.index == 9) %}
                        <div class="col-xs-12">
                        {% endif %}
                        <a class="col-lg-3 col-md-3 col-sm-6 col-xs-6 xsnewstyle100p overlayedbackground" href="{{ generateLangURL(LanguageGet,'/tourDetails-'~item.packageId) }}" title="{{item.dealName|raw}}">
                            <img src="{{ item.imagePath|raw }}" alt="{{item.dealName|raw}}">
                            <div class="deal_txt_content"> 
                                <div class="deal_stars_content">{{'Special deal: up to 8% off'|trans}}<span class="deal_stars"><img title="{{'deal stars'|trans}}" src="{{ generateMediaURL('/media/images/d_rating4.png') }}"></span></div>
                                <div class="deal_gray_content">
                                    <p class="deal_gray_title">
                                        {% if item.dealNameTrans is defined and item.dealNameTrans %}
                                            {{item.dealNameTrans|raw}}
                                        {% else %}
                                            {{item.dealName|raw}}
                                        {% endif %}
                                    </p>
                                    <p class="deal_gray_txt deal_gray_location">{{item.cityName|raw}}, {{item.countryName|raw}}</p>
                                    <p class="deal_gray_txt deal_gray_price"><b>{{item.currency|raw}} {{item.priceBeforePromo|raw}}</b></p>
                                    <p class="deal_gray_txt">{{item.durationText|raw}}</p>
                                </div>			
                            </div>
                        </a>
                        {% if isMobile == 1 and (loop.index == 4 or loop.index == 8 or loop.index == 12) %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </section>
{% endblock %}