{% extends 'basecorporate.html.twig' %}

{% block pagenewcss %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.1.3/css/bootstrap-slider.css"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("/assets/corporate/css/booking_steps.css")|raw }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("/assets/corporate/css/corporate-flight_theme"~corporate_theme~".css")|raw }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("/assets/corporate/css/corporate-flightandmenue.css")|raw }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("/assets/vendor/jquery/plugins/swiper/3.2.6/css/swiper.min.css")|raw }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("/assets/corporate/css/corporate-departure-flight.css")|raw }}"/>
{% endblock %}
{% block pagenewjs %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.1.3/bootstrap-slider.js"></script>
    <script type="text/javascript" src="{{ asset("/assets/flights/js/isotope.pkgd.min.js")|raw }}"></script>
    <script type="text/javascript" src="{{ asset("/assets/corporate/js/corporate-flightandmenue.js")|raw }}"></script>
    <script type="text/javascript" src="{{ asset("/assets/vendor/jquery/plugins/swiper/3.2.6/js/swiper.min.js")|raw }}"></script>
    <script type="text/javascript" src="{{ asset("/assets/corporate/js/corporate-departure-flight.js")|raw }}"></script>
{% endblock %}
{% block title %}{{'Arrival Flight'|trans}}{% endblock %}
{% block body %} 
    {% set booking_steps=4 %}
    {% set page_menu_name = 'flights' %}
    <section class="container corporate_container1">
        <div class="col-xs-12 nopad">
            <div class="row rowspecialstyle">
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 nopad leftmenuebackcolor_corp borderrightgrey_corpfl">
                    <div class="col-xs-12 marbut10_corp nopad">
                        <img class="width100" src="{{ generateMediaURL('/media/images/corporate/empty.png') }}" alt="{{'title'}}"/>
                        <div class ="absoluteindiv {{page_menu_logo|raw}}">
                            <p class="textunimg_corp">{{page_menu_name|trans|capitalize }}</p>
                        </div>
                        <img id="xsdropdown_corp" class="dropdownliststyle_corp" src="{{ generateMediaURL('/media/images/corporate/dropdownxs_corp.png') }}" alt="{{'title'}}"/>
                    </div>
                    <div id="leftmenuecorpcontainerxs" class="col-xs-12 nopad">
                        <div class="col-xs-12 nopad leftmeuedfcstyle">
                            <div class="col-xs-12 nopad">
                                <p class="leftmenueheaderdeptxt_dfc">{{'Departure time'|trans}}</p>
                            </div>
                            <div class="col-xs-12 nopad">
                                <ul class="col-xs-12 nopad tablelistcontainer">
                                    <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3 nopad nlb ntb">0:00</li>
                                    <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3 nopad nlb ntb">6:00</li>
                                    <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3 nopad nlb ntb">12:00</li>
                                    <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3 nopad nlb ntb nrb">18:00</li>
                                    <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3 nopad nlb ntb nbb">6:00</li>
                                    <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3 nopad nlb ntb nbb">12:00</li>
                                    <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3 nopad nlb ntb nbb">18:00</li>
                                    <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3 nopad nlb ntb nbb nrb">24:00</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 nopad leftmeuedfcstyle">
                            <div class="col-xs-12 nopad">
                                <p class="leftmenueheaderdeptxt_dfc">{{'Arrival time'|trans}}</p>
                            </div>
                            <div class="col-xs-12 nopad">
                                <ul class="col-xs-12 nopad tablelistcontainer">
                                    <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3 nopad nlb ntb">0:00</li>
                                    <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3 nopad nlb ntb">6:00</li>
                                    <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3 nopad nlb ntb">12:00</li>
                                    <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3 nopad nlb ntb nrb">18:00</li>
                                    <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3 nopad nlb ntb nbb">6:00</li>
                                    <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3 nopad nlb ntb nbb">12:00</li>
                                    <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3 nopad nlb ntb nbb">18:00</li>
                                    <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3 nopad nlb ntb nbb nrb">24:00</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 nopad leftmeuedfcstyle">
                            <div class="col-xs-12 nopad">
                                <p class="leftmenueheaderdeptxt_dfc">{{'Departure airport'|trans}}</p>
                            </div>
                            <div class="col-xs-12 nopad">
                                <div class="checkbox">
                                    <input id="" class="checkboxinput_dfc" value="" name="" type="checkbox"><label for="" class="checkboxlabel_dfc">{{'DXB Dubai International Airport'|trans}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 nopad leftmeuedfcstyle">
                            <div class="col-xs-12 nopad">
                                <p class="leftmenueheaderdeptxt_dfc">{{'Departure airport'|trans}}</p>
                            </div>
                            <div class="col-xs-12 nopad">
                                <div class="checkbox">
                                    <input id="" class="checkboxinput_dfc" value="" name="" type="checkbox"><label for="" class="checkboxlabel_dfc">{{'BEY Rafic Hariri International'|trans}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 nopad leftmeuedfcstyle">
                            <div class="col-xs-12 nopad">
                                <p class="leftmenueheaderdeptxt_dfc">{{'Airline'|trans}}</p>
                            </div>
                            <div class="col-xs-12 nopad">
                                <div class="checkbox">
                                    <input id="" class="checkboxinput_dfc" value="" name="" type="checkbox"><label for="" class="checkboxlabel_dfc">{{'Emirates'|trans}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 nopad leftmeuedfcstyle">
                            <div class="col-xs-12 nopad">
                                <p class="leftmenueheaderdeptxt_dfc">{{'Stopover Duration'|trans}}</p>
                            </div>
                            <div class="col-xs-12 nopad">
                                <div class="checkbox">
                                    <input id="" class="checkboxinput_dfc" value="" name="" type="checkbox"><label for="" class="checkboxlabel_dfc">{{'Less than 4 hrs'|trans}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 nopad leftmeuedfcstyle">
                            <div class="col-xs-12 nopad">
                                <p class="leftmenueheaderdeptxt_dfc">{{'Class'|trans}}</p>
                            </div>
                            <div class="col-xs-12 nopad">
                                <div class="radiobox">
                                    <div class="col-xs-12 nopad marbut2radio">
                                        <input id="" class="radioinput_dfc" value="" name="" type="radio"><label for="" class="radiolabel_dfc">{{'Economy'|trans}}</label>
                                    </div>
                                    <div class="col-xs-12 nopad marbut2radio">
                                        <input id="" class="radioinput_dfc" value="" name="" type="radio"><label for="" class="radiolabel_dfc">{{'Premium economy'|trans}}</label>
                                    </div>
                                    <div class="col-xs-12 nopad marbut2radio">
                                        <input id="" class="radioinput_dfc" value="" name="" type="radio"><label for="" class="radiolabel_dfc">{{'Business'|trans}}</label>
                                    </div>
                                    <div class="col-xs-12 nopad marbut2radio">
                                        <input id="" class="radioinput_dfc" value="" name="" type="radio"><label for="" class="radiolabel_dfc">{{'First'|trans}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 nopad leftmeuedfcstyle">
                            <div class="col-xs-12 nopad">
                                <p class="leftmenueheaderdeptxt_dfc">{{'Passenger type'|trans}}</p>
                            </div>
                            <div class="col-xs-12 nopad">
                                <div class="radiobox">
                                    <div class="col-xs-12 nopad marbut2radio">
                                        <input id="" class="radioinput_dfc" value="" name="" type="radio"><label for="" class="radiolabel_dfc">{{'Normal'|trans}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-10 col-sm-8 col-xs-12 nopad contentbackcolor_corp paddingcontainer10">
                    {#<div class="col-xs-12 nopad">
                        <h2 class="makebooktitle_dfc">{{'Make a booking:'|trans}}</h2>
                    </div>#}
                    <div class="col-xs-12 nopad">
                        {% include '@Corporate/corporate/booking_steps.twig' %}
                    </div>
                    <div id="toggledcontainersearch" class="col-xs-12 nopad">
                        <div class="col-xs-12 nopad">
                            <h3 class="searchsubtitle_dfc">{{'Your search:'|trans}}</h3>
                        </div>
                        <div class="col-xs-12 nopad paddingtop35_dfc">
                            <ul class="searchcomponentslist_dfc">
                                <li class="">
                                    <div class="firstsectioncontainer_dfc">
                                        <p class="fromtextli_dfc">{{'FROM'|trans}}</p>
                                        <p class="citynameli_dfc">{{'Beirut'|trans}}</p>
                                    </div>
                                    <img class="fromtologo_dfc" src="{{ generateMediaURL('/media/images/corporate/fromtologo_dfc.png') }}" alt="{{'fromtologo_dfc'|trans}}"/>
                                    <div class="firstsectioncontainer_dfc">
                                        <p class="fromtextli_dfc">{{'TO'|trans}}</p>
                                        <p class="citynameli_dfc">{{'Dubai'|trans}}</p>
                                    </div>
                                </li>
                                <li class="lipadxs"><img class="borderlistgreysearch_dfc" src="{{ generateMediaURL('/media/images/corporate/borderlistgreysearch_dfc.png') }}" alt="{{'borderlistgreysearch_dfc'|trans}}"/></li>
                                <li class="">
                                    <div class="firstsectioncontainer_dfc">
                                        <p class="fromtextli_dfc">{{'DEPARTING'|trans}}</p>
                                        <p class="citynameli_dfc">1 Jan 2018</p>
                                    </div>
                                </li>
                                <li class="lipadxs"><img class="borderlistgreysearch_dfc" src="{{ generateMediaURL('/media/images/corporate/borderlistgreysearch_dfc.png') }}" alt="{{'borderlistgreysearch_dfc'|trans}}"/></li>
                                <li class="">
                                    <div class="firstsectioncontainer_dfc">
                                        <p class="fromtextli_dfc">{{'RETURNING'|trans}}</p>
                                        <p class="citynameli_dfc">10 Jan 2018</p>
                                    </div>
                                </li>
                                <li class="lipadxs"><img class="borderlistgreysearch_dfc" src="{{ generateMediaURL('/media/images/corporate/borderlistgreysearch_dfc.png') }}" alt="{{'borderlistgreysearch_dfc'|trans}}"/></li>

                                <li class="martop10smxs">
                                    <div class="firstsectioncontainer_dfc">
                                        <p class="fromtextli_dfc">{{'CLASS'|trans}}</p>
                                        <p class="citynameli_dfc">{{'Economy'|trans}}</p>
                                    </div>
                                </li>
                                <li class="martop10smxs lipadxs"><img class="borderlistgreysearch_dfc" src="{{ generateMediaURL('/media/images/corporate/borderlistgreysearch_dfc.png') }}" alt="{{'borderlistgreysearch_dfc'|trans}}"/></li>
                                <li class="martop10smxs">
                                    <div class="firstsectioncontainer_dfc">
                                        <p class="fromtextli_dfc">{{'PASSENGERS'|trans}}</p>
                                        <p class="citynameli_dfc">{{'1 Adult'|trans}}</p>
                                    </div>
                                </li>
                                <li class="martop10smxs lipadxs"><img class="borderlistgreysearch_dfc" src="{{ generateMediaURL('/media/images/corporate/borderlistgreysearch_dfc.png') }}" alt="{{'borderlistgreysearch_dfc'|trans}}"/></li>
                                <li class="martop10smxs">
                                    <div class="butchangesearchcontainer_dfc changeSearch">
                                        <p class="changesearchbut-dfc">{{'change search'|trans}}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>        
                    </div>
                    <div class="col-xs-12 nopad">
                        <div class="searchButtonsUpdate cancelSearch">{{'cancel'|trans}}</div>
                    </div>
                    <div class="col-xs-12 nopad formsearch">		    	
                        {#{% include '@Corporate/corporate/flight-form.twig' %}#}
                    </div>
                    <div class="col-xs-12 nopad bordertopgrey-dfc"></div>

                    <div class="col-xs-12 nopad">
                        <p class="floadtright changecurbut-dfc">{{'Change currency'|trans}}</p>
                        <p class="floadtright leftbuttextprices-dfc">{{'You are viewing prices in USD. You can change currency from here'|trans}}</p>
                    </div>
                    <div class="col-xs-12 nopad bordertopgrey-dfc margintopz-dfc"></div>
                    
                    <div class="col-xs-12 nopad">
                        <p class="lefttextwizback_dfc">{{'Lowest price for all passengers'|trans}}<br><span>{{'USD 579'|trans}}</span></p>
                        <p class="righttextsmalwidth-dfc">{{'This price is the lowest available price combination for your selected dates. Look for the lowest price indicator in the results 
                            below to get this price. All prices below include airfare, taxes, fees and carrier-imposed charges for 1 passenger (1 adult).'|trans}}</p>
                    </div>
                    {#<div class="col-xs-12 nopad">
                        <p class="greybuttextwp_dfc">{{'All times displayed are local for each city.'|trans}}</p>
                        <p class="greybuttextwa_dfc"><span>{{'Please ensure you read the'|trans}}</span> <a href="#">{{'fare conditions'|trans}}</a> <span>{{'at the bottom before selecting your flights.'|trans}}</span></p>
                    </div>#}
                    <div class="col-xs-12 nopad allcontainersbackground">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 nopad leftcontainer_dfc">
                            <p class="lefttextdep">{{'BEY'|trans}}</p>
                            <img class="bmiddletextimg" src="{{ generateMediaURL('/media/images/corporate/logoleftarrow_dfc.png') }}" alt="{{'logoleftarrow_dfc'|trans}}"/>
                            <p class="righttextarrival">{{'DXB'|trans}}</p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 nopad centercontainer_dfc">
                            <p class="lefttextdep marginperc">{{'BEY'|trans}}</p>
                            <img class="bmiddletextimg" src="{{ generateMediaURL('/media/images/corporate/logorightarrow_dfc.png') }}" alt="{{'logoleftarrow_dfc'|trans}}"/>
                            <p class="righttextarrival">{{'DXB'|trans}}</p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 nopad  rightcontainer_dfc">
                            <p class="rightdivlefttext">{{'Subtotal:'|trans}}</p>
                        </div>
                    </div>
                    <div class="col-xs-12 nopad allcontainersbackground_afc">
                        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 nopad leftcontainer_afc">
                            <h1 class="titledynamicline_afc"><span class="imgtitlewizbar"><img class="" src="{{ generateMediaURL('/media/images/corporate/titleplane_dfc.png') }}" alt="{{'titleplane_dfc'|trans}}"/></span><span class="blacktxttitlewizbar">{{'Departure'|trans}}</span><span class="bartitlewizbar">|</span><p><span class="greytxttitlewizbar">{{'Beirut to Dubai'|trans}}</span><br><span class="blacundertxt_afc">{{'Monday, 1 January 2018'|trans}}</span><p></h1>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 nopad centercontainer_afc">
                            <img class="sndimg_afc" src="{{ generateMediaURL('/media/images/corporate/sndimg_afc.png') }}" alt="{{'sndimg_afc'|trans}}"/>
                            <div class="floatingrightnexttoimg">
                                <p class="righttoimgtextone">{{'Emirates'|trans}}</p>
                                <p class="righttoimgtexttwo">11:25 BEy - 17:15 DXB</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 nopad  rightcontainer_afc">
                            <p class="commonroghtdivtext_afc fl_afc">{{'Nonstop:'|trans}}</p>
                            <p class="commonroghtdivtext_afc fr_afc textund_afc">{{'Modifiy:'|trans}}</p>
                        </div>
                    </div>


                    <div class="col-xs-12 nopad">      
                        <h1 class="titledynamicline"><span class="imgtitlewizbar"><img class="" src="{{ generateMediaURL('/media/images/corporate/titleplane_dfc.png') }}" alt="{{'titleplane_dfc'|trans}}"/></span><span class="blacktxttitlewizbar">{{'Return'|trans}}</span><span class="bartitlewizbar">|</span><span class="greytxttitlewizbar">{{'Beirut to Dubai'|trans}}</span></h1>
                    </div>
                    <div class="col-xs-12 nopad margintop20"> 
                        <p class="datelefttextday_dfc">{{'Monday, 1 January 2018'|trans}}</p>
                        <div class="pagingdayfloatright">
                            <ul class="paginationlist-dfc">
                                <li><span><img class="ppt_dfc" src="{{ generateMediaURL('/media/images/corporate/ppt_dfc.png') }}" alt="{{'ppt_dfc'|trans}}"/></span>{{'Previous day'|trans}}</li>
                                <li class="separatorulpage">|</li>
                                <li>{{'Next day'|trans}}<span><img class="pgd_dfc" src="{{ generateMediaURL('/media/images/corporate/pgd_dfc.png') }}" alt="{{'pgd_dfc'|trans}}"/></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 nopad"> 
                        <div class="successstory-wrapper">
                            <div class="swiper-container-ss s1 swiper-container-horizontal">
                                <div class="swiper-wrapper nav nav-tabs">
                                    <div data-target="1" class="swiper-slide first_trigger_li">
                                        <img class="img-responsive" src="{{ generateMediaURL('/media/images/corporate/kwaitairlogo_dfc.png') }}" alt="{{'kwaitairlogo_dfc'|trans}}" />
                                        <p class="firsttextimgswiper_dfc">{{'All Airlines'|trans}}</p>
                                        <p class="pricetextimgswiper_dfc">{{'From USD'|trans}}</p>
                                        <p class="pricenumbimgswiper_dfc">{{'317'|trans}}</p>
                                    </div>
                                    <div data-target="2" class="swiper-slide">
                                        <img class="img-responsive" src="{{ generateMediaURL('/media/images/corporate/cedre_dfc.png') }}" alt="{{'cedre_dfc'|trans}}" />
                                        <p class="firsttextimgswiper_dfc">{{'Middles East Airlines'|trans}}</p>
                                        <p class="pricetextimgswiper_dfc">{{'From USD'|trans}}</p>
                                        <p class="pricenumbimgswiper_dfc">{{'377'|trans}}</p>
                                    </div>
                                    <div data-target="3" class="swiper-slide">
                                        <img class="img-responsive" src="{{ generateMediaURL('/media/images/corporate/flydubailogo_dfc.png') }}" alt="{{'flydubailogo_dfc'|trans}}" />
                                        <p class="firsttextimgswiper_dfc">{{'Flydubai'|trans}}</p>
                                        <p class="pricetextimgswiper_dfc">{{'From USD'|trans}}</p>
                                        <p class="pricenumbimgswiper_dfc">{{'392'|trans}}</p>
                                    </div>
                                    <div data-target="4" class="swiper-slide">
                                        <img class="img-responsive" src="{{ generateMediaURL('/media/images/corporate/gulfairlogo_dfc.png') }}" alt="{{'gulfairlogo_dfc'|trans}}" />
                                        <p class="firsttextimgswiper_dfc">{{'Gulf Air'|trans}}</p>
                                        <p class="pricetextimgswiper_dfc">{{'From USD'|trans}}</p>
                                        <p class="pricenumbimgswiper_dfc">{{'452'|trans}}</p>
                                    </div>
                                    <div data-target="5" class="swiper-slide">
                                        <img class="img-responsive" src="{{ generateMediaURL('/media/images/corporate/kwaitairlogo_dfc.png') }}" alt="{{'kwaitairlogo_dfc'|trans}}" />
                                        <p class="firsttextimgswiper_dfc">{{'Kuwait Airways'|trans}}</p>
                                        <p class="pricetextimgswiper_dfc">{{'From USD'|trans}}</p>
                                        <p class="pricenumbimgswiper_dfc">{{'496'|trans}}</p>
                                    </div>
                                    <div data-target="6" class="swiper-slide">
                                        <img class="img-responsive" src="{{ generateMediaURL('/media/images/corporate/royaljord_dfc.png') }}" alt="{{'oyaljord_dfc'|trans}}" />
                                        <p class="firsttextimgswiper_dfc">{{'Royal Jordanian'|trans}}</p>
                                        <p class="pricetextimgswiper_dfc">{{'From USD'|trans}}</p>
                                        <p class="pricenumbimgswiper_dfc">{{'416'|trans}}</p>
                                    </div>
                                </div>
                            </div>
                            <a class="swiper-button-ss-prev"></a>
                            <a class="swiper-button-ss-next"></a>
                        </div>
                    </div>
                    <div class="col-xs-12 nopad margintop40"> 
                        <div class="col-lg-5 col-md-4 col-sm-12 col-xs-12 nopad leftfiltersection_dfc"> 
                            <p class="lefttextfilter_dfc"> {{'Filter:'|trans}}<span>{{'Show all flights'|trans}}</span><img class="filterlogolleftimg" src="{{ generateMediaURL('/media/images/corporate/filterlogolleftimg.png') }}" alt="{{'filterlogolleftimg'|trans}}" /></p>
                            <p class="rightbluetextfilter">Sort by:</p>
                        </div>
                        <div class="col-lg-7 col-md-8 col-sm-12 col-xs-12 nopad margintopsm"> 
                            <ul class="filterrightul">
                                <li class="">{{'Recommended'|trans}}</li>
                                <li class="">{{'Price'|trans}}</li>
                                <li class="">{{'Arrival time'|trans}}</li>
                                <li class="">{{'Departure time'|trans}}</li>
                                <li class="">{{'Duration'|trans}}</li>
                                <li class="">{{'Miles earned'|trans}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 nopad allcontainerstyle-dfc">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 nopad leftcontsearchborder">
                            <div class="col-lg-4 col-md-3 col-sm-4 col-xs-4 nopad smalfnsnleftcontainer">
                                <p class="floatingrighttextwimg"><span>{{'B777'|trans}}</span><br>{{'EK958'|trans}}</p>
                                <img class="rightfloatingtextsearchiimg_dfc" src="{{ generateMediaURL('/media/images/corporate/rightfloatingtextsearchiimg_dfc.png') }}" alt="{{'rightfloatingtextsearchiimg_dfc'|trans}}" />
                                <p class="absolutelefttextblack">{{'01'|trans}}</p>
                            </div>
                            <div class="col-lg-8 col-md-9 col-sm-8 col-xs-8 nopad bigrightcontainerstyleout">
                                <div class="bigrightcontainerstylein">
                                    <div class="width30">
                                        <div class="textcontainer">
                                            <p class="destinationupblack">{{'BEY'|trans}}<br><span class="timedwnblack">{{'12:05'|trans}}</span></p>
                                        </div>
                                    </div>
                                    <div class="width40">
                                        <div class="twotextwzimgcontainer">
                                            <p class="treesectiontextndimg">{{'3 hrs 25 mins'|trans}}<br><span><img class="planedeparrimg" src="{{ generateMediaURL('/media/images/corporate/planedeparrimg.png') }}" alt="{{'planedeparrimg'|trans}}" /></span><br><span class="nonstopunderlined">{{'Non-stop'|trans}}</span></p>
                                        </div>
                                    </div>
                                    <div class="width30">
                                        <div class="textcontainer">
                                            <p class="destinationupblack newrightstyletext">{{'DXB'|trans}}<br><span class="timedwnblack">{{'17:30'|trans}}</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 nopad rightcontainerssmal">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 newpadforcontainers">
                                <div class="rightsmalforcontainers borderforcontainer">
                                    <p class="centerredfordivstexts">{{'From USD'|trans}}<br><span class="firstspandfc">{{'319.40'|trans}}</span><br><span class="sndspandfc">{{'Lowest price'|trans}}</span><br><span class="thirdspandfc economyclick_dfc"><img class="bluearrowdowndfc" src="{{ generateMediaURL('/media/images/corporate/bluearrowdowndfc.png') }}" alt="{{'bluearrowdowndfc'|trans}}" /></span></p>
                                    <p class="bluetopabstext">{{'Economy'|trans}}</p>
                                    <img class="bordertoplogo-dfc" src="{{ generateMediaURL('/media/images/corporate/bordertoplogo-dfc.png') }}" alt="{{'bordertoplogo-dfc'|trans}}" />
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 newpadforcontainers">
                                <div class="rightsmalforcontainers borderforcontainer">
                                    <p class="centerredfordivstexts">{{'From USD'|trans}}<br><span class="firstspandfc">{{'1,108.40'|trans}}</span><br><span class="sndspandfc">{{'Lowest price'|trans}}</span><br><span class="thirdspandfc"><img class="bluearrowdowndfc" src="{{ generateMediaURL('/media/images/corporate/bluearrowdowndfc.png') }}" alt="{{'bluearrowdowndfc'|trans}}" /></span></p>
                                    <p class="bluetopabstext">{{'Business'|trans}}</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 newpadforcontainers">
                                <div class="rightsmalforcontainers borderforcontainer">
                                    <p class="centerredfordivstexts">{{'From USD'|trans}}<br><span class="firstspandfc">{{'2,080.00'|trans}}</span><br><span class="sndspandfc">{{'Lowest price'|trans}}</span><br><span class="thirdspandfc"><img class="bluearrowdowndfc" src="{{ generateMediaURL('/media/images/corporate/bluearrowdowndfc.png') }}" alt="{{'bluearrowdowndfc'|trans}}" /></span></p>
                                    <p class="bluetopabstext">{{'First'|trans}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 nopad economycontainer">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 xspopupstyle">
                            <div class="col-xs-12 nopad">
                                <div class="commonpopupcoloredtext firstcoloreddivcontainer">
                                    <p>{{'Services (per person'|trans}}</p>
                                    <p>{{'Compare all services'|trans}}</p>
                                </div>
                            </div>
                            <div class="col-xs-12 nopad">
                                <p class="communtextpopup_style"><span><img class="" src="{{ generateMediaURL('/media/images/corporate/bglogo_dfc.png') }}" alt="{{'bglogo_dfc'|trans}}" /></span><span>{{'Checked baggage'|trans}}</span></p>
                            </div>
                            <div class="col-xs-12 nopad">
                                <p class="communtextpopup_style"><span><img class="" src="{{ generateMediaURL('/media/images/corporate/bglogo_dfc.png') }}" alt="{{'bglogo_dfc'|trans}}" /></span><span>{{'Cabin baggage'|trans}}</span></p>
                            </div>
                            <div class="col-xs-12 nopad">
                                <p class="communtextpopup_style"><span><img class="" src="{{ generateMediaURL('/media/images/corporate/seatlogo_dfc.png') }}" alt="{{'seatlogo_dfc'|trans}}" /></span><span>{{'Regular seat selection'|trans}}</span></p>
                            </div>

                            <div class="col-xs-12 nopad borderbetween_dfc"></div>

                            <div class="col-xs-12 nopad">
                                <p class="communtextpopup_style"><span><img class="" src="{{ generateMediaURL('/media/images/corporate/skywordslogo_dfc.png') }}" alt="{{'skywordslogo_dfc'|trans}}" /></span><span>{{'Skywards Miles'|trans}}</span></p>
                            </div>
                            <div class="col-xs-12 nopad">
                                <p class="communtextpopup_style"><span><img class="" src="{{ generateMediaURL('/media/images/corporate/upbusinesslogo_dfc.png') }}" alt="{{'upbusinesslogo_dfc'|trans}}" /></span><span>{{'Upgrade to Business'|trans}}</span></p>
                            </div>

                            <div class="col-xs-12 nopad borderbetween_dfc"></div>

                            <div class="col-xs-12 nopad">
                                <p class="communtextpopup_style"><span><img class="" src="{{ generateMediaURL('/media/images/corporate/changefeeslogo_dfc.png') }}" alt="{{'changefeeslogo_dfc'|trans}}" /></span><span>{{'Change fees'|trans}}</span></p>
                            </div>
                            <div class="col-xs-12 nopad">
                                <p class="communtextpopup_style"><span><img class="" src="{{ generateMediaURL('/media/images/corporate/refundsfees_dfc.png') }}" alt="{{'refundsfees_dfc'|trans}}" /></span><span>{{'Refunds fees'|trans}}</span></p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 xspopupstyle">
                            <div class="col-xs-12 nopad">
                                <div class="commonpopupcoloredtext sndcoloreddivcontainer">
                                    <p>{{'Flex'|trans}}</p>
                                    <p>{{'Lowest price'|trans}}</p>
                                </div>
                                <div class="col-xs-12 nopad">
                                    <p class="communtextpopup_style"><span><img class="" src="{{ generateMediaURL('/media/images/corporate/greenjuste_dfc.png') }}" alt="{{'greenjuste_dfc'|trans}}" /></span><span>{{'30kg'|trans}}</span></p>
                                </div>
                                <div class="col-xs-12 nopad">
                                    <p class="communtextpopup_style"><span><img class="" src="{{ generateMediaURL('/media/images/corporate/greenjuste_dfc.png') }}" alt="{{'greenjuste_dfc'|trans}}" /></span><span>{{'1 x 7kg'|trans}}</span></p>
                                </div>
                                <div class="col-xs-12 nopad">
                                    <p class="communtextpopup_style"><span><img class="" src="{{ generateMediaURL('/media/images/corporate/greenjuste_dfc.png') }}" alt="{{'greenjuste_dfc'|trans}}" /></span><span class="underlinedtext">{{'Complimentary'|trans}}</span></p>
                                </div>

                                <div class="col-xs-12 nopad borderbetween_dfc"></div>

                                <div class="col-xs-12 nopad">
                                    <p class="communtextpopup_style"><span><img class="" src="{{ generateMediaURL('/media/images/corporate/greenjuste_dfc.png') }}" alt="{{'greenjuste_dfc'|trans}}" /></span><span>{{'1,050 miles'|trans}}</span></p>
                                </div>
                                <div class="col-xs-12 nopad">
                                    <p class="communtextpopup_style"><span><img class="" src="{{ generateMediaURL('/media/images/corporate/greenjuste_dfc.png') }}" alt="{{'greenjuste_dfc'|trans}}" /></span><span>{{'19,500 miles'|trans}}</span></p>
                                </div>

                                <div class="col-xs-12 nopad borderbetween_dfc"></div>

                                <div class="col-xs-12 nopad">
                                    <p class="communtextpopup_style"><span><img class="" src="{{ generateMediaURL('/media/images/corporate/greylock_dfc.png') }}" alt="{{'greylock_dfc'|trans}}" /></span><span>{{'USD 15'|trans}}</span></p>
                                </div>
                                <div class="col-xs-12 nopad">
                                    <p class="communtextpopup_style"><span><img class="" src="{{ generateMediaURL('/media/images/corporate/greylock_dfc.png') }}" alt="{{'greylock_dfc'|trans}}" /></span><span>{{'USD 25'|trans}}</span></p>
                                </div>

                                <div class="col-xs-12 nopad borderbetween_dfc"></div>
                                <div class="col-xs-12 nopad textalligncenter_dfc">
                                    <p class="pricecurtextsmall">{{'USD'|trans}}</p>
                                    <p class="pricecurnumbsmall">{{'374.40'|trans}}</p>
                                </div>
                                <div class="col-xs-12 nopad">
                                    <p class="buttonspopups">{{'Select'|trans}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 xspopupstyle">
                            <div class="col-xs-12 nopad">
                                <div class="commonpopupcoloredtext thirdcoloreddivcontainer">
                                    <p>{{'Flex Plus'|trans}}</p>
                                </div>
                            </div>
                            <div class="col-xs-12 nopad">
                                <p class="communtextpopup_style"><span><img class="" src="{{ generateMediaURL('/media/images/corporate/greenjuste_dfc.png') }}" alt="{{'greenjuste_dfc'|trans}}" /></span><span>{{'35kg'|trans}}</span></p>
                            </div>
                            <div class="col-xs-12 nopad">
                                <p class="communtextpopup_style"><span><img class="" src="{{ generateMediaURL('/media/images/corporate/greenjuste_dfc.png') }}" alt="{{'greenjuste_dfc'|trans}}" /></span><span>{{'1 x7kg'|trans}}</span></p>
                            </div>
                            <div class="col-xs-12 nopad">
                                <p class="communtextpopup_style"><span><img class="" src="{{ generateMediaURL('/media/images/corporate/greenjuste_dfc.png') }}" alt="{{'greenjuste_dfc'|trans}}" /></span><span class="underlinedtext">{{'Complimentary'|trans}}</span></p>
                            </div>

                            <div class="col-xs-12 nopad borderbetween_dfc"></div>

                            <div class="col-xs-12 nopad">
                                <p class="communtextpopup_style"><span><img class="" src="{{ generateMediaURL('/media/images/corporate/greenjuste_dfc.png') }}" alt="{{'greenjuste_dfc'|trans}}" /></span><span>{{'1,400 miles'|trans}}</span></p>
                            </div>
                            <div class="col-xs-12 nopad">
                                <p class="communtextpopup_style"><span><img class="" src="{{ generateMediaURL('/media/images/corporate/greenjuste_dfc.png') }}" alt="{{'greenjuste_dfc'|trans}}" /></span><span>{{'15,000 miles'|trans}}</span></p>
                            </div>

                            <div class="col-xs-12 nopad borderbetween_dfc"></div>

                            <div class="col-xs-12 nopad">
                                <p class="communtextpopup_style"><span><img class="" src="{{ generateMediaURL('/media/images/corporate/greenjuste_dfc.png') }}" alt="{{'greenjuste_dfc'|trans}}" /></span><span>{{'No charge'|trans}}</span></p>
                            </div>
                            <div class="col-xs-12 nopad">
                                <p class="communtextpopup_style"><span><img class="" src="{{ generateMediaURL('/media/images/corporate/greenjuste_dfc.png') }}" alt="{{'greenjuste_dfc'|trans}}" /></span><span>{{'No charge'|trans}}</span></p>
                            </div>

                            <div class="col-xs-12 nopad borderbetween_dfc"></div>
                            <div class="col-xs-12 nopad textalligncenter_dfc">
                                <p class="pricecurtextsmall">{{'USD'|trans}}</p>
                                <p class="pricecurnumbsmall">{{'464.40'|trans}}</p>
                            </div>
                            <div class="col-xs-12 nopad">
                                <p class="buttonspopups">{{'Select'|trans}}</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 xspopupstyle">
                            <div class="col-xs-12 nopad">
                                <div class="commonpopupcoloredtext forthcoloreddivcontainer">
                                    <p>{{'Experience'|trans}}</p>
                                    <p>{{'Business Class'|trans}}</p>
                                </div>
                            </div>
                            <div class="col-xs-12 nopad">
                                <img class="forthconim_dfc" src="{{ generateMediaURL('/media/images/corporate/forthconim1_dfc.png') }}" alt="{{'forthconim1_dfc'|trans}}" />
                                <p class="textunderimgpopup">{{'Gourmet dining'|trans}}</p>
                            </div>
                            <div class="col-xs-12 nopad">
                                <img class="forthconim_dfc" src="{{ generateMediaURL('/media/images/corporate/forthconim2_dfc.png') }}" alt="{{'forthconim2_dfc'|trans}}" />
                                <p class="textunderimgpopup">{{'Arrive rested'|trans}}</p>
                            </div>
                            <div class="col-xs-12 nopad">
                                <img class="forthconim_dfc" src="{{ generateMediaURL('/media/images/corporate/forthconim3_dfc.png') }}" alt="{{'forthconim3_dfc'|trans}}" />
                                <p class="textunderimgpopup">{{'Fly in comfort'|trans}}</p>
                            </div>

                            <div class="col-xs-12 nopad textalligncenter_dfc">
                                <p class="pricecurtextsmall margintop6">{{'USD'|trans}}</p>
                                <p class="pricecurnumbsmall">{{'1,108.40'|trans}}</p>
                            </div>
                            <div class="col-xs-12 nopad">
                                <p class="buttonspopups">{{'Check fares'|trans}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 nopad allcontainerstyle-dfc">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 nopad leftcontsearchborder">
                            <div class="col-lg-4 col-md-3 col-sm-4 col-xs-4 nopad smalfnsnleftcontainer">
                                <p class="floatingrighttextwimg"><span>{{'B777'|trans}}</span><br>{{'EK958'|trans}}</p>
                                <img class="rightfloatingtextsearchiimg_dfc" src="{{ generateMediaURL('/media/images/corporate/rightfloatingtextsearchiimg_dfc.png') }}" alt="{{'rightfloatingtextsearchiimg_dfc'|trans}}" />
                                <p class="absolutelefttextblack">{{'02'|trans}}</p>
                            </div>
                            <div class="col-lg-8 col-md-9 col-sm-8 col-xs-8 nopad bigrightcontainerstyleout">
                                <div class="bigrightcontainerstylein">
                                    <div class="width30">
                                        <div class="textcontainer">
                                            <p class="destinationupblack">{{'BEY'|trans}}<br><span class="timedwnblack">{{'12:05'|trans}}</span></p>
                                        </div>
                                    </div>
                                    <div class="width40">
                                        <div class="twotextwzimgcontainer">
                                            <p class="treesectiontextndimg">{{'3 hrs 25 mins'|trans}}<br><span><img class="planedeparrimg" src="{{ generateMediaURL('/media/images/corporate/planedeparrimg.png') }}" alt="{{'planedeparrimg'|trans}}" /></span><br><span class="nonstopunderlined">{{'Non-stop'|trans}}</span></p>
                                        </div>
                                    </div>
                                    <div class="width30">
                                        <div class="textcontainer">
                                            <p class="destinationupblack newrightstyletext">{{'DXB'|trans}}<br><span class="timedwnblack">{{'17:30'|trans}}</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 nopad rightcontainerssmal">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 newpadforcontainers">
                                <div class="rightsmalforcontainers borderforcontainer">
                                    <p class="centerredfordivstexts">{{'From USD'|trans}}<br><span class="firstspandfc">{{'319.40'|trans}}</span><br><span class="sndspandfc">{{'Lowest price'|trans}}</span><br><span class="thirdspandfc"><img class="bluearrowdowndfc" src="{{ generateMediaURL('/media/images/corporate/bluearrowdowndfc.png') }}" alt="{{'bluearrowdowndfc'|trans}}" /></span></p>
                                    <p class="bluetopabstext">{{'Economy'|trans}}</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 newpadforcontainers">
                                <div class="rightsmalforcontainers borderforcontainer">
                                    <p class="centerredfordivstexts">{{'From USD'|trans}}<br><span class="firstspandfc">{{'1,108.40'|trans}}</span><br><span class="sndspandfc">{{'Lowest price'|trans}}</span><br><span class="thirdspandfc"><img class="bluearrowdowndfc" src="{{ generateMediaURL('/media/images/corporate/bluearrowdowndfc.png') }}" alt="{{'bluearrowdowndfc'|trans}}" /></span></p>
                                    <p class="bluetopabstext">{{'Business'|trans}}</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 newpadforcontainers">
                                <div class="rightsmalforcontainers borderforcontainer">
                                    <p class="centerredfordivstexts">{{'From USD'|trans}}<br><span class="firstspandfc">{{'2,080.00'|trans}}</span><br><span class="sndspandfc">{{'Lowest price'|trans}}</span><br><span class="thirdspandfc"><img class="bluearrowdowndfc" src="{{ generateMediaURL('/media/images/corporate/bluearrowdowndfc.png') }}" alt="{{'bluearrowdowndfc'|trans}}" /></span></p>
                                    <p class="bluetopabstext">{{'First'|trans}}</p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
{% endblock %}