{% extends 'basecorporate.html.twig' %}

{% block pagenewcss %}
    <link rel="stylesheet" type="text/css" href="{{ asset("/assets/corporate/css/styletree.css")|raw }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("/assets/corporate/css/corporate-manage-sub-accounts.css")|raw }}"/>
{% endblock %}
{% block pagenewjs %}

    <script type="text/javascript" src="{{ asset("/assets/corporate/js/corporate-manage-sub-accounts.js")|raw }}"></script>
    <script type="text/javascript" src="{{ asset("/assets/corporate/js/jstree.js")|raw }}"></script>
{% endblock %}
{% block title %}{{'Manage Subaccount'|trans}}{% endblock %}
{% block body %}
    <section class="container corporateloginwhitecontainer corporate_container1">
        <div class="col-xs-12 nopad">
            <div class="col-xs-12 nopad martop25_msa">
                <h2 class="managesubheadertext_msa">Manage / <span>sub accounts</span></h2>
            </div>
        </div>
        <div class="col-xs-12 nopad">
            <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 nopad">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
                    <img alt="greyback" src="{{ generateMediaURL('/media/images/corporate/imageinputbackgrey_msa.png') }}" class="img-responsive imageinputbackgrey_msa">
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8">
                    <div class="bordered-divgrey_msa">
			<p class="likeinputdivtext_msa">{{'company name:'|trans}} <span>Michel Sfeir Company</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 nopad martop86">
            <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 nopad">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
                    <img alt="greyback" src="{{ generateMediaURL('/media/images/corporate/imageinputbackgreydarck_msa.png') }}" class="img-responsive imageinputbackgrey_msa">
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8">
                    <div class="bordered-divgrey_msa">
                        <img alt="contact" src="{{ generateMediaURL('/media/images/corporate/contactlogo_msa.png') }}" class="contactlogo_msa">
                        <p class="likeinputdivtext_msa">{{'name:'|trans}} <span>Michel Sfeir</span></p>
                        <p class="likeinputdivtextemail_msa">{{'email:'|trans}} <span>mail@touristtube.com</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 nopad margintop10">
            <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8 nopad butxsfullwidth">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 butxsfullwidth">
		    <a rel="nofollow" title="{{ 'add sub account'|trans }}" href="#popupAddSubAccount" class="buttonscommunstyle buttonsAddSub buttonsAddFancy">{{'add'|trans}}</a>
                </div>
                {#<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 butxsfullwidth">
                    <p class="buttonscommunstyle">delete</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 butxsfullwidth">
                    <p class="buttonscommunstyle">edit</p>
                </div>#}
            </div>
            {#<div class="col-lg-6 col-md-6 col-sm-4 col-xs-4 nopad butxsfullwidth xstextalligncenter">
                <button name="" type="submit" class="searchlogo_msa"> </button>
            </div>#}
        </div>
        <div class="col-xs-12 nopad margintop10">
            <div id="jstree_subA" class="demo">
                <ul>
                    <li role="treeitem" aria-selected="true" aria-level="1" aria-labelledby="demo_root_1_anchor" aria-expanded="true" aria-busy="false" class="pinkarrowroot">
			<a rel="nofollow">Root 1 <div class="buttoncontent"><p class="buttonstreestyle buttonsDeleteSub">{{'delete'|trans}}</p><p href="#popupAddSubAccount" class="buttonstreestyle buttonsAddSub buttonsAddFancy">{{'edit'|trans}}</p><p href="#popupAddSubAccount" class="buttonstreestyle buttonsAddSub buttonsAddFancy">{{'add'|trans}}</p></div></a>			
                        <ul role="group" class="jstree-children">
                            <li role="treeitem" aria-selected="false" aria-level="2" aria-labelledby="j1_3_anchor" class="shildlogo" >
                                <a rel="nofollow">Child 1 <div class="buttoncontent"><p class="buttonstreestyle buttonsDeleteSub">{{'delete'|trans}}</p><p href="#popupAddSubAccount" class="buttonstreestyle buttonsAddSub buttonsAddFancy">{{'edit'|trans}}</p><p href="#popupAddSubAccount" class="buttonstreestyle buttonsAddSub buttonsAddFancy">{{'add'|trans}}</p></div></a>
                                <ul role="group" class="jstree-children">
                                    <li role="treeitem" aria-selected="false" aria-level="2" aria-labelledby="j1_3_anchor" >
                                        <a rel="nofollow">sub Child 1 <div class="buttoncontent"><p class="buttonstreestyle buttonsDeleteSub">{{'delete'|trans}}</p><p href="#popupAddSubAccount" class="buttonstreestyle buttonsAddSub buttonsAddFancy">{{'edit'|trans}}</p><p href="#popupAddSubAccount" class="buttonstreestyle buttonsAddSub buttonsAddFancy">{{'add'|trans}}</p></div></a>
                                    </li>
                                    <li role="treeitem" aria-selected="false" aria-level="2" aria-labelledby="j1_3_anchor" >
                                        <a rel="nofollow">sub Child 2 <div class="buttoncontent"><p class="buttonstreestyle buttonsDeleteSub">{{'delete'|trans}}</p><p href="#popupAddSubAccount" class="buttonstreestyle buttonsAddSub buttonsAddFancy">{{'edit'|trans}}</p><p href="#popupAddSubAccount" class="buttonstreestyle buttonsAddSub buttonsAddFancy">{{'add'|trans}}</p></div></a>
                                    </li>
                                </ul>
                            </li>
                            <li role="treeitem" aria-selected="false" aria-level="2" aria-labelledby="j1_3_anchor" class="shildlogo" >
                                <a rel="nofollow">Child 2 <div class="buttoncontent"><p class="buttonstreestyle buttonsDeleteSub">{{'delete'|trans}}</p><p href="#popupAddSubAccount" class="buttonstreestyle buttonsAddSub buttonsAddFancy">{{'edit'|trans}}</p><p href="#popupAddSubAccount" class="buttonstreestyle buttonsAddSub buttonsAddFancy">{{'add'|trans}}</p></div></a>
                            </li>
                        </ul>
                    </li>
                    <li role="treeitem" aria-selected="true" aria-level="1" aria-labelledby="demo_root_1_anchor" aria-expanded="true" aria-busy="false" class="pinkarrowroot">
			<a rel="nofollow">Root 2 <div class="buttoncontent"><p class="buttonstreestyle buttonsDeleteSub">{{'delete'|trans}}</p><p href="#popupAddSubAccount" class="buttonstreestyle buttonsAddSub buttonsAddFancy">{{'edit'|trans}}</p><p href="#popupAddSubAccount" class="buttonstreestyle buttonsAddSub buttonsAddFancy">{{'add'|trans}}</p></div></a>
                        <ul role="group" class="jstree-children">
                            <li role="treeitem" aria-selected="false" aria-level="2" aria-labelledby="j1_3_anchor" class="shildlogo"  >
                                <a rel="nofollow">Child 1 <div class="buttoncontent"><p class="buttonstreestyle buttonsDeleteSub">{{'delete'|trans}}</p><p href="#popupAddSubAccount" class="buttonstreestyle buttonsAddSub buttonsAddFancy">{{'edit'|trans}}</p><p href="#popupAddSubAccount" class="buttonstreestyle buttonsAddSub buttonsAddFancy">{{'add'|trans}}</p></div></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 nopad">
            <div id="popupAddSubAccount" class="popupconatainer_msa displaynone">
                <div class="col-xs-12 nopad">
                    <div class="col-xs-12 nopad">
                        <div class="selectboxes_msapopup">
			    <input placeholder="{{'user'|trans}}" class="popupInputs" type="text">                            
                        </div>
                    </div>
                    <div class="col-xs-12 nopad">
                        <div class="selectboxes_msapopup">
                            <select name="" class="">
                                <option value="">{{'parent'|trans}}</option>
                                <option value="1">A</option>
                                <option value="S">B</option>
                                <option value="C">C</option>
                                <option value="F">D</option>
                            </select>
                        </div>
                    </div>                    
                    <div class="col-xs-12 nopad">
                        <div class="checkbox">
                            <input id="checkbox1" class="checkboxlabelinput" value="1" name="" type="checkbox"><label for="checkbox1" class="checkboxlabel">{{'manage own sub account'|trans}}</label>
                        </div>
                    </div>
                    <div class="col-xs-12 nopad">
			<p class="msapopupP">{{'need approval from'|trans}}</p>
                        <div class="checkbox chekboxcontainerwidth margintop0">
                            <div class="col-xs-12 nopad marginbut10_popupradio">
                                <input id="radio1" class="checkboxlabelinput_msapopup" value="1" name="group1" type="radio" checked><label for="radio1" class="checkboxlabel_msapopup marginlabelradio_popup">{{'None'|trans}}</label>
                            </div>
                            <div class="col-xs-12 nopad marginbut10_popupradio">
                                <input id="radio2" class="checkboxlabelinput_msapopup" value="2" name="group1" type="radio"><label for="radio2" class="checkboxlabel_msapopup marginlabelradio_popup">{{'Parent'|trans}}</label>
                            </div>
                            <div class="col-xs-12 nopad marginbut10_popupradio">
                                <input id="radio3" class="checkboxlabelinput_msapopup" value="3" name="group1" type="radio"><label for="radio3" class="checkboxlabel_msapopup marginlabelradio_popup">{{'Main'|trans}}</label>
                            </div>
                            <div class="col-xs-12 nopad marginbut10_popupradio">
                                <input id="radio4" class="checkboxlabelinput_msapopup" value="4" name="group1" type="radio"><label for="radio4" class="checkboxlabel_msapopup marginlabelradio_popup">{{'Other'|trans}}</label>
                            </div>
                        </div>
                    </div>
		    <div class="popupButon">add</div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}