<div class="col-xs-12 changepasswoerdpopuocontainer nopad">
	<script type="text/javascript" src="{{ asset("/assets/corporate/js/change-password.js") }}"></script>
	<div class="row no-margin">
		<div class="col-xs-12">
			<div class="row no-margin">
				<div class="col-xs-12 nopad margin_bottom_10">
					<h2 class="popup_title">
						{{'Change password'|trans}}
					</h2>
				</div>
				<form id="chgPassformId" method="POST" action="{{ generateLangRoute(LanguageGet, '_corporate_update_password') }}">
					<div class="col-xs-12 nopad">
						<div class="row no-margin">
							<input type="hidden" name="uname" value="{{uname|raw}}">
							<div class="col-xs-12 nopad popupinput">
								<label id="oldPassword" class="form-check-label">{{'Old password'|trans}}</label> <input type="password"
									placeholder="{{'old password'|trans}}" name="OldPassword" id="OldPassword" class="col-xs-12" required
									label="#oldPassword"
								>
							</div>
							<div class="col-xs-12 nopad popupinput">
								<label id="newPassword" class="form-check-label">{{'Enter new password'|trans}}</label> <input type="password"
									placeholder="{{'new password'|trans}}" name="NewPassword" id="NewPassword" class="col-xs-12"
									required label="#newPassword"
								>
								<p class="password_hints">
									{{ 'should be at least 8 characters long'|trans }}
									<br />
									{{ 'and must be a combination of letters and numbers.'|trans }}
								</p>
							</div>
							<div class="col-xs-12 nopad popupinput">
								<label id="confirmPassword" class="form-check-label">{{'Confirm new password'|trans}}</label> <input
									type="password" placeholder="{{'new password'|trans}}" name="ConfirmNewPassword"
									class="col-xs-12 ConfirmNewPassword" required label="#confirmPassword"
								>
							</div>
							<div class="col-xs-12 nopad popupinput">
								<p class="password_hints error_hints"></p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 nopad">
						<div class="row no-margin">
							<div class="col-xs-12 nopad">
								<div class="row corporate_small_row_margin">
									<div class="col-xs-12 corporate_small_col_padding">
										<button id="submit" type="button" class="btn submit_yellow">
											{{'change password'|trans}}
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
