{% extends 'basecorporate.html.twig' %}

{% block pagenewcss %}
    <link rel="stylesheet" type="text/css" href="{{ asset("/assets/common/css/daterangepicker.min.css")|raw }}" >
    <link rel="stylesheet" type="text/css" href="{{ asset("/assets/corporate/css/corporate-menu_theme"~corporate_theme~".css")|raw }}"/>
    {#<link rel="stylesheet" type="text/css" href="{{ asset("/assets/corporate/css/corporate-menu_theme2.css")|raw }}"/>#}
    {#<link rel="stylesheet" type="text/css" href="{{ asset("/assets/corporate/css/corporate-menu_theme3.css")|raw }}"/>#}
    <link rel="stylesheet" type="text/css" href="{{ asset("/assets/corporate/css/corporate-flightandmenue.css")|raw }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("/assets/corporate/css/corporate-attractions.css")|raw }}"/>
{% endblock %}
{% block pagenewjs %}
    <script type="text/javascript" src="{{ asset("/assets/common/js/moment.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("/assets/common/js/jquery.daterangepicker.js") }}"></script>
    <script type="text/javascript" src="{{ asset("/assets/deals/js/deals1.js")|raw }}"></script>
    <script type="text/javascript" src="{{ asset("/assets/corporate/js/corporate-flightandmenue.js")|raw }}"></script>
{% endblock %}
{% block body %} 
    {% set page_menu_name = 'attractions' %}
    <section class="container corporate_container1">
        <div class="col-xs-12 nopad">
            <div class="row rowspecialstyle">
		<div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 nopad leftmenuebackcolor_corp borderrightgrey_corpfl">
		    {% include '@Corporate/corporate/corporate-leftmenue.twig' %}
		</div>
		<div class="col-lg-8 col-md-10 col-sm-8 col-xs-12 nopad contentbackcolor_corp">
		    <div class="col-xs-12 nopad">
			<div class="col-lg-6 col-md-7 col-sm-12 col-xs-12 nopad">
			    <form id="dealsform" name="dealsform" class="col-lg-6 col-md-9 col-sm-12 col-xs-12 nopad"  method="post" action="{{ (dealSearchFormAction is defined)  ? dealSearchFormAction : generateLangRoute(LanguageGet,'_dealSearch', {'type': 'all'}) }}" autocomplete="off">
				<h2 class="headerstyle_corp">{{'step1'|trans}} <span class="error_cnt_corporate"></span></h2>

				<div class="col-xs-12 nopad">
				    <div class="col-xs-12 marginbut10_corfl newpad">
					<div id="deal_search_container" class="deparrival_corpflight">
					    <input id="deal_search" name="city" placeholder="{{'Enter a destination for your holiday'|trans}}" class="input_corpfl_style deparrival_input_corpfl" type="text"  data-id="0" data-city="" data-state="" data-contryc="" data-type="">
					    <input id="cityName" class="inputData" name="cityName" value="{{ (city is defined)  ? city }}" type="hidden">
					    <input id="dealId" class="inputData" name="dealId" value="" type="hidden">
					    <input id="cityId" class="inputData" name="cityId" value="" type="hidden">
					</div>
				    </div>
				</div>
				<div id="datesDealsContainer" class="col-xs-12 nopad">
				    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 newpad">
					<div id="fromContainerD" class="deparrival_corphotel">
					    <input type="text" id="startDate" name="startDate" placeholder="{{'dd/mm/yy'|trans}}" value="{{ (startDate is defined)  ? startDate }}" class="input_corpfl_style">
					</div>
				    </div>
				    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 newpad">
					<div id="toContainerD" class="deparrival_corphotel">
					    <input id="endDate" type="text" name="endDate" placeholder="{{'dd/mm/yy'|trans}}" value="{{ (endDate is defined)  ? endDate }}" class="input_corpfl_style">
					</div>
				    </div>
				</div>
				<div class="col-xs-12 nopad text-allign-center">
				    <input id="webgeo_city" type="hidden" value="{{ (webgeoCityId is defined)  ? webgeoCityId }}" name="webgeo_city">
				    <input id="type" type="hidden" value="all_types" name="types">
				    <button name="search" type="submit" class="submitcororateflight"></button>
				</div>
			    </form>	
			</div>
		    </div>
		</div>
            </div>
        </div>
    </section>
{% endblock %}