<div class="row no-margin margin_bottom_20">
    <div class="col-xs-12 nopad">
        <p class="blue font-24 line-height-26 padding_left_17">{{'Filters'|trans}}</p>
    </div>
</div>
<div class="row no-margin">
    <div class="col-xs-12 nopad">
        <div class="row no-margin">
            <div class="col-xs-12 nopad">
                <p class="leftmenue_subtitles"><i class="fas fa-angle-right fa-lg"></i>{{'By date Interval'|trans}}</p>
            </div>
        </div>
        <div class="row no-margin">
            <div id="dateRange" class="col-xs-12 nopad">
                <div class="row no-margin">
                    <div id="fromContainer" class="col-xs-12 nopad mybookinginput">
                        <input type="text" class="col-xs-12" id="fromDate" name="fromDateC" value="" placeholder="{{'from'|trans}}">
                    </div>
                </div>
                <div class="row no-margin">
                    <div id="toContainer" class="col-xs-12 nopad mybookinginput">
                        <input type="text" class="col-xs-12" id="toDate" name="toDateC" value="" placeholder="{{'to'|trans}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row no-margin margin_top_20">
    <div class="col-xs-12 nopad">
        <div class="row no-margin">
            <div class="col-xs-12 nopad">
                <p class="leftmenue_subtitles"><i class="fas fa-angle-right fa-lg"></i>{{'By Type of account'|trans}}</p>
            </div>
        </div>
        <div class="row no-margin">
            <div id="curr" class="col-xs-12 nopad mybookinginput">
                <select name="type_of_account" class="">
                    <option value="">{{'Type of account'|trans}}</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="row no-margin margin_top_20">
    <div class="col-xs-12 nopad">
        <div class="row no-margin">
            <div class="col-xs-12 nopad">
                <p class="leftmenue_subtitles"><i class="fas fa-angle-right fa-lg"></i>{{'by name of account'|trans}}</p>
            </div>
        </div>
        <div class="row no-margin">
            <div id="" class="col-xs-12 nopad mybookinginput">
                <input type="text" class="col-xs-12" id="" name="" value="" placeholder="{{'Type name of the account'|trans}}">
            </div>
        </div>
    </div>
</div>
<div class="row no-margin margin_top_20">
    <div class="col-xs-12 nopad">
        <div class="row no-margin">
            <div class="col-xs-12 nopad">
                <button id="" class="btn yellow_search_common_button">{{'Search'|trans}}</button>
            </div>
        </div>
    </div>
</div>