{# empty Twig template #}
{% if case == 3 %}
<tr>
<td height="29" bgcolor="#FFFFFF" width="522"></td>
</tr>
<tr>
<td>
<table width="522" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
<tr height="17">
<td width="69" height="17"><font face="Arial, Helvetica, sans-serif" size="3" color="#e7ba20">{{array[0]}}</font></td>
<td rowspan="2" width="3" height="34"><img src="{{link_path}}email-network-separ.jpg" alt="" /></td>
<td width="13"></td>
<td width="67" height="17"><font face="Arial, Helvetica, sans-serif" size="3" color="#e7ba20">{{array[1]}}</font></td>
<td rowspan="2" width="3" height="34"><img src="{{link_path}}email-network-separ.jpg" alt="" /></td>
<td width="13"></td>
<td width="81" height="17"><font face="Arial, Helvetica, sans-serif" size="3" color="#e7ba20">{{array[2]}}</font></td>
<td rowspan="2" width="3" height="34"><img src="{{link_path}}email-network-separ.jpg" alt="" /></td>
<td width="13"></td>
<td width="79" height="17"><font face="Arial, Helvetica, sans-serif" size="3" color="#e7ba20">{{array[3]}}</font></td>
<td rowspan="2" width="3" height="34"><img src="{{link_path}}email-network-separ.jpg" alt="" /></td>
<td width="13"></td>
<td height="17"><font face="Arial, Helvetica, sans-serif" size="3" color="#e7ba20">{{array[4]}}</font></td>
</tr>
<tr height="17">
<td height="17"><font face="Arial, Helvetica, sans-serif" size="2" color="#807f7f">new friends</font></td>
<td width="13"></td>
<td height="17"><font face="Arial, Helvetica, sans-serif" size="2" color="#807f7f">lost friends</font></td>
<td width="13"></td>
<td height="17"><font face="Arial, Helvetica, sans-serif" size="2" color="#807f7f">new followers</font></td>
<td width="13"></td>
<td height="17"><font face="Arial, Helvetica, sans-serif" size="2" color="#807f7f">lost followers</font></td>
<td width="13"></td>
<td height="17"><font face="Arial, Helvetica, sans-serif" size="2" color="#807f7f">network growth</font></td>
</tr>
{% else %}
<tr>
<td>
<table width="522" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
<tr height="11">
{% endif %}