{# empty Twig template #}
<body>
<table width="633" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
<tbody>
<tr>
<td width="633" valign="top" height="49">
<table width="633" height="50" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="43" height="47" bgcolor="#000000"></td>
<td rowspan="3" width="130" bgcolor="#ffffff" valign="top"><img src="{{ttpath}}/ttlogochannels.jpg" width="130" height="50"/></td>
<td width="348" bgcolor="#000000">
<table width="348" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="8" rowspan="2" bgcolor="#000000"></td>
<td bgcolor="#000000" height="6" valign="top"></td>
</tr>
<tr>
<td bgcolor="#000000" height="30" valign="top"><font face="Arial, Helvetica, sans-serif" size="2" color="#ffffff"><strong><i></i></strong></font></td>
</tr>
</table>
</td>
<td width="112" bgcolor="#e9c21b" align="center"><img src="{{ttpath}}/touristchannels.jpg" width="94" height="25"/></td>
</tr>
<tr>
<td height="3" bgcolor="#FFFFFF"></td>
<td height="3" colspan="2" bgcolor="#FFFFFF"></td>
</tr>
<tr><td height="24" bgcolor="#FFFFFF" colspan="4"></td></tr>
</table>
</td>
</tr>
<tr>
<td width="633" valign="top">
<table cellspacing="0" cellpadding="0" width="633" border="0">
<tr>
<td bgcolor="#FFFFFF" width="43"></td>
<td>
<table width="478" border="0" cellspacing="0" cellpadding="0">
<tr><td height="3" valign="top"></td></tr>
<tr>
<td width="478" align="left" height="47" valign="top"></td>
</tr>
<tr>
<td valign="top">
    <span style="color: #1f1f1f; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:20px;">
        If you did not create a Channel on Tourist Tube, and believe this email was sent  by error or someone 
        might have used your email, please confirm to delete your email address {{to_email}} from the channel account {{channel_account}}.
    </span></td>
</tr>
<tr><td height="41"></td></tr>
<tr>
<td valign="top">
    <font face="Arial, Helvetica, sans-serif" size="2" color="#1f1f1f">
    <strong><a href="https://www{{subdomain_suffix|raw}}.touristtube.com" target="_blank" style="text-decoration: none; color:#000000" 
               onmouseover="this.style.color = \'#e8c11f\'" onmouseout="this.style.color = \'#000000\'">confirm</a>
        &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
        &nbsp;<a href="https://www{{subdomain_suffix|raw}}.touristtube.com" target="_blank" style="text-decoration: none; color:#000000" 
onmouseover="this.style.color = \'#e8c11f\'" onmouseout="this.style.color = \'#000000\'">It's ok, I created this Channel</a>
    </strong></font>
</td>
</tr>
<tr><td height="57"></td></tr>
</table>
</td>
<td bgcolor="#FFFFFF" width="20" valign="top"></td>
<td bgcolor="#FFFFFF" width="92" valign="top"><img src="{{ttpath}}comachannels.jpg" width="58" height="59" /></td>
</tr>
</table>
</td>
</tr>
<tr>
<td width="633" valign="top">
<table cellspacing="0" cellpadding="0" width="633" border="0">
<tr>
<td scope="row" height="1" width="16" bgcolor="#FFFFFF"></td>
<td colspan="3" scope="row" width="601" height="1" bgcolor="#dedede"></td>
<td scope="row" height="1" width="16" bgcolor="#FFFFFF"></td>
</tr>
<tr>
<td height="19" bgcolor="#FFFFFF" colspan="5"></td>
</tr>
</table>
</td>
</tr>
<tr>
<table width="633" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF">
<tbody>
<tr>
<td width="633" valign="bottom" align="center" height="10">
    <font face="Arial, Helvetica, sans-serif" size="1" color="#959292">
    In case {{to_email}} is your email and you wish to stop receiving future emails from</font>
</td>
</tr>
<tr>
<td width="633" height="13" valign="bottom" align="center"><font face="Arial, Helvetica, sans-serif" size="1" color="#959292">
Tourist Tube, change your <a href="{{channel_not_settings}}" target="_blank" style="text-decoration: none; color:#e8c11f">
channel notifications settings.</a></font>
</td>
</tr>
<tr>
<td height="56"></td>
</tr>
</tbody>
</table>
</tr>
</tbody>
</table><br><br>

</body>