<div id="fancypopupcontainer" class="col-xs-12 nopad" style="display:none;padding: 10px;">
    <div class="row no-margin">
        <div class="col-sm-8 col-xs-12 col-sm-push-2 nopad">
            <div class="row no-margin">
                <div class="col-xs-12 nopad">
                    <h2 class="popup_title">Add/Edit payment</h2>
                </div>
                <div class="col-xs-12 nopad">
                    <div class="row no-margin">
                        <div id="" class="col-xs-12 nopad popupinput">
                            <label class="form-check-label">{{'Date'|trans}}</label>
                            <input type="text" class="col-xs-12" id="" name="" value="" placeholder="{{'Date'|trans}}">
                        </div>
                        <div id="" class="col-xs-12 nopad popupinput">
                            <label class="form-check-label">{{'Account'|trans}}</label>
                            <input type="text" class="col-xs-12" id="" name="" value="" placeholder="{{'Touristtube'|trans}}">
                        </div>
                        <div id="" class="col-xs-12 nopad popupinput">
                            <label class="form-check-label">{{'Receiver'|trans}}</label>
                            <input type="text" class="col-xs-12" id="" name="" value="" placeholder="{{'Michel Sfeir'|trans}}">
                        </div>
                        <div id="" class="col-xs-12 nopad popupinput">
                            <label class="form-check-label">{{'Currency'|trans}}</label>
                            <input type="text" class="col-xs-12" id="" name="" value="" placeholder="{{'USD'|trans}}">
                        </div>
                        <div id="" class="col-xs-12 nopad popupinput">
                            <label class="form-check-label">{{'Description'|trans}}</label>
                            <textarea class="">description....</textarea> 
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 nopad">
                    <div class="row no-margin">
                        <div class="col-xs-12 nopad">
                            <div class="row corporate_small_row_margin">
                                <div class="col-sm-6 col-xs-12 corporate_small_col_padding">
                                    <button id="" type="button" class="btn submit_yellow">{{'Save'|trans}}</button>
                                </div>
                                <div class="col-sm-6 col-xs-12 corporate_small_col_padding"">
                                    <button id="" type="button" class="btn submit_yellow">{{'Cancel'|trans}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>