{% extends 'basecorporate.html.twig' %}

{% block pagenewcss %}
    <link rel="stylesheet" type="text/css" href="{{ asset('/assets/vendor/jquery/plugins/autocomplete/devbridge/css/jquery.auto-complete.css')|raw }}" >
{% endblock %}
{% block pagenewjs %}
    <script type="text/javascript" src="{{ asset('/assets/common/tt/js/autocomplete/TTAutocomplete.js')|raw }}"></script>
    <script type="text/javascript" src="{{ asset('/assets/common/tt/js/form/TTFormValidator.js')|raw }}"></script>
    <script type="text/javascript" src="{{ asset('/assets/vendor/jquery/plugins/autocomplete/devbridge/js/jquery.autocomplete.min.js')|raw }}"></script>
    <script type="text/javascript" src="{{ asset('/assets/vendor/jquery/plugins/form_validator/validator.min.js')|raw }}"></script>
    <script type="text/javascript" src="{{ asset('/assets/vendor/bootstrap/4.0/assets/popper.min.js')|raw }}" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ asset('/assets/vendor/bootstrap/js/bootstrap.min.js')|raw }}" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ asset('/assets/common/tt/js/buttons/TTButtons.js')|raw }}"></script>
	<script type="text/javascript" src="{{ asset('/assets/corporate/admin/js/corporate-profilesEdit.js')|raw }}"></script>
{% endblock %}
{% block title %}{{'Profiles Add/Edit'|trans}}{% endblock %}
{% block body %}
    {% set defaultValues = {'p_id': 0, 'p_name': '', 'p_accountId': 0 , 'accountName': '' } %}

    {% set profile = defaultValues|merge(profile) %}
    <section class="container corporateloginwhitecontainer corporate_container1">
	<div class="allaccountlist col-xs-12">
	    <div class="pageName">
		<h1>{{'Profiles Add/Edit'|trans}}</h1>
	    </div></br>
	    <form id="formId" method="POST" action="{{ generateLangRoute(LanguageGet, '_corpo_profiles_addSubmit') }}">
		<input type="hidden" class="id" name="id" value="{{profile.p_id|raw}}">
		<div class="inputFields"><label id="nameLabel">{{'Name'|trans}} </label></div>
		<input type="text" class="inputForm" name="name" value="{{profile.p_name|raw}}" required label="#nameLabel"> 
		<div class="clear"></div>
		<div class="inputFields"><label id="accountNameLabel">{{'Account'|trans}} </label></div>
		<input type="text" class="inputForm" name="account" data-toggle="ttautocompleteAccount" id="accountName" value="{{(profile.p_accountId ? profile.accountName : '')|raw}}" placeholder="{{'Search for parent account'|trans}}" required label="#accountNameLabel"/>
		{% if profile.p_accountId %}
		    <input type="hidden" id="accountNameCode" name="accountCode" value="{{profile.p_accountId|raw}}">
		{% endif %}
		<div class="clear"></div>
		<div class="inputFields tt_buttons_bar"><button data-role="button" data-type="validate" type="submit">{{'Submit'|trans}}</button></div>
	    </form>
	</div>
    </section>
{% endblock %}